{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        #terrein-image {
            background-image: url(/images/part/terrein.jpg);
        }
        #accomodatie-image {
            background-image: url(/images/part/accomodatie.jpg);
        }
        #price {
            font-size: 28pt;
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block main %}
    <main>
        <article class="white block">
            <form method="post">
                <div class="part text">
                    <header>
                        <h1>Reservatie aanvragen</h1>
                    <h2>Van {{ data.startdatum }} tot {{ data.einddatum }} voor {{ data.personen + data.personen_tenten }} personen.</h2>
                    </header>

                    {% if errors|length > 0 %}
                        <ul class="error">
                                <li>Controleer onderstaande foutmeldingen:</li>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <input type="hidden" name="startdatum" value="{{ data.startdatum | e('html_attr') }}">
                    <input type="hidden" name="einddatum" value="{{ data.einddatum | e('html_attr') }}">
                    <input type="hidden" name="personen" value="{{ data.personen | e('html_attr') }}">
                    <input type="hidden" name="personen_tenten" value="{{ data.personen_tenten | e('html_attr') }}">

                    <div class="splitted">
                        <div class="part column first">
                            <label>Groepsnaam</label>
                            <input type="text" name="groep" value="{{ data.groep | e('html_attr') }}" placeholder="Naam van de jeugdbeweging / organisatie">

                            <label>Naam verantwoordelijke</label>
                            <input type="text" name="contact_naam" value="{{ data.contact_naam | e('html_attr') }}" placeholder="Uw naam">

                            <label>GSM verantwoordelijke</label>
                            <input type="text" name="contact_gsm" value="{{ data.contact_gsm | e('html_attr') }}" placeholder="Uw gsm-nummer">

                            <label>E-mailadres verantwoordelijke</label>
                            <input type="email" name="contact_email" value="{{ data.contact_email | e('html_attr') }}" placeholder="Uw e-mailadres">

                        </div>
                        <div class="part column last">
                            <label>Info</label>
                            <textarea placeholder="Wie zijn jullie en waarvoor huren jullie ons lokaal?" name="info">{{ data.info }}</textarea>

                            <label>Opmerkingen</label>
                            <textarea placeholder="Eventuele vragen of opmerkingen" name="opmerkingen">{{ data.opmerkingen }}</textarea>
                        </div>
                    </div>

                    <p>Na het indienen ontvang je een e-mail met het huurcontract. Zodra dat ingevuld en doorgestuurd is, leggen we de reservatie vast. Als we alles eenmaal hebben goedgekeurd moet de waarborg onmiddelijk gestort worden, of we zijn genoodzaakt om de reservatie terug vrij te geven.</p>
                  
                    <footer>
                        <input type="submit" name="submit" value="Indienen" class="fill merlot">
                        <a href="/verhuur" class="button merlot">Annuleren</a>
                    </footer>
                </div>
            </form>
        </article>
    </main>
{% endblock %}