{% set title = 'Algemeen' %}
{% set description = 'Informatie over onze locatie, inschrijven, op kamp gaan en de takkenverdeling.' %}
{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block main %}
    <main>
        <section class="block white with-menu">
            <nav>
                <a href="/info" class="selected">Algemeen</a>
                <a href="/info/oudercomite">Oudercomite</a>
                <a href="/info/vzw">VZW</a>
                <a href="/info/geschiedenis">Geschiedenis</a>
            </nav>
            <div>
                <h1>Wie zijn wij?</h1>
                <p>Scouts Sint-Jan Wetteren bestaat uit een ongelofelijk grote groep vrijwilligers, waaronder natuurlijk (oud-)leiding, een oudercomité, een VZW en nog veel meer vrijwilligers voor of achter de schermen! Onze 28-koppige leidingsploeg zal er samen met het groepsleidingsduo Kato en Jasper in 2019-2020 opnieuw voor zorgen dat (uw) kinderen zalige zondagen, waanzinnige weekends en keitoffe kampen zullen beleven!</p>
            </div>
        </section>
    </main>
{% endblock %}