{% set title = 'Algemeen' %}
{% set description = 'Informatie over onze locatie, inschrijven, op kamp gaan en de takkenverdeling.' %}
{% extends "base.html" %}

{% block head %}
{% endblock %}

{% use "pages/info/_map.html" %}

{% block main %}
    <main>
        <section class="block white with-menu">
            <nav>
                {% include 'pages/info/_menu.html' %}
            </nav>
            <div>
                <h1>Wie zijn wij?</h1>
                <img src="/sint-jan/images/leiding.jpg">
                <p>Scouts Sint-Jan Wetteren bestaat uit een ongelofelijk grote groep vrijwilligers, waaronder natuurlijk (oud-)leiding, een oudercomité, een VZW en nog veel meer vrijwilligers voor of achter de schermen! Onze 35-koppige leidingsploeg zal er samen met groepsleiding Eva, Nel en Hannes in 2021-2022 opnieuw voor zorgen dat (uw) kinderen zalige zondagen, waanzinnige weekends en keitoffe kampen zullen beleven!</p>
            
                <article class="block blue">
                    <h1>Wat doen we?</h1>
                    <p>We komen elke zondag van 14u tot 17u -of 17u30 voor de oudere groepen- samen en spelen allerlei leuke spelletjes waarbij plezier, vriendschap en veiligheid centraal staan! Soms spelen we eens een avondspel op vrijdag of zaterdag en we gaan ook elk jaar twee keer op weekend en in de zomervakantie (juli) op kamp!</p>
                    <p>Daarnaast organiseren we jaarlijks tal van activiteiten, zoals een eetfestijn, pannenkoekenverkoop en een fuif, maar ook een groepsspel, familiedag, noem maar op!</p>
                </article>

                <article class="block">
                    <h1>Takverdeling</h1>
                    <p>Bij Sint-Jan worden de kinderen onderverdeeld in 9 verschillende leeftijdsgroepen of takken. Bovendien zijn onze takken gesplitst in jongens en meisjes, behalve bij de akabe, kapoenen en jin. Hieronder vindt u een klein overzicht:</p>
                    
                    <div class="splitted blocked auto">
                        <a href="/takken/akabe">
                            <article>
                                <h1 class="prefix">Akabe <span>(°{{ takkenverdeling.akabe }})</span></h1>
                                <p>Jongens en meisjes van 6-20 jaar die wat meer aandacht en zorg nodig hebben</p>
                            </article>
                        </a>
                        <a href="/takken/kapoenen">
                            <article>
                                <h1 class="prefix">Kapoenen <span>(°{{ takkenverdeling.kapoenen }})</span></h1>
                                <p>Jongens en meisjes van 6 tot 8 jaar.</p>
                            </article>
                        </a>
                        <a href="/takken/kabouters">
                            <article>
                                <h1 class="prefix">Kabouters <span>(°{{ takkenverdeling.kabouters }})</span></h1>
                                <p>Meisjes van 8 tot 10 jaar.</p>
                            </article>
                        </a>
                        <a href="/takken/welpen">
                            <article>
                                <h1 class="prefix">Welpen <span>(°{{ takkenverdeling.welpen }})</span></h1>
                                <p>Jongens van 8 tot 10 jaar.</p>
                            </article>
                        </a>

                        <a href="/takken/jonggidsen">
                            <article>
                                <h1 class="prefix">Jonggidsen <span>(°{{ takkenverdeling.jonggidsen }})</span></h1>
                                <p>Meisjes van 11 tot 13 jaar.</p>
                            </article>
                        </a>
                        <a href="/takken/jongverkenners">
                            <article>
                                <h1 class="prefix">Jongverkenners <span>(°{{ takkenverdeling.jongverkenners }})</span></h1>
                                <p>Jongens van 11 tot 13 jaar.</p>
                            </article>
                        </a>
                        <a href="/takken/gidsen">
                            <article>
                                <h1 class="prefix">Gidsen <span>(°{{ takkenverdeling.gidsen }})</span></h1>
                                <p>Meisjes van 14 tot 16 jaar.</p>
                            </article>
                        </a>
                        <a href="/takken/verkenners">
                            <article>
                                <h1 class="prefix">Verkenners <span>(°{{ takkenverdeling.verkenners }})</span></h1>
                                <p>Jongens van 14 tot 16 jaar.</p>
                            </article>
                        </a>
                        <a href="/takken/jin">
                            <article>
                                <h1 class="prefix">Jin <span>(°{{ takkenverdeling.jin }})</span></h1>
                                <p>Jongens en meisjes van 17 of 18 jaar. Ze leven zich uit in hun laatste jaar als lid.</p>
                            </article>
                        </a>

                    </div>
                </article>

                <article class="block blue">
                    <h1>Locatie</h1>
                    <div id="map" class="map" style="height: 400px; max-height: 50vh; margin-bottom: 25px;"></div>
                    <p>Onze terreinen bevinden zich middenin de driehoek Wetteren Ten Ede-Overschelde-Laarne in de Groenstraat, een straat die zijn naam niet gestolen heeft:  onze scouts wordt namelijk volledig omgeven door speelbossen en velden. Het is er heel rustig en op zondag geldt er bovendien eenrichtingsverkeer (van de Laarnestraat richting de Slagstraat), om de situatie er nog veiliger te maken.</p>
                    <p>Onze lokalen worden ook wel ‘De Leeuwerik’ genoemd en <a href="https://www.scoutsengidsenvlaanderen.be/lokalen/10-scoutslokalen-waarin-je-zeker-eens-moet-slapen" class="link" target="_blank">behoren volgens Scouts & Gidsen Vlaanderen tot één van de 10 scoutslokalen waarin je zeker eens moet slapen</a>.</p>
                    <p>In 2012 werd fase 1 van de bouw van de nieuwe lokalen afgerond: ons achthoekig lokaal werd volledig heropgebouwd met alle nodige voorzieningen, zoals een kraaknette keuken in inox en een onderhoudsvriendelijk sanitair! Twee jaar geleden werd ten slotte fase 2 afgerond: onze containerlokalen werden vervangen door een volledig nieuw en afgewerkt geheel, met alles erop en eraan!</p>
                    <p>Dit alles was natuurlijk niet mogelijk zonder de steun van de VZW en ons beruchte bouwteam, een team dat er jarenlang alles aan gedaan heeft om ervoor te zorgen dat wij vandaag kunnen genieten van propere en vooral veilige lokalen! Veiligheid is namelijk iets waar webij Sint-Jan zeker op willen hameren: onze lokalen zijn volledig uitgerust met brandblussers, branddekens, rookmelders en nooddeuren, maar ook met een brand- en inbraakalarm!</p>
                </article>
            </div>
        </section>
    </main>
{% endblock %}