{% set title = 'Oudercomité' %}
{% set description = 'Informatie over het oudercomité van scouts Sint-Jan.' %}
{% extends "base.html" %}

{% block head %}
{% endblock %}

{% use "pages/info/_map.html" %}

{% block main %}
    <main>
        <section class="block white with-menu">
            <nav>
                {% include 'pages/info/_menu.html' %}
            </nav>
            <div>
                <a class="h1-prefix" href="mailto:oudercomite.sintjan@gmail.com">oudercomite.sintjan@gmail.com</a>
                <h1>Oudercomité</h1>
                <img src="/sint-jan/images/oudercomite.jpg">
                
                <ul>
                    <li>Een 15-tal enthousiaste ouders met kinderen in de verschillende takken</li>
                    <li>We ondersteunen de groep/leidingsploeg met concrete acties en staan de ouders bij met raad en daad indien nodig</li>
                    <li>We geven tips aan de groep rond algemene onderwerpen die de kinderen aanbelangen, zoals rond veiligheid, ledenwerking.</li>
                </ul>

                <article class="block blue">
                    <h1>Wat doen we concreet?</h1>
                    <ul>
                        <li>Twee tot drie keer per jaar nemen personen van het oudercomité deel aan de groepsraad </li>
                        <li>Er worden meermaals per scoutsjaar overlegmomenten met de groepsleiding gehouden</li>
                        <li>Het oudercomité steekt de handen uit de mouwen op scouts evenementen: tap op kampvuuravond, logistieke steun op eetfestijn...</li>
                        <li>We verzorgen specifieke activiteiten voor de leiding, stam (dropping, spaghetti avond)</li>
                        <li>Een aantal avonden per jaar vergaderen we samen en bespreken onze acties (Familiedag, ribbekesavond, dropping)</li>
                    </ul>
                </article>

                <article class="block">
                    <h1>Meer informatie?</h1>
                    <p>Spreek gerust iemand aan van het oudercomité of de leiding, of stuur gewoon een mailtje naar oudercomite.sintjan@gmail.com!</p>
                </article>

                {% include 'pages/takken/_maandplanning.html' %}

                
            </div>
        </section>
    </main>
{% endblock %}