{% set title = 'VZW' %}
{% set description = 'Informatie over de VZW beschermcomité scouts en gidsen Sint Jan' %}
{% extends "base.html" %}

{% block head %}
{% endblock %}

{% use "pages/info/_map.html" %}

{% block main %}
    <main>
        <section class="block white with-menu">
            <nav>
                {% include 'pages/info/_menu.html' %}
            </nav>
            <div>
                <a href="mailto:Mick.devalck@telenet.be" class="h1-prefix">Mick.devalck@telenet.be</a>
                <h1>VZW</h1>
                <img src="/sint-jan/images/vzw.jpg">

                <p>Het lokaal en de terreinen zijn eigendom van de VZW beschermcomité scouts en gidsen Sint Jan. Die VZW is in de beginjaren van de groep (24 april 1969 om precies te zijn) opgericht met als maatschappelijk doel “het verwerven en beheren van onroerende goederen (terreinen en lokalen dus) ten bate van voornoemde scouts -en gidsengroep (Sint Jan dus) die er het genot van hebben”. Terwijl de leidingsploeg zich op z’n scoutsproject met onze kinderen concentreert, bekommert de VZW zich over het scoutsterrein en het dak boven hun hoofd. De VZW zorgt op die manier ook voor continuïteit, en belichaamt de garantie dat toekomstige generaties kinderen in goede omstandigheden aan scouting kunnen blijven doen, ook als de groep in een bepaalde periode wat minder goed zou draaien.</p>
            
                <p>In september 2017 hebben we op de viering van 50 jaar Sint Jan de laatste fase van ons bouwproject afgerond met de plechtige opening van de nieuwste lokalen. Bij de opstart hadden we het project ‘De Leeuwerik 2020’ gedoopt (DL2020 dus). De Leeuwerik is de naam van ons lokaal, en de doelstelling was om er voor te zorgen dat de groep tegen 2020 terug over moderne lokalen zou beschikken. We waren, en zijn nog steeds, heel trots op het resultaat.</p>

                <p>De volgende jaren komt het er in de eerste plaats op aan om die nieuwe lokalen goed te beheren, zodat ze nog vele generaties scouts en gidsen kunnen blijven dienen. Naast het bouwteam dat de nieuwe lokalen heeft gezet, is er ook al jaren een ‘dinsdagteam’ actief dat elke dinsdag, week in week uit, het lokaal en de terreinen onderhoudt. Zij leveren fantastisch werk. Dank zij hen liggen de lokalen en de terreinen er elke week prachtig bij. 
                    Zij zijn trouwens op zoek naar nieuwe collega's. Kun jij je vrijmaken op dinsdagen, en steek je graag de handen uit de mouwen, op een rustige plek in het groen, geef ons dan zeker een seintje. Het team zal je graag zien komen, en eeuwige dankbaarheid van alle Sint Janners zal je deel zijn. 
                    En het moet gezegd dat ook de huidige leidingsploeg het nodige doet om hun nieuwe lokalen in ere te houden. 2 dikke duimen daarvoor!</p>

                <p>Sinds de vernieuwing van de achthoek is ons lokaal ook zeer gegeerd bij andere jeugdbewegingen voor hun WE’s en kampen. De verhuur brengt een aardige duit op, maar vraagt ook een goede opvolging (met dank aan Josefien), en opnieuw de steun van het dinsdagteam.</p>
                
                <p>Naast het onderhoud en de verhuur is er de permanente zorg voor de financiën. De volgende jaren moet nog een groot deel van de lotenlening terugbetaald worden die we hebben uitgegeven voor de financiering van de tweede fase van de bouw. En ook het dagelijkse onderhoud kost geld. We hopen dus ook de volgende jaren op de nodige steun te kunnen blijven rekenen bij de verschillende financiële acties van de groep en van de VZW. </p>
                
                <p>
                    Mick De Valck<br>
                    Voorzitter VZW Sint Jan<br>
                    Mick.devalck@telenet.be<br>
                </p>
                
                


                {% include 'pages/takken/_maandplanning.html' %}
            </div>
        </section>
    </main>
{% endblock %}