
.splitted .part {
    &.activities {
        &> div {
            overflow: visible !important;
            

            &> div {
                padding: 15px 40px;
                padding-bottom: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                button {
                    margin: 0;

                    &:first-child {
                        text-align: left;
                    }
                    &:last-child {
                        text-align: right;
                    }
                }

            }
        }
        
        padding: 40px 0 80px 0;

        h1 {
            margin: 15px 40px;
            color: $aubergine;

            time {
                font-size: $size-text-bigger;
                color: $merlot;
                font-weight: normal;
                padding-left: 20px;
            }
        }

        article {
            padding: 25px 40px;
            background: $gray-background;
            display: table;
            width: 100%;
            table-layout: fixed;
            box-sizing: border-box;

            .column {
                display: table-cell;

                &.group {
                    color: $merlot;
                    width: 110px;
                    padding-right: 20px;
                }

                &.time {
                    color: $aubergine;
                    width: 130px;
                    padding-right: 20px;
                }

                &.description {
                    color: $aubergine;
                }

            }

            @media screen and (max-width: $width-reduce-padding + 100px) {
                display: block;

                .column {
                    padding: 5px 0;
                    display: block;

                    &.group {
                        font-weight: bold;
                        width: auto;
                        display: inline-block;
                        padding-right: 15px;
                    }
                     &.time {
                        width: auto;
                        display: inline-block;
                     }
                 }
            }
        }



        @media screen and (max-width: $width-reduce-padding + 100px) {
            padding: 20px 0;

            &> div {
                &> div {
                    padding: 15px $smartphone-padding;
                }
            }

            h1 {
                margin: 30px 30px 15px $smartphone-padding;
            }

            article {
                padding: 10px $smartphone-padding;
            }
        }
    }

    &.calendar {
        width: 320px;
        padding: 40px 50px;
        @include bg-gradient-t2b(#530F1A, #7D1628);
        color: white;
        position: relative;

        @media screen and (max-width: 1000px) {
            padding: 40px 20px;
            display: none;
        }

        &.enabled {
            time.column:hover {
                background: $merlot;
            }
            @media screen and (max-width: 1000px) {
                display: block;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 1000;
                width: 100%;
                max-width: 400px;
                bottom: 0;
                width: auto;
                overflow: hidden;
                box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.50);

                p {
                    text-align: center;
                }
            }
        }

        .selection-hint {
            background: $aubergine;
            text-align: center;
            padding: 40px 20px;
            margin: -40px -50px 10px -50px;

            @media screen and (max-width: 1000px) {
                margin: -40px -20px 10px -20px;
            }

            font-size: $size-text-bigger;
            display: none;
        }

        header {
            position: relative;
            text-align: center;
            padding: 30px 0;

            .previous {
                width: 20px;
                background: url(../images/back-white.png) no-repeat center center;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
            }

            .next {
                width: 20px;
                background: url(../images/next-white.png) no-repeat center center;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
            }

            time {
                font-size: $size-text-bigger
            }
        }

        .row {
            clear: both;
            padding: 5px 2px;
            max-width: 287px;
            margin: -5px auto;
            font-size: $size-text-bigger;

            &.weekdays {
                color: $bright-sun;
                padding-top: 5px;
                font-size: $size-text;
            }


            &.selected {
                background: $heath url(../images/calendar-arrow.png) no-repeat left center;
                margin: -5px -50px;
                padding: 5px 66px;
            }

            .column {
                float: left;
                width: 14.2857% ; //45px;
                max-width: 41px;
                margin: 0px;
                height: 41px;
                line-height: 41px;
                border-radius: 25px;
                text-align: center;

                &.today {
                    color: $bright-sun;
                }

                &.disabled {
                    background: $cardinal;
                }

                &.aankomst-selected, &.vertrek-selected, &.in-between {
                    background: $bright-sun;
                    color: $aubergine;
                }


                &.hidden {
                    opacity: 0.5;
                }
            }
            .clear {
                clear: both;
            }
        }

        #calendar-weeks {
            .row {
                cursor: pointer;

                &:hover {
                    background: $heath;
                    margin: -5px -50px;
                    padding: 5px 66px;
                }
            }
        }
        #verhuur-calendar-weeks {
            .column {
                cursor: pointer;
            }
        }

        .spacer {
            height: 150px;
            display: block;
        }

        footer {
            position: absolute;
            bottom: 0;
            right: 20px;
            left: 20px;
        }
        
    }
}