
section {
    .cta {
        text-align: center;
        padding: 80px 0;
        max-width: 800px;
        margin: 0 auto;

        h1 {
            color: $aubergine;
            margin: 20px 0;
        }

        h2 {
            color: $merlot;
            font-size: $size-text-bigger;
            margin: 20px 0;
        }

        @media screen and (max-width: $width-reduce-padding) {
            padding: 40px $smartphone-padding;
        }

    }
}