$slider-circle: 12px;
$slider-box: 30px;
$slider-top: 20px;

form {
    blockquote {
        border-left: 2px solid $cardinal;
        color: $cardinal;
        padding: 0 20px;
        max-width: 800px;
        max-height: 400px;
        margin: 20px 0;
        overflow: scroll;
    }

    .slider {
        height: 65px;
        margin: 0px 0 5px 0;
        position: relative;
        max-width: 500px;
        cursor: pointer;

        .bar {
            position: absolute;
            background: $gray;
            left: 0;
            right: 0;
            top: $slider-top;
            height: 2px;
            border-radius: 2px;
            overflow: hidden;

            .progress {
                width: 0%;
                left: 0;
                top: 0;
                bottom: 0;
                position: absolute;
                background: $merlot;
            }
        }
        .slide {
            .circle {
                position: absolute;
                top: $slider-top - ($slider-circle - 2)/2;
                left: ($slider-box - $slider-circle)/2;
                right: ($slider-box - $slider-circle)/2;
                height: $slider-circle;
                border-radius: $slider-circle/2;
                background: $merlot;
            }
            left: 0%;
            margin-left: - $slider-box/2;

            position: absolute;
            top: 0;
            padding-top: $slider-top + 7 + $slider-circle/2;
            width: $slider-box;
            text-align: center;
        }
    }

    aside.source {
        color: $gray;
    }

    label {
        color: $aubergine;
        font-size: $size-text-bigger;
        display: block;
    }

    input, textarea, select, a.button {
        font-size: $size-text-bigger;
    }

    textarea { 
        resize: none; 
        min-height: 80px;
        height: auto;
    }

    input[type=text], input[type=password], input[type=email], .input-box, .select-box, textarea {
        display: block;
        box-sizing: border-box;
        width: 100%;
        max-width: 500px;
        background: none;
        border: 0;
        overflow: none;
        border-bottom: 2px solid $gray;
        padding: 10px 0;
        margin: 0 0 20px 0;
        color: $merlot;

        &::-webkit-input-placeholder {
            color: $gray;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: $gray;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
            color: $gray;
        }

        &:-ms-input-placeholder {  
            color: $gray;
        }

        &:focus, &.selected {
            border-color: $merlot;
            color: $merlot;
        }

        &.error {
            border-color: $error-red;
            color: $error-red; 
        }
    }

    input[type=checkbox], input[type=radio] {
      display: none;
    }

    input[type=checkbox] + label {
        margin: 30px 0;
    }

    input[type=radio] + label {
        margin: 15px 20px 20px 0;
        display: block;
    }

    input[type=checkbox] + label:before, 
    input[type=radio] + label:before,
    input[type=checkbox] + .checkbox-controllable label.checkbox-label-inside:before,
    input[type=radio] + .checkbox-controllable label.checkbox-label-inside:before
    {
      content: "";
      display: inline-block;
      vertical-align: text-bottom;
     
      width: 22px;
      height: 22px;
     
      margin-right: 20px;
      background-color: white;
      border: 2px solid $gray;
      border-radius: 2px;
    }

    input[type=checkbox]:checked + label:before, 
    input[type=radio]:checked + label:before,
    input[type=checkbox]:checked + .checkbox-controllable label.checkbox-label-inside:before,
    input[type=radio]:checked + .checkbox-controllable label.checkbox-label-inside:before
    {
        border: 0;
        padding: 2px;
        background: $merlot url(../images/checkbox-checked.png) no-repeat center center;
        background-image: url(../images/checkbox-checked.svg),
        linear-gradient(transparent, transparent);
    }


    input[type=checkbox] + label + .checkbox-controllable,
    input[type=radio] + label + .checkbox-controllable,
    input[type=checkbox] + .checkbox-controllable,
    input[type=radio] + .checkbox-controllable {
        .visible-when-checked {
            display: none;
        }
    }

    input[type=checkbox]:checked + label + .checkbox-controllable,
    input[type=radio]:checked + label + .checkbox-controllable,
    input[type=checkbox]:checked + .checkbox-controllable,
    input[type=radio]:checked + .checkbox-controllable {
        .visible-when-checked {
            display: block;
        }
        .hidden-when-checked {
            display: none;
        }
    }


    .dropdown-list {
        display: none;
        position: absolute;
        width: 300px;
        max-height: 400px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
        border-radius: 4px;
        overflow: scroll;
        margin-top: -20px;

        .option {
            cursor: pointer;
            padding: 20px 30px;
            border-bottom: 1px solid $line-gray;
            color: $merlot;

            &:hover {
                background: $gray-background;
            }
        }
    }

    input.dropdown:focus + .dropdown-list {
        display: block;
    }

    .select-box {
        overflow: hidden;
        border-color: $merlot;
        padding: 0;

        select::-ms-expand {
            display: none;
        }  

        select {
            padding: 10px 0;
            font-size: inherit;
            outline: none;
            color: $merlot;

            width: 130%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;

            &.empty {
                color: $gray;
            }
        }
    }

    .input-box {
        padding: 0;

        input[type=text] {
            display: inline-block;
            width: 80px;
            box-sizing: border-box;
            padding: 5px 10px;
            border: 0;
            margin: 0;
        }

        .select-box {
            width: 30%;
            box-sizing: border-box;
            display: inline-block;
            border: 0;
            margin: 0;

            select {
                padding-left: 20px;
            }
            &:first-child select{
                padding-left: 0;
            }
            &:first-child {
                width: 29%;
            }
            float: left;
        }

        .max {
            width: auto;
            float: none;
            overflow: hidden;
            display: block;
        }

        .right {
            float: right;
        }

        &:after {
            clear: both;
            display: block;
            height: 0;
            content: '';
        }
    }

    input[type=text].datepicker {
        background: url(../images/input-arrow.png) no-repeat right center;
    }

    .select-box, input[type=text].dropdown {
        background: url(../images/input-arrow.png) no-repeat right center;
    }



    input[type=submit] {
        font-size: $size-text-bigger;
        cursor: pointer;
    }

    ul.error {
        padding: 0;
        margin: 0;


        li {
            color: $error-red;
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: $size-text;
        }
    }

    &.error {
        input[type=text], input[type=password], input[type=email] {
            border-color: $error-red;
        }
        label {
            color: $error-red;
        }
    }
}