#menu {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    
    &.fixed {
        background: $aubergine;
        position: fixed;
    }

    padding: 5px 0 5px 30px;
    height: 60px;

    .overflow-bar {
        overflow: hidden;
        height: 60px;
        width: auto;
    }

    .logo {
        float: left;

        a {
            height: 60px;
            line-height: 60px;

            img {
                vertical-align: middle;
            }
        }
    }

    .items {
        // trigger BFC: take all remaining width
        overflow: hidden;
        width: auto;
        text-align: right;
        padding: 0 10px 0 20px;
        position: relative;
        font-size: 16px;
        line-height: 60px;

        // This forces to display a smartphone menu
        // when the menu items start to wrap
        .floater {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding-bottom: 60px;
            height: 60px;

            .smartphone-menu {
                position: absolute;
                height: 60px;
                top: 0;
                right: 0;
                left: 0;
                z-index: 2;

                div {
                    // No a - tag for SEO
                    // Google can't do antyhing with this button
                    
                    display: inline-block;
                    height: 60px;
                    padding: 0 20px;
                    line-height: 60px;
                    cursor: pointer;

                    img {
                        vertical-align: middle;
                    }
                }
            }

        }

        // The menu items style
        // They are used twice: once in the invisible space div
        // and once in a visible form, forcing to stick to the bottom of that invisible one
        // to hide it when it starts to wrap
        a {
            margin: 0 15px;
            height: 60px;
            text-transform: uppercase;

            &, &:hover, &:visited, &:active, &:link {
                color: white;
                text-decoration: none;
            }

            &:hover {
                opacity: 0.8;
            }

            &.call-to-action {
                padding: 10px 25px;
                height: 40px;
                border: 2px solid white;
                border-radius: 20px;
            }
        }

        // Space makes space for unvisible content
        // This makes a smartphone menu possible (hamburger)
        // and makes it possible to hide the normal menu when
        // the menu starts to wrap
        .space {
            visibility: hidden;
            max-height: 120px;
        }

        .visible {
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 60px;
        }
    }

    .admin {
        float: right;
        height: 60px;
        padding: 0 20px;
        line-height: 60px;

        .admin-menu {
            display: none;
            position: absolute;
            z-index: 10;
            right: 0px;
            top: 50px;
            padding: 10px;
            line-height: normal;

            .content {
                width: 350px;
                box-sizing: border-box;

                background: #FFFFFF;
                box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
                border-radius: 4px;

                .box {
                    border-bottom: 1px solid $line-gray;
                    padding: 10px 0;

                    &.last {
                        border: 0;
                    }
                    .logout {
                        float: right;
                    }

                    a.button {
                        display: block;
                        margin: 0;
                        padding: 10px 20px;
                    }
                }

                p {
                    font-size: $size-button;
                    margin: 10px 20px;
                    padding: 0;
                }
            }

            @media screen and (max-width: 350px) {
                left: 0;
                right: 0;
                padding: 10px 0;

                .content {
                    width: 100%;
                }
            }
        }

        &:hover {
            .admin-menu {
                display: block;
            }
        }
    }
}