.photo-grid {
    clear: both;

    .photo-row {
        margin: 0;
        padding: 0;
        clear: both;

        img, .preview {
            margin: 0 8px 8px 0;
            display: block;
            float: left;
        }
        img:last-child, .preview:last-child {
            margin-right: 0;
        }

        .preview {
            background: $gray;
        }
    }   

}

#upload-progress {
    width: auto;
    height: 2px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    background: $gray;
    max-width: 500px;
    margin-top: 10px;

    div {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0%;
        background: $merlot;
    }
}

#photos {
    max-width: 500px;
    margin-top: 10px;

    &.preview {
        max-height: 300px;
        overflow: auto;
        
        .photo-grid .photo-row img, .photo-grid .photo-row .preview {
            margin: 0 3px 3px 0;
        }
    }
}