main {
    background: $lightgray-background;
    padding: 10px 20px;
    padding-top: 70px;
    flex: 1;

    &.transparent {
        padding-top: 10px;
    }

    @media screen and (max-width: $width-reduce-padding) {
        padding: 10px 0;
    }

    .block {
        max-width: $width;
        margin: 40px auto;

        @media screen and (max-width: $width-reduce-padding) {
            margin: 20px auto;
        }

        &.white {
            background: white;
        }

        &.login {
            max-width: 400px;
            padding: 40px;
        }

        
    }
}

.block {
    .text {
        padding: 100px 60px;
        color: $cod-gray;

        @media screen and (max-width: $width-stop-splitted) {
          padding: 80px 60px;
        }

        .list-bundle {
            margin: 0 -60px;
        }

        h1 {
            color: $aubergine;
        }

        h2 {
            color: $merlot;
        }

        header {
            h1 {
                padding: 0;
                margin: 0;
            }
            h2 {
                padding: 0;
                margin: 0;
            }
            padding-bottom: 40px;
        }

        footer {
            padding-top: 60px;

            a {
                margin: 7px;
            }
        }
    }

    // Small height screens: make boxes less long
    @media screen and (max-width: $width-reduce-padding) {
        .text {
            padding: 40px $smartphone-padding;

            header {
                padding-bottom: 20px;
            }

            footer {
                padding-top: 30px;
            }

            .list-bundle {
                margin: 0px (-$smartphone-padding);
            }
        }

    }
}

.splitted {
    display: table;
    table-layout: fixed;
    width: 100%;

    @media screen and (max-width: $width-stop-splitted) {
      display: block;
    }

    .part {
        display: table-cell;

        @media screen and (max-width: $width-stop-splitted) {
          display: block;
        }

        vertical-align: top;

        &.column {
            &.first {
                padding-right: 20px;
            }
            &.last {
                padding-left: 20px;
            }
            @media screen and (max-width: $width-stop-splitted) {
                &.first {
                    padding-right: 0;
                }
                &.last {
                    padding-left: 0;
                }
            }
        }

        &.image {
            width: 50%;

            @media screen and (max-width: $width-stop-splitted) {
              width: 100%;
              height: 400px;
              margin: 0;
              padding: 0;
            }

            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }
            
            figcaption {
                position: absolute;
                bottom: 0;
                right: 0;
                max-width: 100%;
                background: $merlot;
                color: white;
                padding: 15px 25px;
            }
        }
    }
}

.icon-button {
    color: $aubergine;
    padding: 5px 5px 5px 30px;
    margin: 20px 0;
    display: inline-block;
    background: url(../images/icon-button.png) no-repeat left center;

    &.plus {
       background: url(../images/plus-button.png) no-repeat left center; 
    }
}


// Lijst structuren
// 

article.list {
    padding: 25px 25px 25px 60px;

    @media screen and (max-width: $width-reduce-padding) {
        padding: 25px $smartphone-padding;
    }

    background: $gray-background;
    display: table;
    width: 100%;
    box-sizing: border-box;

    .column {
        display: table-cell;
        color: $merlot;
        padding-right: 20px;
        vertical-align: middle;

        &.merlot {
            color: $aubergine;
        }

        &.small {
            min-width: 120px;
        }

        &.medium {
            min-width: 150px;
        }

        &.max {
            width: 100%;
        }

        &.bold {
            font-weight: bold;
        }

        &.last {
            padding-right: 0;
            white-space: nowrap;
        }

        .button {
            margin: 0;
            margin-left: 20px;
        }
    }

    @media screen and (max-width: $width-reduce-padding + 200px) {
        display: block;
        
        .column {
            display: block;
            padding: 5px 0;

            .button {
                margin: 0;
                margin-right: 10px;
            }
        }


    }
}

