// Color variables
$aubergine: #470A14;
$merlot: #9E182E;
$cardinal: #BD1C37;

$cod-gray: #141414;
$bright-sun: #FFDA37;
$heath: #520F1A;
$gray: #D5D5D5;
$error-red: #E02545;

$lightgray-background: #F5F5F5;
$gray-background: #F8F8F8;
$line-gray: #EAEAEA;
$width: 1200px;

$size-title: 30pt;
$size-smartphone-title: 22pt;
$size-smaller-title: 24pt;
$size-smaller-smartphone-title: 18pt;

$size-text: 11pt;
$size-smartphone-text: 10pt;

$size-text-bigger: 14pt;
$size-question: 16pt;

$size-subtitle: 20pt;
$size-smartphone-subtitle: 10pt;

$size-button: 12pt;
$size-button-big: 15pt;

$width-stop-splitted: 1000px;

$width-reduce-padding: 500px;
$smartphone-padding: 25px;

body, html {
    color: $cod-gray;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-size: $size-text;
    position: static;
}

.ie-only {
    display: none;
    position: absolute;
    font-weight: bold;
    left: 0;
    right: 0;
    top: 60px;
    background: $merlot;
    padding: 20px;
    text-align: center;
    color: white;
}
noscript .ie-only {
    display: block;
}

// Voor sticky footer
#container {
    min-height: 100vh;

    display: block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

@mixin bg-gradient-t2b($start-colour, $end-colour) {
    background-image: -webkit-gradient(linear, left top, left bottom, from($start-colour), to($end-colour));
    background-image: -webkit-linear-gradient(top, $start-colour, $end-colour);
    background-image:    -moz-linear-gradient(top, $start-colour, $end-colour);
    background-image:     -ms-linear-gradient(top, $start-colour, $end-colour);
    background-image:      -o-linear-gradient(top, $start-colour, $end-colour);
    background-image:         linear-gradient(top, $start-colour, $end-colour);
    $ie-color: ie-hex-str($start-colour);
    $ie-color2: ie-hex-str($end-colour);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#{$ie-color}", EndColorStr="#{$ie-color2}");
    zoom: 1;
}
@mixin bg-gradient-l2r($start-colour, $end-colour) {
    background-image: -webkit-gradient(linear, left top, right top, from($start-colour), to($end-colour));
    background-image: -webkit-linear-gradient(left, $start-colour, $end-colour);
    background-image:    -moz-linear-gradient(left, $start-colour, $end-colour);
    background-image:     -ms-linear-gradient(left, $start-colour, $end-colour);
    background-image:      -o-linear-gradient(left, $start-colour, $end-colour);
    background-image:         linear-gradient(left, $start-colour, $end-colour);
    // Geen IE7-8 support atm
}

h1 {
    font-weight: bold;
    font-size: $size-title;
    margin: 30px 0 20px 0;
}

h2 {
    font-weight: normal;
    font-size: $size-subtitle;
    margin: 30px 0 20px 0;
}

header {
    h2 {
        font-size: $size-text-bigger;
    }
}

p {
    margin: 10px 0;
    font-weight: normal;
    font-size: $size-text;
    line-height: 170%;
}

ul {
    padding-left: 20px;
}

li {
    font-size: $size-text;
    font-weight: normal;
    font-size: $size-text;
    line-height: 170%;
    margin: 5px 0;
    padding: 0;
}

pre {
    text-align: left;
}

.smaller {
    h1 {
        font-size: $size-smaller-title;
    }
}

figcaption {
    font-size: $size-text-bigger;
}

a {
    &, &:hover, &:visited, &:active, &:link {
        color: inherit;
        text-decoration: none;
        outline: none;
        border: 0;
    }

    img {
        border: 0;
    }
}

p a {
    &, &:hover, &:visited, &:active, &:link {
        text-decoration: underline;
    }
    
    &:hover {
        color: $cardinal;
    }
}

blockquote {
    padding: 0;
    margin: 0;
}

button, input, select, textarea, blockquote {
    border: 0;
    outline: 0;
    background: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-variant: inherit;
    text-transform: inherit;
    text-decoration: inherit;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
}

button {
    text-transform: uppercase;
    cursor: pointer;
}



a.button, button.button, input[type=submit] {
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: $size-button;
    cursor: pointer;

    margin: 20px 7px;
    display: inline-block;

    svg {
        margin-right: 15px;
        vertical-align: text-top;
    }

    &.merlot {
        color: $merlot;
        border-color: $merlot;

        &.fill {
            color: white;
            background: $merlot;
        }
    }

    
    &.aubergine {
        color: $aubergine;
        border-color: $aubergine;

        &.search {
            background: url(../images/hourglass-aubergine.png) no-repeat left center;
        }

        &.fill {
            color: white;
            background: $aubergine;
        }
    }

    &.white {
        color: white;

        &.search {
            background: url(../images/hourglass-white.png) no-repeat left center;
        }
    }

    &.noborder {
        border: 0;
        padding: 0;
        margin: 15px;

        &:hover {
            opacity: 0.6;
            svg {
                opacity: 0.6;
            }
        }

        &.arrow-right {
            background: url(../images/icon-button.svg) no-repeat right center;
            padding-right: 20px;
        }

        &.arrow-left {
            background: url(../images/icon-button-back.svg) no-repeat left center;
            padding-left: 20px;
        }
    }

    &.search {
        padding: 10px 0 10px 40px;
    }

    &.big {
        font-size: $size-button-big;
    }

    &:first-child {
        margin-left: 0;
    }
}

a.icon-button, button.icon-button {
    &, &:hover, &:visited, &:active, &:link {
        color: $aubergine;
    }

    text-transform: uppercase;
    padding: 5px 5px 5px 20px;
    margin: 5px 0 20px 0;
    font-size: $size-button;
    display: block;
    background: url(../images/icon-button.png) no-repeat left center;
    background-image: linear-gradient(transparent, transparent), url(../images/icon-button.svg);

    &.plus {
       background: url(../images/plus-button.png) no-repeat left center;
       background-image: linear-gradient(transparent, transparent), url(../images/plus-button.svg);
    }

    &.delete {
       background: url(../images/delete-button.png) no-repeat left center; 
       background-image: linear-gradient(transparent, transparent), url(../images/delete-button.svg);
    }
}



// Resize font sizes on small screens
@media screen and (max-width: 480px) {

    body, html, p {
        font-size: $size-smartphone-text;
    }

    h1 {
        font-size: $size-smartphone-title;
        margin: 15px 0;
    }

    h2 {
        font-size: $size-smartphone-subtitle;
    }

    .smaller {
        h1 {
            font-size: $size-smaller-smartphone-title;
        }
    }

    a.button {
        padding: 8px 25px;
        margin: 15px 0;
        font-size: 12pt;
    }
}

.clear {
    clear: both;
}

@import "buttons-bar";
@import "search";
@import "forms";

@import "menu";
@import "header";
@import "structure";
@import "footer";

@import "blog";
@import "calendar";
@import "cta";
@import "leiding";
@import "photos";