{% set title = 'Kapoenen' %}
{% set description = 'Alles over kapoenen op scouts Prins Boudewijn.' %}
{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        #kapoenen-image {
            background-image: url(/images/part/kapoenen.jpg);
        }

    </style>
{% endblock %}

{% block main %}
    <main>

        <article class="white block">
            <div class="splitted">
                <div class="part text">
                    <header>
                        <h1>De kapoenen</h1>
                    </header>

                    <p>De Kapoenen is de tak voor de allerkleinsten. Het leven van een kapoen (6-8) is er één vol spel, fantasie, creativiteit en expressie. Sommigen gaan voor de eerste keer naar de scouts, voor de eerste keer op weekend, voor de eerste keer op kamp. Zoveel nieuwe dingen! Wat doen we bij de kapoenen? We spelen, we ravotten, we maken ons vuil, we kliederen en kladderen, we zingen, we klimmen in de bomen... Een heleboel dus! Speelkledij is een must!</p>

                    <footer>
                        <a href="/info" class="button fill merlot">Terug</a>
                    </footer>

                </div>

                <figure class="part image" id="kapoenen-image">
                    <figcaption>Kapoenkamp 2016</figcaption>
                </figure>
            </div>
        </article>
    </main>
{% endblock %}