@import "../../../shared/scss/elements/buttons";


a.go {
    font-size: $size-prefix;
    text-transform: uppercase;
    color: $color-main-gray;
    display: inline-block;
}

a > article {
    opacity: 1;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.5;
    }
}

button.more {
    @include main-gradient;
    border-radius: $border-radius;
    color: white;
    text-transform: uppercase;
    font-size: $size-button-mini;
    padding: 4px 10px;
    float: right;

    opacity: 1;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.5;
    }
}

.buttons {
    margin: 20px 0;
}

a, button {
    &.main {
        margin: 18px 15px;
        padding: 14px 25px;
        border-radius: $border-radius;
        @include main-gradient;
        color: white;
        text-transform: uppercase;
        font-size: $size-button;
        font-weight: bold;

        &:first-child {
            margin-left: 0;
        }

        opacity: 1;
        transition: opacity 0.2s;
    
        &:hover {
            opacity: 0.5;
        }
    }
}
