
a.go {
    font-size: $size-prefix;
    text-transform: uppercase;
    color: $color-main-gray;
    display: inline-block;
}

a > article {
    opacity: 1;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.5;
    }
}

button.more {
    @include main-gradient;
    border-radius: $border-radius;
    color: white;
    text-transform: uppercase;
    font-size: $size-button-mini;
    padding: 4px 10px;
    float: right;

    opacity: 1;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.5;
    }
}

a.button, button.button, input[type=submit] {
    text-transform: uppercase;
    font-size: $size-button;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;

    svg {
        margin-right: 15px;
        vertical-align: text-top;
    }

    &.main, &.merlot {
        color: $color-main-dark;
        margin: 18px 10px;
        padding: (14px - $border-width) (25px - $border-width);
        border-radius: $border-radius;
        border: $border-width solid $color-main-dark;

        @media (max-width: 480px) {
            margin: 10px;
        }

        &.fill {
            padding: 14px 25px;
            border: 0;
            @include main-gradient;
            color: white;

            &:first-child {
                margin-left: 0;
            }

            &.small {
                padding: 7px 12px;
                margin: 0;
                font-size: $size-button-mini;
            }
        }

        &.search {
            background: url(../prins-boudewijn/images/hourglass-aubergine.png) no-repeat left center;
        }
    }

    &.white {
        color: white;

        &.search {
            background: url(../prins-boudewijn/images/hourglass-white.png) no-repeat left center;
        }
    }

    &.noborder {
        border: 0;
        padding: 0;
        margin: 15px;

        &.arrow-right {
            background: url(../prins-boudewijn/images/icon-button.svg) no-repeat right center;
            padding-right: 20px;
        }

        &.arrow-left {
            background: url(../prins-boudewijn/images/icon-button-back.svg) no-repeat left center;
            padding-left: 20px;
        }
    }

    &.search {
        padding: 10px 0 10px 40px;
    }

    &.big {
        font-size: $size-button-big;
    }

    &:first-child {
        margin-left: 0;
    }

    opacity: 1;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.5;
    }
}

button {
    cursor: pointer;
}

a.icon-button, button.icon-button {
    &, &:hover, &:visited, &:active, &:link {
        color: $color-main-dark;
    }

    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 5px 5px 25px;
    margin: 5px 0 20px 0;
    font-size: $size-button;
    display: block;
    text-align: left;
    background: url('../'+ $theme +'/icons/dark/arrow-right.svg') no-repeat left center;

    &.plus {
       background: url('../'+ $theme +'/icons/dark/plus.svg') no-repeat left center;
    }

    &.delete {
       background: url('../'+ $theme +'/icons/dark/delete.svg') no-repeat left center; 
    }

    opacity: 1;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.5;
    }
}


// Resize font sizes on small screens
@media screen and (max-width: 480px) {
    a.button {
        font-size: $size-button-mini;
    }
}