@import "../../../shared/scss/components/menu";

main {
    background-color: $color-background-shade;
    padding: 10px 20px;
    padding-top: $menu-height + $menu-margin;
    display: block; // IE Fix
    -ms-flex: 1 0 0;
    -webkit-flex: 1;
    flex: 1 0 0;

    &.transparent {
        padding-top: $menu-margin;
    }

    @media screen and (max-width: $page-width-reduce-padding) {
        padding: 10px 0;
        padding-top: $menu-height + $menu-margin;

        &.keep-padding {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

#menu.fixed {
    background: $color-menu-background;
    position: fixed;
    top: 0;

    @media (max-height: 300px) {
        position: absolute;
    }
}

#menu > div {
    padding: 0 30px 0 30px;

    @media (max-width: 600px) {
        padding: 0 10px 0 15px;
    }
}

#menu .admin-menu .content {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
    border-radius: 4px;

    .box {
        border-bottom: 1px solid $color-border;
        padding: 10px 0;

        &.last {
            border: 0;
        }
        .logout {
            float: right;
        }

        a.button {
            display: block;
            margin: 0;
            padding: 10px 20px;

            &:hover {
                font-weight: bold;
            }
        }
    }

    p {
        font-size: $size-button;
        margin: 10px 20px;
        padding: 0;
    }
}

#menu .logo {
    height: $menu-height;
    width: 185px;
    background: url(../prins-boudewijn/images/logo/75-jaar.svg) no-repeat left center;

    @media screen and (max-width: 319px) {
        width: 40px;
        background-image: url(../prins-boudewijn/images/logo/75-jaar-small.svg);
    }

    opacity: 1;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.6;
    }
}

// The menu items style
// They are used twice: once in the invisible space div
// and once in a visible form, forcing to stick to the bottom of that invisible one
// to hide it when it starts to wrap
/*#menu .items a {
    margin: 0 15px;
    text-transform: uppercase;

    &, &:hover, &:visited, &:active, &:link {
        color: white;
        text-decoration: none;
    }

    &:hover {
        opacity: 0.6;
    }

    &.call-to-action {
        padding: 10px 25px;
        border: $border-width solid white;
        border-radius: $border-radius;
        line-height: $menu-height - 20px - $border-width*2;
    }
}
*/

// The menu items style
// They are used twice: once in the invisible space div
// and once in a visible form, forcing to stick to the bottom of that invisible one
// to hide it when it starts to wrap
#menu .items > div, #menu .items > div .dropdown-group {
    &> a, &> button {
        margin: 0 15px;

        @media (max-width: 450px) {
            margin: 0 10px;
        }

        @media (max-width: 350px) {
            margin: 0;
        }

        text-transform: uppercase;

        font-size: $size-button;

        opacity: 1;
        transition: opacity 0.2s;
        -webkit-tap-highlight-color: transparent;

        &:hover, &:active {
            opacity: 0.6;
        }

        &, &:hover, &:visited, &:active, &:link {
            color: white;
            text-decoration: none;
        }

        &.call-to-action {
            padding: 10px 25px;
            line-height: $menu-height - 38px - $border-width*2;
            height: $menu-height - 18px;
            margin: 9px 15px;


            /*margin: 18px 15px;
            height: $menu-height - 36px;
            padding: 10px 25px;
            line-height: $menu-height - 56px;
            
            @include main-gradient;*/
            margin-right: 0;

            &.dropdown {
                background-position: right 15px center;
                padding-right: 30px;
            }
        }
    }
}

.dropdown-group {

    .dropdown-menu {
        background: white;
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
        border-radius: 4px;
        padding: 15px 10px;
        width: 350px;
        color: $color-main-dark;

        .box {

            &::after {
                content: '';
                height: $border-width;
                width: 100%;
                padding: 0;
                margin: 10px 0px;
                background: $color-border;
                border-radius: $border-width/2;
                display: block;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            &.logout {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                a {
                    color: $color-main;
                }
            }
        }

        p {
            padding: 15px 20px;
            margin: 0;
        }

        a {
            display: block;
            padding: 15px 20px;
            text-transform: uppercase;
            font-size: $size-button;
            color: $color-main-dark;
            border-radius: $border-radius;
            transition: background-color 0.2s;
            background-color: transparent;
            -webkit-tap-highlight-color: transparent;

            &:hover, &:active {
                background-color: $color-background-shade;
            }
        }
    }
}


#menu .call-to-action {
    border: $border-width solid white;
    border-radius: $border-radius;
}

#smartphone-menu-items {
    a, button {
        text-transform: uppercase;
        color: $color-main-dark;
        border-radius: $border-radius;
        display: block;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
        display: block;
        padding: 15px;
        margin: 5px 0;
        font-size: $size-button;
    }

    button.dropdown {
        padding-right: 20px;
        background: url('../'+$theme+'/icons/dark/arrow-down.svg') no-repeat right 10px center;
        position: relative;
        transition: background-position 0.2s;

        &:hover, &:active {
            background-position: right 10px bottom 10px;
        }
    }

    a, .dropdown-group > button {
        background-color: transparent;
        transition: background-color 0.2s, background-position 0.2s;
        -webkit-tap-highlight-color: transparent;

        &:hover, &:active {
            background-color: $color-background-shade;
        }

        &.call-to-action {
            background: $color-main-dark url('../'+$theme+'/icons/white/arrow-down.svg') no-repeat right 25px center;
            color: white;
            border-radius: $border-radius;
            opacity: 1;
            transition: opacity 0.2s;

            &:hover, &:active {
                opacity: 0.6;
            }
        }
    }

}