{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        #alcohol-image {
            background-image: url(/images/part/alcohol.jpg);
        }
        #leefweek-image {
            background-image: url(/images/part/leefweek.jpg);
        }
        #givers-image {
            background-image: url(/images/part/givers.jpg);
        }

    </style>
{% endblock %}

{% block main %}
    <main>

        <article class="white block">
            <div class="splitted">
                <div class="part text">
                    <header>
                        <h1>De givers</h1>
                    </header>

                    <p> Givers trekken samen op, hun vrienden zijn heilig. Ze hechten heel veel belang aan de groepssfeer. Van hun leiding krijgen ze alle mogelijkheden, ervaringen, spanning en enthousiasme die ze alleen binnen scouting kunnen vinden. Maar givers hebben ook hun eigen willetje. Ze krijgen dan ook elke keer dat ietsje meer. Dat ietsje meer participatie, dat ietsje meer zelfstandigheid, dat ietsje meer uitdaging. Als je hier zit, ben je al een echte!</p>

                    <p>Hieronder vind je een heleboel informatie over de givers.</p>

                    <footer>
                        <a href="/info" class="button fill merlot">Terug</a>
                    </footer>
                </div>

                <figure class="part image" id="givers-image">
                    <img src="/images/part/givers.jpg" alt="Groepskamp 2015">
                    <figcaption>Groepskamp 2015</figcaption>
                </figure>

            </div>
        </article>

        <article class="white block">
            <div class="splitted">
                <figure class="part image" id="leefweek-image">
                </figure>

                <div class="part text">
                    <header>
                        <h1>Leefweek</h1>
                    </header>

                    <p>Eén week lang mogen de givers op de scouts blijven logeren. Ze zullen dan ook net als thuis op de scouts eten, slapen, huiswerk maken, naar school gaan en studeren. Ook buitenschoolse activiteiten kunnen zoals elke week gewoon doorgaan. Om het studeren niet te verwaarlozen zorgen we bovendien voor een stille ruimte, ingericht als studeerlokaal.</p>

                    <p>Het is echter niet de bedoeling dat deze week een feest– of vakantieweek wordt. Het is een week om samen te leren leven, elkaar beter te leren kennen, afspraken te leren maken en deze ook na te komen. Bovendien ook een week waarin goede schoolprestaties neer moeten worden gezet.</p>

                    <p>Naast het samenhorigheidsgevoel staat ook het zelfstandig leven centraal: zelf de boterhammen smeren, boodschappen doen, ‘s avonds samen koken en afwassen zijn allemaal dingen die moeten gebeuren. Uiteraard draagt dit alles bij tot het doel van de leefweek.</p>

                </div>
            </div>
        </article>

        <article class="white block">
            <div class="splitted">
                <div class="part text">
                    <header>
                        <h1>Alcohol en drugsbeleid</h1>
                    </header>

                    <p>Alcohol blijft verboden voor leden onder de 16 jaar. Heel zelden mogen de givers eens een pintje meedrinken, maar dit altijd met mate en onder toezicht van de leiding.</p>

                    <p>Roken is verboden, tenzij hiervoor duidelijke afspraken zijn gemaakt met de ouders. Dit gebeurt altijd uit het zicht van de andere leden en enkel onder begeleiding.</p>

                </div>

                <figure class="part image" id="alcohol-image">
                </figure>

            </div>
        </article>
    </main>
{% endblock %}