{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        #jonggivers-image {
            background-image: url(/images/part/jonggivers.jpg);
        }
    </style>
{% endblock %}

{% block main %}
    <main>

        <article class="white block">
            <div class="splitted">
                <div class="part text">
                    <header>
                        <h1>De jonggivers</h1>
                    </header>

                    <p>De jonggivers, een geval apart. Niet oud, maar ook niet zo jong meer. In ieder geval in volle ontwikkeling. Ze mogen al alleen op pad, leren sjorren, kaartlezen en gaan op tentenkamp, waar ze zelfs hun eigen potje leren koken! Jonggivers krijgen een waaier van mogelijkheden om mee te beslissen, zelf de handen uit de mouwen te steken en allerlei vaardigheden onder de knie te krijgen. Een tak boordevol nieuwe dingen!</p>

                    <footer>
                        <a href="/info" class="button fill merlot">Terug</a>
                    </footer>

                </div>

                <figure class="part image" id="jonggivers-image">
                </figure>

            </div>
        </article>
    </main>
{% endblock %}