{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        #wouters-image {
            background-image: url(/images/part/wouters.jpg);
        }
    </style>
{% endblock %}

{% block main %}
    <main>

        <article class="white block">
            <div class="splitted">
                <div class="part text">
                    <header>
                        <h1>De wouters</h1>
                    </header>

                    <p>Wie tussen 8 en 11 jaar is, kan meespelen bij de wouters. Zij voelen zich vaak al ervaren scouten, en dat zijn ze eigenlijk ook wel een beetje. Wouters worden zich steeds meer bewust van wat er rond hen gebeurt: op school, thuis en op de scouts. Ze krijgen ruimte en kansen om dingen uit te proberen en van elkaar te leren. Ze verleggen hun grenzen, halen kattenkwaad uit en kunnen vooral onbezorgd spelen.</p>

                    <footer>
                        <a href="/info" class="button fill merlot">Terug</a>
                    </footer>

                </div>

                <figure class="part image" id="wouters-image">
                    <figcaption>Wouterkamp 2016</figcaption>
                </figure>

            </div>
        </article>
    </main>
{% endblock %}