<form method="post">
    <div class="text">
        {% if success %}

            <header>
                {% if new %}
                    <h1>Album "{{ data.album_name }}" is toegevoegd</h1>
                {% else %}
                    <h1>De wijzigingen aan album "{{ data.album_name }}" zijn opgeslagen</h1>
                {% endif %}
            </header>
            <footer>
                <a href="/admin/photos" class="fill button aubergine">Terug</a>
            </footer>
        {% else %}
            <header>
                {% if new %}
                    <h1>Album aanmaken</h1>
                {% else %}
                    <h1>Album "{{ data.album_name }}" aanpassen</h1>
                {% endif %}
            </header>

            {% if errors|length > 0 %}
                <ul class="error">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <label>Naam album</label>
            <input type="text" name="album_name" value="{{ data.album_name }}" placeholder="Vul de naam van het album in">

            <label>Foto's van welke tak?</label>
            <label class="select-box">
                <select name="group">
                    <option>Maak een keuze</option>
                    {% for group in groups %}
                        <option value="{{ group }}"{% if group == data.group %} selected{% endif %}>{{ group | capitalize}}</option>
                    {% endfor %}
                </select>
            </label>

            {% if not new %}
                <label>Foto's toevoegen</label>

                <div id="photos" class="preview"></div>
                <div style="clear: both;"></div>
                <div id="upload-progress" style="display: none;"><div></div></div>
                <div id="output"></div>
                <input type="file" multiple="multiple" id="file" />
                <label for="file">
                    <svg width="12px" height="12px" viewBox="1502 -655 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="plus" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1503.000000, -654.000000)" stroke-linecap="round">
                            <path d="M5,0.5 L5,10" id="Path-3" stroke="#FFFFFF" stroke-width="2"></path>
                            <path d="M9.75,5.25 L0.25,5.25" id="Path-3-Copy" stroke="#FFFFFF" stroke-width="2"></path>
                        </g>
                    </svg>
                    Uploaden
                </label>
            {% endif %}

            <footer>
                <input type="submit" class="aubergine fill" value="Opslaan">
                <a href="/admin/photos" class="button aubergine">Annuleren</a>
            </footer>
        {% endif %}

    </div>
</form>

{% if not new %}

<script src="/js/upload5.js"></script>
<script src="/js/photos.js"></script>
<script type="text/javascript">
    var grid = new photos.Grid({});
    grid.trackWidth(document.getElementById('photos'));
    grid.margin = 3;
    grid.max_height = 50;

    {% for image in images %}
        var photo = new photos.Photo({{image.getSource().width | e('js')}}, {{image.getSource().height | e('js')}});
        photo.sources = {{ image.getSourcesJSON | raw }};
        grid.add(photo);
    {% endfor %}

    var max_upload_size = {{ max_upload_size }};

    var element = grid.toDOM();
    document.getElementById('photos').appendChild(element);

    var totalFiles = 0;
    var totalDownloaded = 0;

    var $lis = {};

    function handleError(filename, errorString) {
        $('#output').append($('<li>Uploaden mislukt: '+filename+errorString+'</li>'));
    }

    function updateProgress() {
        $('#upload-progress div').css({width: Math.round(totalDownloaded / totalFiles * 100)+'%'});

        if (!uploader.isRunning()) {
            $('#upload-progress').hide();
        } else {
            $('#upload-progress').show();
        }
    }

    var uploader = new bitcandies.FileUploader({
        url: '/api/photos/upload/{{ data.id }}',
        maxconnections: 4,
        enqueued: function (item) {
        },
        start: function (item) {
        },
        aborted: function (item) {
            if (item.oldProgress) {
                totalDownloaded -= item.oldProgress;
            }
            totalFiles -= item.getSize();
            updateProgress();
        },

        progress: function (item, loaded, total) {
            if (item.oldProgress) {
                totalDownloaded -= item.oldProgress;
            }

            item.oldProgress = loaded;
            totalDownloaded += loaded;

            updateProgress();
        },

        success: function (item, xhr) {
            try {
                var data = JSON.parse(xhr.responseText);
                var sources = data.sources;

                if (!item.variables.photo) {
                    item.variables.photo = new photos.Photo(data.width, data.height);
                    item.variables.photo.sources = sources;
                    grid.add(item.variables.photo);
                }
                else {
                    item.variables.photo.setSources(data.width, data.height, sources)
                }
            } catch ( error ) {
                // Php error opvangen
                handleError(item.getFilename(), ' - '+xhr.responseText);
            }
        },
        error: function (item, xhr) {
            var errors;
            try {
                errors = JSON.parse(xhr.responseText);

            } catch ( error ) {
                errors = ["Onbekende fout"];
            }

            var errorString = '';
            for (var i = 0; i < errors.length; i++) {
                errorString += ' - '+errors[i];
            }

            handleError(item.getFilename(), errorString);

            if (item.oldProgress) {
                totalDownloaded -= item.oldProgress;
            }
            totalFiles -= item.getSize();
            updateProgress();

        }
    });

    $('#file').change(function () {
        if (totalFiles <= totalDownloaded ) {
            totalFiles = 0;
            totalDownloaded = 0;
        }

        var files = document.getElementById('file').files;
        for (var i = 0; i < files.length; ++i) {
            var size = files[i].fileSize ? files[i].fileSize : files[i].size;
            var name = files[i].fileName ? files[i].fileName : files[i].name;

            if (size > max_upload_size) {
                handleError(name, " - Bestand te groot");
                continue;
            }

            totalFiles += size;
            uploader.add(files[i]);
        }

        updateProgress();

        $('#upload-progress div').css({width: '0%'});
        return false;
    });

</script>
{% endif %}