<div class="text">
    <h1>{{ sheet.name }}</h1>

    <div>
        <a href="/admin/order-sheets/{{ sheet.id }}" class="main button">Terug</a>
        <a href="/admin/order-sheets/{{ sheet.id }}/excel" class="main fill button">Download Excel</a>
    </div>
  
    <div class="list-bundle">
    {% for order in orders %}
        <article class="list">
            <div class="medium merlot column">
                {{ order.user.firstname }} {{ order.user.lastname }}<br>
                {{ order.user.phone }}<br>
                {{ order.user.mail }}
            </div>
            <div class="max column">
                
            </div>
            <div class="last column right">
                <a href="{{ order.getUrl() }}" class="icon-button">
                    Bekijken
                </a>
            </div>
        </article>
    {% endfor %}
    </div>

</div>
