<div class="text">
    <h1>{{ sheet.name }}</h1>

    <div>
        <a href="/admin/order-sheets/{{ sheet.id }}" class="main button">Terug</a>
        <a href="/admin/order-sheets/{{ sheet.id }}/excel" class="main fill button">Download Excel</a>
    </div>
  
    <div class="list-bundle">
    {% for order in orders %}
        <article class="list">
            <div class="medium merlot column">
                {{ order.user.firstname }} {{ order.user.lastname }}<br>
                {{ order.getPrice() }}
                
                {% if not order.isPaid() %}
                    {% if order.payment_method == 'cash' %}
                        <br>{{ order.getPaymentName() }}
                    {% else %}
                    <br>{{ order.getPaymentName() }}
                        <strong>(Niet betaald)</strong>
                    {% endif %}
                {% endif %}

                {% if order.getSummary().persons | length == 1 %}
                    <br>Eén persoon
                {% endif %}
                {% if order.getSummary().persons | length > 1 %}
                    <br>{{ order.getSummary().persons | length }} personen
                {% endif %}
            </div>
            <div class="max column">
                {{ order.created_at | date('d/m/Y') }} om {{ order.created_at | date('H:i') }}

                {% if order.payment_method == 'transfer' and order.payment.reference is not empty %}
                    <br> Mededeling: {{ order.payment.reference }}
                {% endif %}

                
            </div>
            <div class="last column right">
                <a href="/admin/orders/{{ order.id }}" class="icon-button">
                    Bekijken
                </a>
            </div>
        </article>
    {% endfor %}
    </div>

</div>
