{% extends "base.html" %}

{% block head %}
    <meta name="robots" content="noindex">
    {{ head | raw }}
{% endblock %}

{% block main %}
    <main>
        <section class="block white with-menu">
            <nav>
                {% for button in admin.buttons %}
                    <a href="{{ button.url }}" class="{% if button.url == admin.selected %}selected{% endif %}">{{ button.name }}</a>
                {% endfor %}

                {% if environment.stamhoofd %}
                    <a href="https://stamhoofd.app" target="_blank">Stamhoofd</a>
                {% endif %}

                {% if environment.drive is not empty %}
                    <a href="{{ environment.drive }}" target="_blank">Drive</a>
                {% endif %}
            </nav>
            <div>
                {{ content | raw }}            
            </div>
        </section>
    </main>
{% endblock %}