{% extends "base.html" %}

{% block main %}
    <main>
        <div class="white block">
                <form method="post">
                    <div class="text">
                        
                        <header>
                        {% if new %}
                            <h1>Nieuw lid inschrijven</h1>
                        {% else %}
                            <h1>Algemene gegevens van {{ lid['voornaam'] }} nakijken</h1>
                        {% endif %}

                            {% if limits_ignored %}
                                <p><strong>Je hebt van de leiding toegang gekregen om leden in te schrijven met een uitzondering op de leeftijd (< 6 jaar, 4e jaar giver, 2e jaar jin).</strong> </p>
                            {% endif %}
                        </header>

                        {% if fail %}
                        <ul class="error">
                            <li>Niet alles werd correct ingevuld. Kijk de foutmeldingen hieronder even na.</li>
                        </ul>{% endif %}
                        {% if success %}
                        <h2>Gelukt!</h2>{% endif %}

                        {% if errors|length > 0 %}
                            <ul class="error">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% set multiple = '' %}
                        {% set multipleCount = '' %}
                        {{ include('pages/leden/lid-aanpassen.part.html') }}
                         
                        <footer>
                            <input type="submit" class="main fill" value="{% if new %}Inschrijven{% else %}Opslaan{% endif %}">
                            <a class="button main" href="/ouders">Annuleren</a>
                        </footer>

                    </div>
                </form>
        </div>
        <script type="text/javascript">
            {{ include('pages/leden/lid-aanpassen.part.js') }}
        </script>
    </main>
{% endblock %}