<div class="splitted">
    <div class="part column first">
        <label>Voornaam</label>
        <input type="text" name="lid-voornaam{{ multiple }}" placeholder="Voornaam van het kind / de jongere" value="{{ lid['voornaam'] | e('html_attr') }}">

        <label>Achternaam</label>
        <input type="text" class="achternaam" name="lid-achternaam{{ multiple }}" placeholder="Achternaam van het kind / de jongere" value="{{ lid.achternaam | e('html_attr') }}">

        <label>Geslacht</label>
        <input id="geslacht-jongen-{{ loop.index }}" class="randomize-id" type="radio" data-name="lid-geslacht" name="lid-geslacht{{multipleCount}}" value="M"{% if lid.geslacht == 'M' %} checked{% endif %}>
        <label for="geslacht-jongen-{{ loop.index }}">Jongen</label>

        <input id="geslacht-meisje-{{ loop.index }}" class="randomize-id" type="radio" data-name="lid-geslacht" name="lid-geslacht{{multipleCount}}" value="V"{% if lid.geslacht == 'V' %} checked{% endif %}>
        <label for="geslacht-meisje-{{ loop.index }}">Meisje</label>
    
        {% if lid.errors|length > 0 %}
            <ul class="error">
                {% for error in lid.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="part column last">
        <label>Geboortedatum</label>
        <div class="input-box">
            <label class="select-box mini">
                <select name="lid-geboortedatum-dag{{ multiple }}">
                    <option>Dag</option>
                    {% for day in 1..31 %}
                        <option value="{{ day }}"{% if lid.geboortedatum_dag == day %} selected{% endif %}>{{ day }}</option>
                    {% endfor %}
                </select>
            </label>

            <label class="right select-box small">
                <select name="lid-geboortedatum-jaar{{ multiple }}" class="lid-geboortejaar">
                    <option>Jaar</option>
                    {% for jaar in jaren %}
                        <option value="{{ jaar }}"{% if lid.geboortedatum_jaar == jaar %} selected{% endif %}>{{ jaar }}</option>
                    {% endfor %}
                </select>
            </label>

            <label class="select-box max">
                <select name="lid-geboortedatum-maand{{ multiple }}">
                    <option>Maand</option>
                    {% for maand in maanden %}
                        <option value="{{ loop.index }}"{% if lid.geboortedatum_maand == loop.index %} selected{% endif %}>{{ maand }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>

        <p>Indien je reeds bij ons hebt geïnformeerd over Akabe kan je dit lid meteen inschrijven in de Akabe-tak. Dit kan later altijd door de leiding gewijzigd worden. Als je het niet zeker bent kan je het gewoon uitvinken.</p>
        <input id="akabe-{{ loop.index }}" class="randomize-id" type="checkbox" name="lid-akabe{{ multiple }}"{% if lid.akabe %} checked{% endif %}>
        <label for="akabe-{{ loop.index }}">Inschrijven in de Akabe-tak</label>

        <aside class="tak-givers tak-jin"{% if lid.tak != 'givers' and lid.tak != 'jin' %} style="display: none;"{% endif %}>
            <label>GSM van de jongere</label>
            <input type="text" name="lid-gsm{{ multiple }}" placeholder="Vul GSM-nummer in van het lid" value="{{ lid.gsm | e('html_attr') }}">
        </aside>

      
    </div>

</div>

{% for taknaam, tak in alle_takken %}

<aside id="tak-{{ taknaam }}"{% if lid.tak != taknaam %} style="display: none;"{% endif %} class="tak-text">
    <h2>Welkom bij de {{ taknaam | capitalize }}</h2>
    <p>
        {{ tak.description }}
    </p>
</aside>
{% endfor %}

<aside id="tak-ongeldig" style="display: none;" class="tak-text">
    <ul class="error">
        <li>
            Jouw zoon/dochter is te jong/oud voor onze scouts. Leden zijn welkom vanaf 6 jaar, of als ze nog 6 jaar worden in dat jaar. Kinderen van 5 jaar kan je wel inschrijven als ze al in het eerste leerjaar zitten, maar daarvoor moet je eerst contact opnemen met de leiding zodat zij jou hier toegang tot kunnen geven.
        </li>
    </ul>
</aside>