{% extends "base.html" %}

{% block main %}
    <main>
        <div class="white block">
                <form method="post">
                    <div class="text">
                        <h1>Gezin informatie</h1>

                        {% if limits_ignored %}
                            <ul class="warning"><li>Je hebt van de leiding toegang gekregen om leden in te schrijven die jonger of ouder zijn dan normaal toegelaten.</li></ul>
                        {% endif %}
                        
                        {% if success %}
                            <h2>Gelukt!</h2>
                        {% endif %}

                        {% if errors|length > 0 %}

                            <ul class="error">
                                <li>Niet alles werd correct ingevuld. Kijk de foutmeldingen hieronder even na.</li>
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <h2>Samenstelling</h2>

                        {{ include('pages/leden/gezinsituatie.part.html') }}


                        <input id="eenoudergezin" type="checkbox" name="eenoudergezin" value="1" {% if gezin.eenoudergezin %} checked{% endif %}>
                        <label for="eenoudergezin">Dit is een éénoudergezin</label>

                        <div class="checkbox-controllable">
                            <h2>Jouw gegevens</h2>
                            {% set ouder = ouders[0] %}
                            {% set multiple = '[0]' %}
                            {% if ouder.errors|length > 0 %}
                                <ul class="error">
                                    {% for error in ouder.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {{ include('pages/leden/ouder-aanpassen.part.html') }}

                            <div class="hidden-when-checked">
                                
                                <h2>Gegevens van andere ouder</h2>
                                {% set ouder = ouders[1] %}
                                {% set multiple = '[1]' %}
                                {% if ouder.errors|length > 0 %}
                                    <ul class="error">
                                        {% for error in ouder.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                {{ include('pages/leden/ouder-aanpassen.part.html') }}
                            </div>
                        </div>

                       
                        {{ include('pages/leden/scouting-op-maat.html') }}

                        <footer>
                            <input type="submit" class="main fill" value="Volgende">
                        </footer>

                    </div>
                </form>
        </div>
        <script type="text/javascript">
            var id_counter = 0;

            {{ include('pages/leden/lid-aanpassen.part.js') }}

            $( document ).ready(function() {
                $('.add-count').click(function(event) {
                    // Element .XXXX-new zoeken, kopieëren, class verwijderen, erachter plakken en zichtbaar maken
                    event.preventDefault();

                    var field = $(this).attr('data-field');
                    var max = parseInt($(this).attr('data-max'));

                    var fields = $('.'+field+'-bundle');
                    var aantal = fields.length; // == aantal zichtbare NA het toevoegen

                    // Voorlaatste is laatste
                    var last_fields = fields.eq(-2);

                    var clean_fields = $('.'+field+'-new');

                    var new_fields = clean_fields.clone(true); // Event handlers meenemen
                    
                    // Radio button names fixen
                    new_fields.find('input[type="radio"]').each(function() {
                        var data_name = $(this).attr('data-name');
                        $(this).attr('name', data_name+"["+(aantal-1)+"]");
                    });
                    

                    // id's fixen
                    new_fields.find('.randomize-id').each(function() {
                        var id = $(this).attr('id');
                        var new_id = field+'-unique-id-field'+id_counter;
                        id_counter++;
                        var labels = new_fields.find('label[for="'+id+'"]');
                        $(this).attr('id', new_id);
                        labels.attr('for', new_id);
                    });

                    new_fields.removeClass(field+'-new');
                    clean_fields.before(new_fields);
                    new_fields.show();

                    if (aantal >= max) {
                        $(this).hide();
                    }
                    if (aantal > 1) {
                        $(this).prev().show();
                    }
                    new_fields.find('input')[0].focus();

                    var move_raw = $(this).attr('data-move');
                    var move = move_raw.split(',');
                    if (move.length > 0) {
                        for (var i = 0; i < move.length; i++) {
                            var cl = move[i];
                            var ori = last_fields.find('.'+cl);
                            var ne = new_fields.find('.'+cl);
                            ne.val(ori.val());
                        }
                    }
                });

                $('.delete-count').click(function(event) {
                    // Element .XXXX-new zoeken, kopieëren, class verwijderen, erachter plakken en zichtbaar maken
                    event.preventDefault();

                    var add_element = $(this).next();

                    var field = add_element.attr('data-field');
                    var max = parseInt(add_element.attr('data-max'));

                    var fields = $('.'+field+'-bundle');
                    var aantal = fields.length - 2; // == aantal zichtbare NA het verwijderen

                    // Voorlaatste is laatste
                    var last_fields = fields.eq(-2);

                    last_fields.remove();
                    
                    if (aantal <= max) {
                        // Toevoegen knop terug tonen
                        add_element.show();
                    }

                    if (aantal == 1) {
                        $(this).hide();
                    }
                });
            });
        </script>
    </main>
{% endblock %}