{% extends "base.html" %}

{% block main %}
    <main>
        <div class="white block">
                <form method="post">
                    <div class="text">
                        
                        <header>
                            <h1>Wachtwoord voor {{ ouder['firstname'] }} instellen </h1>
                            <p>
                                Via deze weg kan je opnieuw een e-mail versturen naar {{ ouder['firstname'] }} met een link om een wachtwoord in te stellen.
                            </p>
                        </header>

                        {% if errors|length > 0 %}
                            <ul class="error">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                         
                        <footer>
                            <input type="submit" name="confirm" class="main fill" value="Mail versturen">
                            <a class="button main" href="/ouders">Annuleren</a>
                        </footer>

                    </div>
                </form>
        </div>
    </main>
{% endblock %}