{% extends "base.html" %}

{% block main %}
    <main>
        <nav class="buttons">
            Ingelogd als {{ ouder.user.firstname }}
            {% include "pages/leden/ouder-partials/menu.html" %}
        </nav>

        <div class="white block withButtons">
            <div class="text">
                {% include "pages/leden/ouder-partials/ingeschreven-leden.html" %}
            </div>
        </div>
        <div class="white block">
            <div class="text">
                {% include "pages/leden/ouder-partials/ouders.html" %}
            </div>
        </div>
        <div class="white block">
            <div class="text">
                {% include "pages/leden/ouder-partials/afrekeningen.html" %}
            </div>
        </div>
    </main>
{% endblock %}

