

header#banner {
    max-height: 50vh;
    height: 100%;

    // Extra element to allow multiple max-height combinations
    &::before {
        content: '';
        display: block;
        height: 75vw;
        max-height: 550px;
        
    }

    background: url('/sint-jan/images/background.1080p.jpg') no-repeat center center;
    background-size: cover;
    position: relative;

    @media (max-height: 720px) {
        background-image: url('/sint-jan/images/background.720p.jpg');
    }

    &::after {
        content: '';
        @include bg-gradient-t2b(rgba(black, 0.6), rgba(black, 0));
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 50%;
    }
}