#footer {
    background: $color-main-alternative-dark;
    text-align: left;
    color: rgba(white, 0.5);
    font-weight: bold;
    padding-bottom: 40px;
    line-height: 1.5;

    a {
        color: white;
        opacity: 1;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.5;
        }
    }


    &> div {
        max-width: $page-width;
        margin: 0 auto;
        padding: 30px 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: $page-width - ($page-width - $page-width-reduce-padding) /2 ) {
            padding: 30px 20px;
        }
    
        @media (max-width: $page-width-reduce-padding) {
            padding: 20px 15px;
        }

        &> div {
            &:last-child {
                padding-left: 20px;
                flex-shrink: 0;
            }
        }

       
    }

    .login {
        text-transform: uppercase;
        padding: 15px 0 15px 0px;
        margin: -15px 0;
        display: inline-block;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 600px) {
            padding: 0;
            margin: 0;
            display: block;
        }
    }

    .facebook {
        text-transform: uppercase;
        padding: 15px 0 15px 35px;
        background: url(../sint-jan/images/facebook.svg) no-repeat left center;
        margin: -15px 0;
        display: inline-block;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 600px) {
            padding: 0;
            margin: 0;
            height: 30px;
            width: 30px;
            background-position: right center;
            color: transparent;
            overflow: hidden;

        }
    }

    .instagram {
        text-transform: uppercase;
        padding: 15px 0 15px 35px;
        background: url(../sint-jan/icons/white/instagram.svg) no-repeat left center;
        margin: -15px 0;
        display: inline-block;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 600px) {
            padding: 0;
            margin: 0;
            height: 30px;
            width: 30px;
            background-position: right center;
            color: transparent;
            overflow: hidden;

        }
    }

    
}