.map-container {
    position: relative;
    height: 500px;
    max-height: 80vh;

    .map {
        display: block;
        border-radius: $border-radius;
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}