@import "../../../shared/scss/components/menu";

main {
    padding-top: $menu-height;

    &> .block:first-child {
        padding-top: $menu-height + 20px;

        @media (max-height: 400px), (max-width: 250px) {
            padding-top: 50px;
        }
    }

    &.transparent {
        padding-top: 0px;

        &> .block.white:first-child {
            padding-top: 40px;
        }
    }
}

#menu > div {
    max-width: $page-width;
    margin: 0 auto;

    padding: 0px 40px;
    position: relative;

    @media (max-width: $page-width - ($page-width - $page-width-reduce-padding) /2 ) {
        padding: 0 10px 0 20px;
    }

    @media (max-width: $page-width-reduce-padding) {
        padding: 0 10px 0 15px;
    }
}

#menu {
    position: fixed;
    top: 0;
    background: transparent;
    transition: background-color 0.2s;

    &.fixed, &[data-scrolled='true'] {
        background: $color-menu-background;
    }

    @media (max-height: 300px) {
        position: absolute;
    }
}


#menu .logo {
    height: $menu-height;
    width: 150px;
    position: relative;
    transform-origin: top left;
    transition: transform 0.2s;
    -webkit-tap-highlight-color: transparent;

    // Split white background and logo image for hover effect
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: -10px;
        height: 160px;
        background: white;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        box-shadow: 0px 4px 30px rgba(black, 0.15);
        transition: transform 0.2s;
    }

    // Background image
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0px;
        height: 150px;
        background: url(../sint-jan/images/logo.png) no-repeat center center;
        background-size: 108px 108px;
        opacity: 1;
        transition: opacity 0.2s, transform 0.2s;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: url(../sint-jan/images/logo@2x.png);
        }
    }

    &:hover::after, &:active::after {
        opacity: 0.6;
    }

    &:hover, &:active {
        &::after, &::before {
            transform: translate(0, 7px);
        }
    }

    @media (max-height: 400px), (max-width: 250px) {
        transform: scale(0.7);
    }
}

@media (max-height: 600px), (max-width: 500px) {
    #menu[data-scrolled='true'] .logo {
        transform: scale(0.7);
    }

}
// The menu items style
// They are used twice: once in the invisible space div
// and once in a visible form, forcing to stick to the bottom of that invisible one
// to hide it when it starts to wrap
#menu .items > div, #menu .items > div .dropdown-group {
    &> a, &> button {
        margin: 0 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $size-button;

        opacity: 1;
        transition: opacity 0.2s;
        -webkit-tap-highlight-color: transparent;

        &:hover, &:active {
            opacity: 0.6;
        }

        &, &:hover, &:visited, &:active, &:link {
            color: white;
            text-decoration: none;
        }

        &.call-to-action {
            margin: 18px 15px;
            height: $menu-height - 36px;
            padding: 10px 25px;
            line-height: $menu-height - 56px;
            
            @include main-gradient;
            margin-right: 0;
        }
    }
}

.dropdown-group {

    .dropdown-menu {
        background: white;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.25);
        border-radius: $border-radius;
        padding: 15px 20px;
        color: $color-main-alternative-dark;

        .box {

            &::after {
                content: '';
                height: $border-width;
                width: 100%;
                padding: 0;
                margin: 10px 0px;
                background: $color-border;
                border-radius: $border-width/2;
                display: block;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            &.logout {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap
            }
        }

        p {
            padding: 12px 15px;
            margin: 0;
        }

        a {
            display: block;
            padding: 12px 15px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: $size-button;
            color: $color-main-alternative-dark;
            border-radius: $border-radius;
            transition: background-color 0.2s;
            background-color: transparent;
            -webkit-tap-highlight-color: transparent;

            &:hover, &:active {
                background-color: $color-main-alternative-shade;
            }
        }
    }
}

#smartphone-menu-items {
    a, button {
        text-transform: uppercase;
        font-weight: bold;
        font-size: $size-button;
        color: $color-main-alternative-dark;
        border-radius: $border-radius;
        display: block;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
        display: block;
        padding: 15px;
        margin: 5px 0;
        font-size: $size-button;
    }

    button.dropdown {
        padding-right: 20px;
        background: url('../'+$theme+'/icons/dark-alternative/arrow-down.svg') no-repeat right 10px center;
        position: relative;
        transition: background-position 0.2s;

        &:hover, &:active {
            background-position: right 10px bottom 10px;
        }

        &.call-to-action {
            @include main-gradient;
        }
    }

    a, .dropdown-group > button {
        background-color: transparent;
        transition: background-color 0.2s, background-position 0.2s;
        -webkit-tap-highlight-color: transparent;

        &:hover, &:active {
            background-color: $color-main-alternative-shade;
        }

        &.call-to-action {
            color: white;
            @include main-gradient;
            opacity: 1;
            transition: opacity 0.2s;

            &:hover, &:active {
                opacity: 0.6;
            }
        }
    }

}