@import "../../../shared/scss/components/menu";

main {
    padding-top: $menu-height;

    &> .block:first-child {
        padding-top: $menu-height + 20px;

        @media (max-height: 600px), (max-width: 500px) {
            padding-top: 20px;
        }
    }

    &.transparent {
        padding-top: 0px;

        &> .block.white:first-child {
            padding-top: 40px;
        }
    }
}

#menu > div {
    max-width: $page-width;
    margin: 0 auto;

    padding: 0px 40px;
    position: relative;

    @media (max-width: $page-width - ($page-width - $page-width-reduce-padding) /2 ) {
        padding: 0 20px;
    }

    @media (max-width: $page-width-reduce-padding) {
        padding: 0 15px;
    }
}

#menu .logo {
    height: $menu-height;
    width: 150px;
    position: relative;

    // Split white background and logo image for hover effect
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: -10px;
        height: 160px;
        background: white;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        box-shadow: 0px 4px 30px rgba(black, 0.15);
        transition: transform 0.2s;
    }

    // Background image
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0px;
        height: 150px;
        background: url(../sint-jan/images/logo.png) no-repeat center center;
        background-size: 108px 108px;
        opacity: 1;
        transition: opacity 0.2s, transform 0.2s;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: url(../sint-jan/images/logo@2x.png);
        }
    }

    &:hover::after {
        opacity: 0.6;
    }

    &:hover {
        &::after, &::before {
            transform: translate(0, 7px);
        }
    }

    @media (max-height: 600px), (max-width: 500px) {
        width: 85px;

        &::before {
            height: 95px;
        }
        &::after {
            height: 85px;
            background-size: 64px 64px;
        }
    }
}

// The menu items style
// They are used twice: once in the invisible space div
// and once in a visible form, forcing to stick to the bottom of that invisible one
// to hide it when it starts to wrap
#menu .items > div, #menu .items > div .dropdown-group {
    &> a, &> button {
        margin: 0 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $size-button;
        display: inline-block;

        opacity: 1;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.6;
        }

        &, &:hover, &:visited, &:active, &:link {
            color: white;
            text-decoration: none;
        }

        &.call-to-action {
            margin: 18px 15px;
            height: $menu-height - 36px;
            padding: 10px 25px;
            line-height: $menu-height - 56px;
            border-radius: $border-radius;
            @include main-gradient;
            margin-right: 0;

            &:hover {
                opacity: 1;

                &::before {
                    opacity: 1;
                }
            }
        }
    }
}

.dropdown-group {

    .dropdown-menu {
        background: white;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.25);
        border-radius: $border-radius;
        padding: 15px 20px;
        max-height: calc(100vh - #{$menu-height + 40px});
        overflow-y: auto;
        color: $color-main-alternative-dark;
        
        .box {

            &::after {
                content: '';
                height: $border-width;
                width: 100%;
                padding: 0;
                margin: 10px 0px;
                background: $color-border;
                border-radius: $border-width/2;
                display: block;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            &.logout {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap
            }
        }

        p {
            padding: 12px 15px;
            margin: 0;
        }

        a {
            display: block;
            padding: 12px 15px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: $size-button;
            color: $color-main-alternative-dark;
            border-radius: $border-radius;
            transition: background-color 0.2s;
            background-color: transparent;

            &:hover {
                background-color: $color-main-alternative-shade;
            }
        }
    }
}




#smartphone-menu-items {
    a, button {
        text-transform: uppercase;
        font-weight: bold;
        font-size: $size-button;
        color: $color-main-alternative-dark;
        border-radius: $border-radius;
        display: block;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
        display: block;
        padding: 15px;
        margin: 5px 0;
        font-size: $size-button;
    }

    button.dropdown {
        padding-right: 20px;
        background: url('../'+$theme+'/icons/dark-alternative/arrow-down.svg') no-repeat right 15px;
        position: relative;
    }

    a {
        background: transparent;
        transition: background-color 0.2s;

        &:hover {
            background: $color-main-alternative-shade;
        }
    }

    .dropdown-menu {
        a {
            color: $color-main-alternative-gray;
            font-size: $size-text;
            margin: 5px 0;
            padding-left: 25px;

            &:first-child {
                margin-top: 10px;
            }
        }

        position: absolute;
        left: 0;
        right: 0;
        background: white;
        z-index: 1;
      
        transform: translate(0, -40px);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.2s, opacity 0.2s, visibility 0.2s step-end;
        border-bottom: 3px solid $color-border;

        &.open {
            visibility: visible;
            transition: transform 0.2s, opacity 0.2s, visibility 0.3s step-start;
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}