@import "../../../shared/scss/components/menu";

main {
    padding-top: $menu-height;

    &> .block.white:first-child {
        padding-top: $menu-height;
    }

    &.transparent {
        padding-top: 0px;

        &> .block.white:first-child {
            padding-top: 40px;
        }
    }

    
}

#menu >div {
    max-width: $page-width;
    margin: 0 auto;

    padding: 0px 40px;
    position: relative;

    @media (max-width: $page-width - ($page-width - $page-width-reduce-padding) /2 ) {
        padding: 0 20px;
    }

    @media (max-width: $page-width-reduce-padding) {
        padding: 0 15px;
    }
}

#menu .logo {
    height: $menu-height;
    width: 150px;
    position: relative;

    // Split white background and logo image for hover effect
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: -10px;
        height: 160px;
        background: white;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        box-shadow: 0px 4px 30px rgba(black, 0.15);
        transition: transform 0.2s;
    }

    // Background image
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0px;
        height: 150px;
        background: url(../sint-jan/images/logo.png) no-repeat center center;
        background-size: 108px 108px;
        opacity: 1;
        transition: opacity 0.2s, transform 0.2s;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: url(../sint-jan/images/logo@2x.png);
        }
    }

    &:hover::after {
        opacity: 0.6;
    }

    &:hover {
        &::after, &::before {
            transform: translate(0, 7px);
        }
    }

    @media (max-height: 600px), (max-width: 500px) {
        width: 85px;

        &::before {
            height: 95px;
        }
        &::after {
            height: 85px;
            background-size: 64px 64px;
        }
    }
}

// The menu items style
// They are used twice: once in the invisible space div
// and once in a visible form, forcing to stick to the bottom of that invisible one
// to hide it when it starts to wrap
#menu .items a {
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $size-button;

    &, &:hover, &:visited, &:active, &:link {
        color: white;
        text-decoration: none;
    }

    &:hover {
        opacity: 0.6;
    }

    &.call-to-action {
        margin: 18px 15px;
        height: $menu-height - 36px;
        padding: 10px 25px;
        line-height: $menu-height - 56px;
        border-radius: $border-radius;
        @include main-gradient;
        margin-right: 0;

        &:hover {
            opacity: 1;

            &::before {
                opacity: 1;
            }
        }
    }
}