{% extends "base.html" %}

{% block main %}

    <main>
        <section class="block white with-menu">
            <nav>
                {% include "pages/leden/ouder-partials/menu.html" %}
            </nav>
            <div>
                {% include "pages/leden/ouder-partials/ingeschreven-leden.html" %}

                <div class="blue block">
                    {% include "pages/leden/ouder-partials/ouders.html" %}
                </div>
                <div class="block">
                    {% include "pages/leden/ouder-partials/afrekeningen.html" %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

