// Color variables
$aubergine: #470A14;
$merlot: #9E182E;
$cardinal: #BD1C37;

$cod-gray: #141414;
$bright-sun: #FFDA37;
$heath: #520F1A;
$gray: #D5D5D5;
$error-red: #E02545;

$lightgray-background: #F5F5F5;
$gray-background: #F8F8F8;
$line-gray: #EAEAEA;
$width: 1200px;

$size-title: 30pt;
$size-smartphone-title: 22pt;
$size-smaller-title: 24pt;
$size-smaller-smartphone-title: 18pt;

$size-text: 11pt;
$size-smartphone-text: 10pt;

$size-text-bigger: 14pt;
$size-question: 16pt;

$size-subtitle: 20pt;
$size-smartphone-subtitle: 14pt;

$size-button: 12pt;
$size-button-big: 15pt;

$width-stop-splitted: 1000px;

$width-reduce-padding: 500px;
$smartphone-padding: 15px;

$slider-circle: 12px;
$slider-box: 30px;
$slider-top: 20px;


.clear {
    clear: both;
}
