$font-family: 'Montserrat';
$menu-height: 60px;
$menu-margin: 10px;
$border-radius: 100px;
$border-width: 2px;

// Color variables
$color-main-dark: #470A14;
$color-main: #9E182E;

$color-text: #141414;
$color-main-alternative: #FFDA37;
$gray: #D5D5D5;
$color-error: #E02545;

$color-background-shade: #F5F5F5;
$color-background-shade-darker: #F8F8F8;
$color-border: #EAEAEA;
$page-width: 1200px;

$size-title: 30pt;
$size-smartphone-title: 22pt;
$size-smaller-title: 24pt;
$size-smaller-smartphone-title: 18pt;

$size-text: 11pt;
$size-smartphone-text: 10pt;

$size-text-bigger: 14pt;
$size-question: 16pt;

$size-subtitle: 20pt;
$size-smartphone-subtitle: 14pt;

$size-button: 12pt;
$size-button-big: 15pt;

$page-width-stop-splitted: 1000px;

$page-width-reduce-padding: 500px;
$smartphone-padding: 15px;

$slider-circle: 12px;
$slider-box: 30px;
$slider-top: 20px;


.clear {
    clear: both;
}

// Overrides
$color-menu-background: $color-main-dark;
