<form method="post">
    <div class="text">
        {% if success %}
             <header>
                <h1>Betaling opgeslagen</h1>
                <h2>{{ message }}</h2>
            </header>
            <footer>
                <a href="/admin/inschrijvingen/" class="button merlot">Terug</a>
            </footer>
        {% else %}
             <header>
                <h1>Welk bedrag werd er cash betaald?</h1>
                <h2>Enkel cash betalingen van {{ inschrijving.lid.voornaam }} {{ inschrijving.lid.achternaam }} aangeven!</h2>
            </header>
            <p>Geef negatief getal op voor terugbetalingen (enkel indien al met cash betaald werd).</p>
            <p>Als we de overschrijvingen van het gezin meerekenen, dan moet er nog {{ te_betalen }} betaald worden. Raadpleeg <a href="/admin/afrekeningen/{{ inschrijving.afrekening }}?inschrijvingen">het betalingsoverzicht van het gezin</a> voor meer informatie.</p>

            {% if errors|length > 0 %}
                <ul class="error">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <label>Bedrag</label>
            <input type="text" name="price" value="{{ prijs }}" placeholder="Vul het bedrag in">

            <footer>
                <input type="submit" class="aubergine fill" value="Opslaan">
                <a href="/admin/inschrijvingen/" class="button merlot">Annuleren</a>
            </footer>
        {% endif %}
    </div>
</form>