<form method="post">
    <div class="text">
        {% if success %}
            <h1>Het bestand is gedownload</h1>
            <p>Als het downloaden niet automatisch start, moet je een betere browser downloaden.</p>
            <footer>
                <a href="/admin/inschrijvingen" class="aubergine button">Terug</a>
            </footer>
        {% else %}
            <h1>Ledenlijst exporteren</h1>

            {% if errors|length > 0 %}
                <ul class="error">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <label>Tak</label>
            <label class="select-box">
                <select name="tak">
                    <option>Maak een keuze</option>
                    {% for tak in takken %}
                        <option value="{{ tak }}"{% if tak == data.tak %} selected{% endif %}>{{ tak | capitalize }}</option>
                    {% endfor %}
                </select>
            </label>

            <label>Ingeschreven in scoutsjaar</label>
            <label class="select-box">
                <select name="scoutsjaar">
                    <option>Maak een keuze</option>
                    <option value="{{ scoutsjaar }}"{% if scoutsjaar == data.scoutsjaar %} selected{% endif %}>{{ scoutsjaar }} - {{ scoutsjaar + 1 }}</option>
                    <option value="{{ scoutsjaar - 1 }}"{% if scoutsjaar - 1 == data.scoutsjaar %} selected{% endif %}>{{ scoutsjaar - 1 }} - {{ scoutsjaar }}</option>
                </select>
            </label>

            <label>Filter</label>
            <label class="select-box">
                <select name="filter">
                    <option>Maak een keuze</option>
                    {% for filter, value in filters %}
                        <option value="{{ filter }}"{% if filter == data.filter %} selected{% endif %}>{{ value.name }}</option>
                    {% endfor %}
                </select>
            </label>

            <footer>
                <input type="submit" class="aubergine fill" value="Downloaden">
                <a href="/admin/inschrijvingen" class="aubergine button">Annuleren</a>
            </footer>
        {% endif %}
    </div>
</form>