<div class="text questions">

    <h1>{{ lid.voornaam }} {{ lid.achternaam }}</h1>

    <div>
        <a href="/admin/inschrijvingen" class="main fill button">Terug</a>
        <a href="/admin/afrekeningen/{{ lid.inschrijving.afrekening }}" class="main button">Betalingsoverzicht</a>
        {% if lid.isIngeschreven() %}
            <a href="/admin/inschrijvingen/lid-uitschrijven/{{ lid.id }}" class="main button">Uitschrijven</a>
        {% endif %}
    </div>

    <p>{{ lid.getGeslacht() }}</p>
    <p>{{ lid.geboortedatum | date("d/m/Y") }} ({{ lid.getLeeftijd }} jaar)</p>
    {% if lid.gsm | length > 0 %}<p>{{ lid.gsm }} (van lid zelf)</p>{% endif %}

    {% if lid.isIngeschreven() %}
        <p>{{ lid.voornaam }} is ingeschreven bij de <strong>{{ lid.inschrijving.tak }}</strong>. <a href="/admin/inschrijvingen/lid-tak/{{ lid.id }}">Wijzigen</a></p>
    {% else %}
        <p><strong>{{ lid.voornaam }} is niet ingeschreven voor het huidige scoutsjaar.</strong></p>
    {% endif %}

    {% if lid.lidnummer is not null and lid.lidnummer is not empty %}
        <p><strong>{{ lid.lidnummer }}</strong> is het lidnummer van dit lid (Scouts & Gidsen Vlaanderen).</p>
    {% else %}
        <p>Dit lid heeft nog geen lidnummer gekregen. Dit neemt even tijd in beslag en wordt toegekend als Scouts & Gidsen Vlaanderen de inschrijving van dit lid heeft verwerkt.</p>
    {% endif %}

    <h1>Gezin</h1>

    <div class="splitted">
         <div class="part column first">
            {% for ouder in ouders %}
                <h2>{{ouder.user.firstname}} {{ouder.user.lastname}} ({{ouder.titel}})</h2>
                <p>{{ouder.adres.toString }}</p>
                <p>{{ouder.adres.telefoon}}</p>
                <p>{{ouder.user.phone}}</p>
                <p>{{ouder.user.mail}}</p>
            {% endfor %}
        </div>
        <div class="part column last">
            <h2>Gezinssituatie</h2>
            <p>{% if lid.gezin.gezinssituatie | length > 0 %}{{ lid.gezin.gezinssituatie }}{% else %}Niets opgegeven{% endif %}</p>

            <h2>Scouting op maat</h2>
            {% if lid.gezin.scouting_op_maat %}
                <p><strong>Dit gezin heeft aangegeven financiële problemen te hebben</strong>. Je kan dit nog manueel aanpassen.</p>
                <div><a href="/admin/inschrijvingen/scouting-op-maat/uitschakelen/{{ lid.gezin.id }}" class="main button">Uitschakelen</a></div>
            {% else %}
                <p>Dit gezin heeft niet aangegeven financiële problemen te hebben. Je kan dit nog manueel aanpassen.</p>
                <div><a href="/admin/inschrijvingen/scouting-op-maat/inschakelen/{{ lid.gezin.id }}" class="main button">Inschakelen</a></div>
            {% endif %}

        </div>
    </div>

   

    {% if not lid.steekkaart.laatst_nagekeken is empty %}
        <h1>Adres en bereikbaarheid</h1>
        <p>Verblijfsinstelling: {% if lid.steekkaart.verblijfsinstelling | length > 0 %}{{ lid.steekkaart.verblijfsinstelling }}{% else %}/{% endif %}</p>

        <h2>Wie kunnen we bereiken als de ouders niet bereikbaar zijn (zoals op kinderpas -12 jarigen)?</h2>

        <p>{{ lid.steekkaart.contactpersoon_functie }}</p>
        <p>{{ lid.steekkaart.contactpersoon_naam }}</p>
        <p>{{ lid.steekkaart.contactpersoon_gsm }}</p>


        <h1>Deelname aan activiteiten</h1>
        <h2>Kan en mag {{ lid.voornaam }} deelnemen aan alle gewone scoutingsactiviteiten op maat van de leeftijdstak (op tocht gaan, spelen, kamperen, ...)?</h2>

        <p>{% if not lid.steekkaart.deelname_onmogelijke_activiteiten is empty %}Nee: {{ lid.steekkaart.deelname_onmogelijke_activiteiten }} - Reden: {{ lid.steekkaart.deelname_reden }}{% else %}Ja{% endif %}</p>

        <h2>Is er bijzondere aandacht nodig om risico's te voorkomen? (optioneel)</h2>

        <p>Bij sporten: {% if lid.steekkaart.deelname_sporten | length > 0 %}{{ lid.steekkaart.deelname_sporten }}{% else %}Nee{% endif %}</p>
        <p>Bij sociale omgang: {% if lid.steekkaart.deelname_sociaal | length > 0 %}{{ lid.steekkaart.deelname_sociaal }}{% else %}Nee{% endif %}</p>
        <p>Bij hygiëne: {% if lid.steekkaart.deelname_hygiene | length > 0 %}{{ lid.steekkaart.deelname_hygiene }}{% else %}Nee{% endif %}</p>
        <p>Andere: {% if lid.steekkaart.deelname_andere | length > 0 %}{{ lid.steekkaart.deelname_andere }}{% else %}Nee{% endif %}</p>

        <h1>Medische informatie</h1>
        <p>Het is verboden om als leid(st)er, behalve EHBO, op eigen initiatief medische handelingen uit te voeren. Ook het verstrekken van lichte pijnstillende en koortswerende medicatie zoals Perdolan, Dafalgan of Aspirine is, zonder toelating van de ouders, voorbehouden aan een arts. Daarom is het noodzakelijk om via deze steekkaart vooraf toestemming van ouders te hebben voor het eventueel toedienen van dergelijke hulp.</p>

        <h2>Wij geven toestemming aan de leiding om bij hoogdringendheid aan onze zoon of dochter een dosis via de apotheek vrij verkrijgbare pijnstillende en koortswerende medicatie toe te dienen: *</h2>

        <p>{{ lid.steekkaart.medisch_toestemming_medicatie }}</p>
        <aside class="source">* gebaseerd op aanbeveling Kind &amp; Gezin 09.12.2009 – Aanpak van koorts / Toedienen van geneesmiddelen in de kinderopvang</aside>

        <h2>Moet {{lid.voornaam}} specifieke medicatie krijgen?</h2>
        <p>{{ lid.steekkaart.medisch_specifieke_medicatie }} - indien ja: ouders moeten brief afgeven met meer info van dokter</p>

        <h2>Zijn er ziekten te melden (astma, suikerziekte, hooikoorts, epilepsie, hart, ...)?</h2>

        {% if lid.steekkaart.medisch_ziekten | length > 0 %}
            <p>Ja: {{ lid.steekkaart.medisch_ziekten }}</p>
            <p>Info aanpak: {{ lid.steekkaart.medisch_ziekten_aanpak }}</p>
        {% else %}
            <p>Nee</p>
        {% endif %}

        <h2>Moet {{ lid.voornaam }} een bepaalt dieet volgen?</h2>
        {% if lid.steekkaart.medisch_dieet | length > 0 %}
            <p>Ja: {{ lid.steekkaart.medisch_dieet }}</p>
        {% else %}
            <p>Nee</p>
        {% endif %}

        <h2>Werd {{ lid.voornaam }} ingeënt tegen klem (tetanus)?</h2>
        {% if lid.steekkaart.medisch_klem_jaar | length > 0 %}
            <p>Ja, in {{ lid.steekkaart.medisch_klem_jaar }}</p>
        {% else %}
            <p>Nee</p>
        {% endif %}

        <h2>Bloedgroep</h2>
        <p>{{ lid.steekkaart.bloedgroep }}</p>

        <h2>Huisarts</h2>
        <p>{{ lid.steekkaart.huisarts_naam }}</p>
        <p>{{ lid.steekkaart.huisarts_telefoon }}</p>

        <h1>Aanvullende opmerkingen</h1>
        <h2>{{ lid.voornaam }} mag tijdens de activiteiten worden gefotografeerd voor publicatie op onze website en onze Facebook pagina</h2>
        <p>{{ lid.steekkaart.toestemming_fotos }}</p>

        <h2>Zijn er bepaalde aspecten waarmee leiding rekening kan houden als de omstandigheden dat toestaan binnen de visie van scouting?</h2>

        {% if lid.steekkaart.aanvullend_voeding | length > 0 %}
            <p>Ja op vlak van voeding: {{ lid.steekkaart.aanvullend_voeding }}</p>
        {% else %}
            <p>Niet op vlak van voeding</p>
        {% endif %}
        {% if lid.steekkaart.aanvullend_andere | length > 0 %}
            <p>Ja, andere aandachtspunten: {{ lid.steekkaart.aanvullend_andere }}</p>
        {% endif %}

        <h1>Laatst ingevuld</h1>
        <p>Door: {{ lid.steekkaart.nagekeken_door}} ({{ lid.steekkaart.nagekeken_door_titel }})</p>
        <p>Op {{ lid.steekkaart.laatst_nagekeken | date("d/m/Y") }}</p>

    {% else %}

        <h1>Steekkaart niet ingevuld</h1>

    {% endif %}


</div>

