<div class="text">

    {% if jaar is empty %}
        <div class="sticky search-box">
            <input type="text" name="" class="main search" placeholder="Zoeken" data-sail="leden">
            <div class="results-anchor">
                <div class="results"></div>
            </div>
        </div>
                
        <h1>Inschrijvingen</h1>
        <form>
            <input id="info_tonen" type="checkbox" value="1">
            <label for="info_tonen">Toon meer info</label>

            <div class="checkbox-controllable">
                <div class="visible-when-checked">
                    <h2>Groepsadministratie</h2>
                    <p>Wijzigingen die aan de gegevens op de website worden aangebracht, zullen 's nachts gesynchroniseerd worden met de groepsadministratie. Nieuwe leden worden automatisch toegevoegd. Uitgeschreven leden worden automatisch geschrapt.</p>

                    <h2>Betalen van het lidgeld</h2>
                    <p>Alle ouders kregen zelf duidelijke instructies bij het inschrijven hoe ze het lidgeld kunnen betalen. Als ze dit niet meer vinden: ze kregen dit ook via e-mail en kunnen dit ook vinden door in te loggen op de website. Inschrijven kan door over te schrijven (mededeling etc. krijgen ouders door tijdens het inschrijven), cash betalen kan enkel in heel uitzonderlijke gevallen.</p><p>Geef het cash geld door aan de financieel verantwoordelijke zodat hij/zij dit op de website kan aanduiden.</p>

                    <h2>Verminderd lidgeld</h2>
                    <p>Bij leden met verminderd lidgeld, moet via een huisbezoek worden bekeken tot hoever de steun van de scouts reikt. Meestal maken we gebruik van de 1/3 regel (zie scouting op maat voor meer info). Lees zeker even dit door: <a href="https://www.scoutsengidsenvlaanderen.be/publicatie/scouting-op-maat">Scouting op maat</a></p>
                
                    <h2>Uitzonderingen op leeftijd toelaten bij inschrijvingen</h2>
                    <p>Leden kunnen niet worden ingeschreven als ze niet in een tak 'passen' die zijn ingesteld voor het huidige scoutsjaar. Toch is het soms nodig om hier een uitzondering op toe te laten. Zo mogen kinderen die 5 jaar oud zijn, maar wel in het eerste leerjaar zitten toch ingeschreven worden. Of als er geen jin is, wil je toch enkele leden als 4e jaar giver in laten schrijven. Dit kan door de ouders de volgende link te bezorgen:
                        <pre>{{ http }}/inschrijven/uitzondering-toelaten</pre>
                    </p>
                                
                </div>
            </div>
           
        </form>

        <div>
            <a href="/admin/inschrijvingen/mail" class="main fill button">Mailen</a>
            <a href="/admin/inschrijvingen/sms" class="main button">Sms'en</a>
            •
            <a href="/admin/inschrijvingen/steekkaart/{{tak}}" class="main button">Steekkaart</a>
            <a href="/admin/inschrijvingen/exporteren" class="main button">Excel</a>
        </div>
                
    {% endif %}

    <h1>
        Ingeschreven {{ tak }} 
        {% if jaar is not empty %}
            in {{ jaar }} - {{ jaar + 1 }}
        {% endif %}
        ({{ leden | length }})
    </h1>
    <div class="list-bundle">
    {% for lid in leden %}
        <article class="list">
            <div class="small column">{{ lid.inschrijving.getTakJaar() }}<sup>e</sup> jaar</div>

            <div class="max merlot column">{{ lid.voornaam }} {{ lid.achternaam }}</div>
            {% if lid.gezin.scouting_op_maat %}
                {% if not lid.inschrijving.isBetaald %}
                    {% if lid.steekkaart.laatst_nagekeken is empty %}
                        <div class="large merlot column">
                            Verminderd lidgeld + niet betaald + steekkaart niet ingevuld
                        </div>
                    {% else %}
                        <div class="large merlot column">
                            Verminderd lidgeld + niet betaald
                        </div>
                    {% endif %}   
                {% else %}
                    {% if lid.steekkaart.laatst_nagekeken is empty %}
                        <div class="large merlot column">
                            Verminderd lidgeld + steekkaart niet ingevuld
                        </div>
                    {% else %}
                        <div class="large merlot column">
                            Verminderd lidgeld
                        </div>
                    {% endif %}
                {% endif %}
                
            {% else %}
                {% if not lid.inschrijving.isAfgerekend %}
                    <div class="large merlot column">Inschrijving niet voltooid (nog geen afrekening gemaakt)</div>
                {% else %}
                    {% if not lid.inschrijving.isBetaald %}
                        {% if lid.steekkaart.laatst_nagekeken is empty %}
                            <div class="large merlot column">Lidgeld niet betaald + steekkaart niet ingevuld</div>
                        {% else %}
                            <div class="large merlot column">Lidgeld niet betaald</div>
                        {% endif %}   
                    {% else %}
                        {% if lid.steekkaart.laatst_nagekeken is empty %}
                            <div class="large merlot column">Steekkaart nog niet ingevuld</div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
            <div class="last column">
                <a href="/admin/inschrijvingen/lid/{{ lid.id }}" class="button noborder">Steekkaart</a>
            </div>
        </article>

    {% else %}
    </div>
        <p>Haha, niemand is ingeschreven. Slechte leiding! Foei!</p>
        <div>
    {% endfor %}
    </div>

    <div>
        <a href="/admin/inschrijvingen/{{ tak }}/{{ prev }}" class="main fill button">Bekijk {{ prev }} - {{ prev + 1}}</a>
    </div>

    {% if jaar is empty %}
        <h1>Andere tak bekijken</h1>
        {% for tak in takken %}
            <a href="/admin/inschrijvingen/{{ tak }}" class="icon-button">{{ tak }}</a>
        {% endfor %}
    {% endif %}
</div>

