{% set title = 'Verhuur' %}
{% set description = 'Wij verhuren onze lokalen en terrein aan jeugdverenigingen, doorheen het jaar maar ook in de zomervakantie.' %}
{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/photoswipe.css"> 
        <style type="text/css">
        #terrein-image {
            background-image: url(/prins-boudewijn/images/part/terrein.jpg);
        }
        #accomodatie-image {
            background-image: url(/prins-boudewijn/images/part/accomodatie.jpg);
        }
        #huurprijs-image {
            background-image: url(/prins-boudewijn/images/part/huurprijs.jpg);
        }
        #price {
            font-size: 28pt;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSSiozqIkWEJbN1cZO3HMUJS88q6i78BA&amp;callback=initMap"></script>

    <script src="/js/photoswipe.min.js"></script> 
    <script type="text/javascript">
        function calculateHuurPrijs(startdate, enddate, diffDays, persons, persons_tenten) {
            {{ calculate_huurprijs | raw }}
            return '/';
        }
        function calculateBorg(startdate, enddate, diffDays, persons, persons_tenten) {
            {{ calculate_borg | raw }}
            return '/';
        }

    </script>
    <script src="/js/verhuur.js"></script>
    <script src="/js/photos.js"></script>

    <script type="text/javascript">
        var grid = new photos.Grid({});
        grid.trackWidth(document.getElementById('album_container'));
        grid.margin = 8;
        grid.max_height = 300;

        var is_admin = {% if general.logged_in_leiding %}true{% else %}false{% endif %};

        {% for image in images %}
            var photo = new photos.Photo({{image.getSource().width | e('js')}}, {{image.getSource().height | e('js')}}, {{image.id  | e('js')}});
            photo.title = "{{image.title | e('js')}}";
            photo.sources = {{ image.getSourcesJSON | raw }};
            grid.add(photo);
        {% endfor %}
        
        var element = grid.toDOM();
        document.getElementById('album_container').appendChild(element);
        grid.updateVisiblePhotos();

        grid.enablePhotoSwipe();
    </script>
{% endblock %}

{% block main %}
    <main>
        <nav class="buttons">
            <a href="/verhuur" class="selected button">Gebouw</a>
            <a href="/verhuur/materiaal" class="button">Materiaal</a>
        </nav>

        <article class="white block withButtons">
            <div class="map">
                <div id="map">
                  
                </div>
            </div>
        </article>
        
        <article class="white block ">
            <div class="splitted">
                <div class="part image" id="terrein-image">
                    <img src="/images/part/terrein.jpg" alt="Hoofdlokaal">
                    <figcaption>Hoofdlokaal</figcaption>
                </div>
                <div class="part text">
                    <header>
                        <h1>Terrein en locatie</h1>
                        <h2>Groene Wegel 2, 9230 Wetteren</h2>
                    </header>

                    <p>Scouts Prins Boudewijn is erg rustig gelegen,  op ongeveer 2 km van het centrum van Wetteren. Natuur- en recreatiegebieden zijn bereikbaar op wandelafstand.</p>

                    <p>Het terrein bestaat uit een open grasveld omringd door een bos. Aan de overkant van de weg bevindt zich nog een deel van het terrein. De totale oppervlakte is ongeveer 8000 m², waarvan 3000 m² bos.   </p>

                    <p>Grootwarenhuizen Colruyt, Aldi, Lidl, Carrefour en Delhaize, meerdere bakkers, een ziekenhuis en de Action bevinden zich binnen een straal van 2 kilometer. </p>
                  
                    <footer>
                        <a href="#reserveren" class="button fill merlot">Reserveren</a>
                        <a href="#fotos" class="button merlot">Foto's</a>
                    </footer>
                </div>
            </div>
        </article>

        <article class="white block">
            <div class="splitted">
                <div class="part text">
                    <header>
                        <h1>Accomodatie</h1>
                    </header>


                    <p>Het hoofdgebouw bestaat uit een uitgeruste inoxkeuken met professioneel gasvuur met oven, frigo, diepvriezer, microgolf en koffiezet. Bestek, borden, pannen en potten zijn aanwezig voor {{ max_gebouw }} personen. Handdoeken, afwasmiddel, toiletpapier en kuisproduct zijn niet aanwezig. Borstels, dweilen en emmers wel.  </p>

                    <p>Op het gelijkvloers bevinden zich de toiletten, douches, een grote leefruimte (inclusief tafels, stoelen en banken) en de keuken. De bovenverdieping bestaat uit een grote slaapzaal en kleiner slaapzaaltje (of vergaderzaaltje).  </p>

                    <p>Centrale verwarming, buitenverlichting, een brandalarm, branddeuren en een nooduitgang zijn aanwezig.</p>

                    <p>Er is mogelijkheid om sjorbalken en ander materiaal te huren (zie <a href="/verhuur/materiaal">materiaal</a> voor de prijslijst).</p>

                </div>

                <figure class="part image" id="accomodatie-image">
                    <img src="/images/part/accomodatie.jpg" alt="Keuken">
                    <figcaption>Keuken</figcaption>
                </figure>

            </div>
        </article>

        <article class="white block">
            <div class="splitted">
                <figure class="part image" id="huurprijs-image">
                    <img src="/images/part/huurprijs.jpg" alt="Achterliggende terrein">
                    <figcaption>Het achterliggende terrein</figcaption>
                </figure>

                <div class="part text">
                    <header>
                        <h1>Huurprijs</h1>
                    </header>

                    <p>Het hoofdgebouw (maximaal {{ max_gebouw }} personen) wordt samen met één chalet verhuurd. In de chalet mag niet geslapen worden en deze is enkel beschikbaar voor kampen in de zomervakantie. Deze worden enkel verhuurd aan jeugdbewegingen, scholen, sportclubs en socio-culturele organisaties, geen fuifverhuur. </p>

                    <p>{{ prijzen }}. Deze huurprijzen zijn exclusief de verbruikskosten voor water, elektriciteit en aardgas. Tenten kunnen bijgezet worden bij overnachting van meer dan 2 nachten aan een meerkost van € {{ prijs_tent_dag }} / nacht + € {{ prijs_tent_persoon }} / persoon / nacht (max. {{ max_tenten }} personen in tenten).  </p>

                    <p>De waarborg bedraagt {{ waarborg_weekend }} euro voor een verblijf van 2 nachten of minder en {{ waarborg_kamp }} euro vanaf 3 overnachtingen.</p>

                    <p>Weekendverhuur gebeurt altijd per 2 nachten. In de week is verhuur mogelijk vanaf 1 nacht.</p>
                </div>
            </div>
        </article>





        <section class="white block" id="reserveren">
            <div class="splitted">
                <div class="part calendar">
                    <div class="selection-hint">Selecteer een datum</div>
                    <header>
                        <button class="previous"></button>
                        <time class="month" data-year="{{ calendar.data_year }}" data-month="{{ calendar.data_month }}">{{ calendar.month }} {{ calendar.data_year }}</time>
                        <button class="next"></button>
                    </header>
                    <div class="weekdays row">
                        <div class="column">Ma</div>
                        <div class="column">Di</div>
                        <div class="column">Wo</div>
                        <div class="column">Do</div>
                        <div class="column">Vr</div>
                        <div class="column">Za</div>
                        <div class="column">Zo</div>
                        <div class="clear"></div>
                    </div>

                    <div id="verhuur-calendar-weeks">
                        {{ kalender | raw }}
                    </div>
                    <p>Alle dagen aangeduid met een rode cirkel zijn niet meer beschikbaar.</p>
                </div>

                <div class="part text">
                     <header>
                        <h1>Reservatie aanvragen</h1>
                    </header>

                    <form method="post" action="/verhuur/reserveren">
                        <div class="splitted">
                            <div class="part column first">
                                <label>Aankomst</label>
                                <input type="text" name="startdatum" placeholder="Aankomstdatum" class="calendar_input" data-id="aankomst-selected" data-text="Kies een aankomstdatum" data-next-id="vertrek-datum" id="aankomst-datum">
                            </div>
                            <div class="part column last">
                                <label>Vertrek</label>
                                <input type="text" name="einddatum" placeholder="Vertrekdatum" class="calendar_input" data-id="vertrek-selected" data-text="Kies een vertrekdatum" id="vertrek-datum">
                            </div>
                        </div>
                        <div class="splitted">
                            <div class="part column first">
                                <label>Aantal personen in hoofdgebouw</label>
                                <div class="slider" data-max="{{ max_gebouw }}" data-min="1">
                                    <input type="hidden" name="personen" value="1" id="aantal-personen">
                                    <div class="bar">
                                        <div class="progress"></div>
                                    </div>
                                    <div class="slide">
                                        <div class="circle"></div>
                                        <span class="value">1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="part column last">
                                <div id="aantal-personen-tenten-box" style="display: none;">
                                    <label>Aantal personen in tenten</label>
                                    <div class="slider" data-max="{{ max_tenten }}" data-min="0">
                                        <input type="hidden" name="personen_tenten" value="0" id="aantal-personen-tenten">
                                        <div class="bar">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="slide">
                                            <div class="circle"></div>
                                            <span class="value">0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="list-bundle">
                            <article class="list">
                                <div class="medium column">
                                    <div id="price">€ 0</div>
                                    <div id="borg"></div>
                                </div>
                                <div class="max merlot column">
                                    <p>Voorlopige prijs op basis van opgegeven aantal dagen en personen. Exclusief elektriciteit, gas en water. Definitieve prijs zal in huurcontract staan.</p>
                                </div>
                            </article>
                        </div>

                        <footer>
                            <input type="submit" name="submit" value="Verder" class="fill merlot">
                            <a href="/contact" class="button merlot">Contact</a>
                        </footer>
                    </form>
                    
                </div>
                
            </div>
        </section>


        <section class="block" id="fotos">
            <div id="album_container"></div>
            <noscript>Je moet javascript aanzetten om de foto's te kunnen zien, herlaad daarna de pagina.</noscript>
            {% if general.logged_in_leiding %}
                <div class="button-bar">
                    <a href="/admin/photos/edit/{{ album.id }}" class="button main noborder">Foto's toevoegen</a>
                </div>
            {% endif %}
        </section>
    </main>

    {% include 'libs/photoswipe.html' %}

{% endblock %}