{% set title = 'Reservatie ontvangen' %}
{% extends "base.html" %}

{% block main %}
    <main>
        <article class="white block">
            <div class="part text">
                <header>
                    <h1>Reservatie ontvangen</h1>
                    <h2>Bedankt! We nemen binnenkort contact met je op. Je ontvangt ook een mailtje met de ingevoerde gegevens als herinnering.</h2>
                </header>

                <footer>
                    <a href="/verhuur" class="button main">Terug</a>
                </footer>
            </div>
        </article>
    </main>
{% endblock %}