{% set title = 'Verhuur' %}
{% set description = 'Wij verhuren onze lokalen en terrein aan jeugdverenigingen, doorheen het jaar maar ook in de zomervakantie.' %}
{% extends "base.html" %}

{% use "pages/info/_map.html" %}

{% block head %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/photoswipe.css"> 
    <script src="/js/photoswipe.min.js"></script> 
    <script type="text/javascript">
        function calculateHuurPrijs(startdate, enddate, diffDays, persons, persons_tenten) {
            {{ calculate_huurprijs | raw }}
            return '/';
        }
        function calculateBorg(startdate, enddate, diffDays, persons, persons_tenten) {
            {{ calculate_borg | raw }}
            return '/';
        }

    </script>
    <script src="/js/photos.js"></script>

    <script type="text/javascript">
        var grid = new photos.Grid({});
        grid.trackWidth(document.getElementById('album_container'));
        grid.margin = 5;
        grid.max_height = 190;

        var is_admin = {% if general.logged_in_leiding %}true{% else %}false{% endif %};

        {% for image in images %}
            var photo = new photos.Photo({{image.getSource().width | e('js')}}, {{image.getSource().height | e('js')}}, {{image.id  | e('js')}});
            photo.title = "{{image.title | e('js')}}";
            photo.sources = {{ image.getSourcesJSON | raw }};
            grid.add(photo);
        {% endfor %}
        
        var element = grid.toDOM();
        document.getElementById('album_container').appendChild(element);
        grid.updateVisiblePhotos();

        grid.enablePhotoSwipe();
    </script>
    <script src="/js/verhuur.js"></script>
{% endblock %}

{% block main %}
    <main>
        <section class="block white">
            <div class="splitted">
                <div class="part column first center">
                    <a href="mailto:verhuur@scoutssintjan.be" class="h1-prefix">verhuur@scoutssintjan.be</a>
                    <h1>Lokalenverhuur</h1>      
            
                    <p>Groenstraat 33, 9230 Wetteren</p>

                    <p>
                        De terreinen liggen midden in het groen. Het eerste huis is op enkele honderden meters. Het lokaal is volledig vernieuwd sinds juni 2013, inclusief moderne keuken en sanitair met douches. Er zijn geen bedden.
                    </p>

                    <p>
                        De maximum capaciteit is {{ max_gebouw }} slapers. Meer kan/mag niet omwille van verzekeringen; extra mensen in tenten laten slapen is wel mogelijk. Indien er meer dan 100 personen overnachten, wordt er gevraagd om extra toiletten bij te huren.
                    </p>

                    <p>
                        Naast keuken en sanitair zijn er 5 tak-lokalen die in elkaar overlopen, of via schuifwanden van elkaar kunnen worden gescheiden. Er is ook een gescheiden sanitair met inrij-douche voor minder-validen. De lokalen zijn aangepast voor minder-validen.
                    </p>

                    <p>
                        Voor de eerste {{ prijs_inbegrepen_personen }} personen betaal je {{ prijzen }}. Voor elke extra persoon betaal je €{{prijs_extra_persoon_gebouw}}/nacht/persoon in het lokaal, en €{{prijs_tent_persoon}}/nacht/persoon in tenten. Daar komen kosten bij aan marktprijs van elektriciteit, gas (centrale verwarming en warm water) en water.
                    </p>

                    <p>
                        Vanaf 2024: € 140 / nacht voor de eerste 25 personen. Voor elke extra persoon €6/nacht/persoon in het lokaal, en €3/nacht/persoon in tenten.
                    </p>

                    <div class="buttons">
                        <a href="#reserveren" class="button main fill">Reservatie aanvragen</a>
                        <a href="https://files.scoutssintjan.be/download/verhuurdossier-2020-2021.pdf" target="_blank" class="button main">Verhuurdossier</a>
                    </div>
                </div>
                <div class="part map last" style="position: relative">
                    <div class="map-container"><div id="map" class="map"></div></div>
                </div>
            </div>
        </section>

        <section class="block blue checklist-block">
            <h1>Samenvatting</h1>
            <div>
                <div>
                    <h1 class="prefix">Capaciteit</h1>
                    <div class="check">
                        <p>Max. aantal personen</p>
                        <p>{{ max_gebouw }}</p>
                    </div>
                    <div class="check">
                        <p>Rolstoeltoegankelijk</p>
                        <p class="yes">Ja</p>
                    </div>
                </div>
            
                <div>
                    <h1 class="prefix">Ruimtes</h1>
                    <div class="check">
                        <p>Aantal slaapzalen</p>
                        <p>5</p>
                    </div>
                
                    <!--<div class="check">
                        <p>Aantal dagzalen</p>
                        <p>3</p>
                    </div>
                    <div class="check">
                        <p>Oppervlakte eetzaal</p>
                        <p>50 m²</p>
                    </div>-->
                    <div class="check">
                        <p>Slaapzalen verwarmd</p>
                        <p class="yes">Ja</p>
                    </div>

                    <div class="check">
                        <p>Bedden</p>
                        <p class="no">Nee</p>
                    </div>
                    <div class="check">
                        <p>Wifi beschikbaar</p>
                        <p class="no">Nee</p>
                    </div>
                </div>


                <div>
                    <h1 class="prefix">Keuken</h1>
                    <div class="check">
                        <p>Potten en pannen aanwezig</p>
                        <p class="yes">Ja</p>
                    </div>
                    <div class="check">
                        <p>Bestek aanwezig</p>
                        <p class="yes">Ja</p>
                    </div>
                    <div class="check">
                        <p>Borden aanwezig</p>
                        <p class="yes">Ja</p>
                    </div>
                    <div class="check">
                        <p>Oven aanwezig</p>
                        <p class="yes">Ja</p>
                    </div>
                    <div class="check">
                        <p>Microgolf aanwezig</p>
                        <p class="yes">Ja</p>
                    </div>
                </div>

                <!--
                    <div>
                    <h1 class="prefix">Sanitair</h1>
                    <div class="check">
                        <p>Aantal toiletten</p>
                        <p>4</p>
                    </div>
                    <div class="check">
                        <p>Aantal waskranen</p>
                        <p>5</p>
                    </div>
                    <div class="check">
                        <p>Aantal douchekoppen</p>
                        <p>4</p>
                    </div>
                </div>
                -->


                <div>
                    <h1 class="prefix">Terrein</h1>
                    <!--
                       <div class="check">
                        <p>Oppervlakte terrein</p>
                        <p>1500 m²</p>
                    </div> 
                    -->
                    <div class="check">
                        <p>Kampvuur mogelijk</p>
                        <p class="yes">Ja</p>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <a href="https://files.scoutssintjan.be/download/verhuurdossier-2020-2021.pdf" target="_blank" class="button main fill">Meer info</a>
            </div>
        </section>

        <section class="block" id="fotos">
            <h1>Foto's</h1>
            <div id="album_container"></div>
            <noscript>Je moet javascript aanzetten om de foto's te kunnen zien, herlaad daarna de pagina.</noscript>
            {% if general.logged_in_leiding %}
                <div class="button-bar">
                    <a href="/admin/photos/edit/{{ album.id }}" class="button main noborder">Foto's toevoegen</a>
                </div>
            {% endif %}
        </section>


        <section class="block white" id="reserveren">
            <div class="splitted blocked bigger swap-smartphone">
                <div class="part calendar">
                    <div class="selection-hint">Selecteer een datum</div>
                    <header>
                        <button class="previous"></button>
                        <time class="month" data-year="{{ calendar.data_year }}" data-month="{{ calendar.data_month }}">{{ calendar.month }} {{ calendar.data_year }}</time>
                        <button class="next"></button>
                    </header>
                    <div class="weekdays row">
                        <div class="column">Ma</div>
                        <div class="column">Di</div>
                        <div class="column">Wo</div>
                        <div class="column">Do</div>
                        <div class="column">Vr</div>
                        <div class="column">Za</div>
                        <div class="column">Zo</div>
                        <div class="clear"></div>
                    </div>

                    <div id="verhuur-calendar-weeks">
                        {{ kalender | raw }}
                    </div>

                    <p class="legend-disabled">Bezet</p>
                    <p class="legend-available">Beschikbaar</p>
                </div>

                <div class="part column last center">
                    <header>
                        <h1>Reservatie aanvragen</h1>
                    </header>

                    <form method="post" action="/verhuur/reserveren">
                        <div class="splitted">
                            <div class="part column first">
                                <label>Aankomst</label>
                                <input type="text" name="startdatum" placeholder="Aankomstdatum" class="calendar_input" data-id="aankomst-selected" data-text="Kies een aankomstdatum" data-next-id="vertrek-datum" id="aankomst-datum">
                            </div>
                            <div class="part column last">
                                <label>Vertrek</label>
                                <input type="text" name="einddatum" placeholder="Vertrekdatum" class="calendar_input" data-id="vertrek-selected" data-text="Kies een vertrekdatum" id="vertrek-datum">
                            </div>
                        </div>
                        <div class="splitted">
                            <div class="part column first">
                                <label>Aantal personen in hoofdgebouw</label>
                                <div class="slider" data-max="{{ max_gebouw }}" data-min="1">
                                    <input type="hidden" name="personen" value="1" id="aantal-personen">
                                    <div class="bar">
                                        <div class="progress"></div>
                                    </div>
                                    <div class="slide">
                                        <div class="circle"></div>
                                        <span class="value">1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="part column last">
                                <div id="aantal-personen-tenten-box" data-tenten-min-nachten="{{ tenten_min_nachten }}">
                                    <label>Aantal personen in tenten</label>
                                    <div class="slider" data-max="{{ max_tenten }}" data-min="0">
                                        <input type="hidden" name="personen_tenten" value="0" id="aantal-personen-tenten">
                                        <div class="bar">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="slide">
                                            <div class="circle"></div>
                                            <span class="value">0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <footer>
                            <div class="price-floater">
                                <div>
                                    Totaal<strong style="font-size: 12px; vertical-align: top;">*</strong>
                                    <span id="borg"></span>
                                </div>
                                <div id="price">€ 0</div>
                            </div>

                            <input type="submit" name="submit" value="Verder" class="fill main">
                            <a href="mailto:verhuur@scoutssintjan.be" class="button main">Contact</a>
                        </footer>
                        <p><strong style="font-size: 12px;vertical-align: top;">*</strong> Voorlopige prijs op basis van opgegeven aantal dagen en personen. Exclusief elektriciteit, gas en water. Definitieve prijs zal in huurcontract staan.</p>

                    </form>
                </div>
            </div>
        </section>
    </main>

    {% include 'libs/photoswipe.html' %}

{% endblock %}