<form method="post">
    <div class="text">
        <header>
            <h1>Activiteit {% if new %}aanmaken{% else %}aanpassen{% endif %}</h1>
            {% if success %}<h2>Opgeslagen!</h2>{% endif %}
        </header>

        <div class="splitted">
            <div class="part column first">
                <label>Naam</label>
                <input type="text" name="name" value="{{ event.name }}" placeholder="Korte beschrijving van de activiteit" required="required">

                <label>Datum</label>
                <input type="text" class="datepicker" name="startdate" value="{{ event.startdate }}" placeholder="Startdatum van de activiteit" required="required">

                <label>Tijdstip</label>
                <div class="input-box">
                    Vanaf <input type="text" name="starttime" value="{{ event.starttime }}" placeholder="{{ default_start_hour }}" required="required">
                </div>

                <input id="overnachting" type="checkbox" name="overnachting" value="1" {% if event.overnachting %} checked{% endif %}>
                <label for="overnachting">Activiteit met overnachting</label>

                <div class="checkbox-controllable">
                    <div class="visible-when-checked">
                        <label>Einddatum</label>
                        <input type="text" class="datepicker" name="enddate" value="{{ event.enddate }}" placeholder="Einddatum van de activiteit" required="required">
                    </div>

                    <label>Afhalen</label>
                    <div class="input-box">
                        Om <input type="text" name="endtime" value="{{ event.endtime }}" placeholder="{{ default_end_hour }}" required="required">
                    </div>

                    <div class="visible-when-checked">
                        <label>Afhaal locatie</label>
                        <input type="text" id="dropdown-locatie" class="dropdown" name="endlocation" value="{{ event.endlocation }}" placeholder="{{ default_locatie }}" required="required">
                        <div class="dropdown-list">
                            <div class="option">{{ default_locatie }}</div>
                            <div class="option">Station Wetteren</div>
                            <div class="option">Bib Wetteren</div>
                        </div>
                    </div>
                </div>

            
                {% if errors|length > 0 %}
                    <ul class="error">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>
            <div class="part column last">
                
                <label>Locatie</label>
                <input type="text" id="dropdown-locatie" class="dropdown" name="location" value="{{ event.location }}" placeholder="Scoutsterrein" required="required">
                <div class="dropdown-list">
                    <div class="option">Scoutsterrein</div>
                    <div class="option">Station Wetteren</div>
                    <div class="option">Bib Wetteren</div>
                </div>
                
                <label>Voor wie?</label>
                <label class="select-box">
                    <select required="required" name="group">
                        <option disabled selected hidden>Maak een keuze</option>
                        {% for group in groups %}
                            <option value="{{ group }}"{% if group == event.group %} selected{% endif %}>{{ group }}</option>
                        {% endfor %}
                    </select>
                </label>

            </div>

        </div>

        <footer>
            <input type="submit" class="aubergine fill" value="Opslaan">
            <a href="/admin/maandplanning" class="button merlot">Annuleren</a>
            {% if new == false %}
            <a href="/admin/" class="button merlot">Verwijderen</a>
            {% endif %}
        </footer>

    </div>
</form>