<section class="white block">
    <div class="splitted">
        <div class="part activities smaller" id="maandplanning-events">
            {% include 'maandplanning/events.html' %}
        </div>
        <div class="part calendar">
            <header>
                <button class="previous"></button>
                <time class="month" datetime="{{ calendar.datetime }}">{{ calendar.month }}</time>
                <button class="next"></button>
            </header>
            <div class="weekdays row">
                <div class="column">Ma</div>
                <div class="column">Di</div>
                <div class="column">Wo</div>
                <div class="column">Do</div>
                <div class="column">Vr</div>
                <div class="column">Za</div>
                <div class="column">Zo</div>
                <div class="clear"></div>
            </div>

            <div id="calendar-weeks">
                {% for week in calendar.weeks %}
                    <div class="row{% if week.is_selected == true %} selected{% endif %}">
                        {% for day in week.days %}
                            <time class="column{% if day.is_today == true %} today{% endif %}{% if day.is_current_month == false %} hidden{% endif %}" datetime="{{ day.datetime }}">{{ day.day }}</time>
                        {% endfor %}
                        <div class="clear"></div>
                    </div>
                {% else %}
                    <p>We konden de kalender niet laden. Contacteer ons als dit probleem zich blijft voordoen.</p>
                {% endfor %}
            </div>

            <div class="spacer"></div>

            <footer>
                <div class="search-box">
                    <input type="text" name="" class="white search" placeholder="Zoeken" data-sail="maandplanning">
                    <div class="results-anchor">
                        <div class="results"></div>
                    </div>
                </div>
            </footer>
            {% verbatim %}
            <script id="template-calendar" type="text/html">
                {% for week in calendar.weeks %}
                    <div class="row{% if week.is_selected == true %} selected{% endif %}">
                        {% for day in week.days %}
                            <time class="column{% if day.is_today == true %} today{% endif %}{% if day.is_current_month == false %} hidden{% endif %}" datetime="{{ day.datetime }}">{{ day.day }}</time>
                        {% endfor %}
                        <div class="clear"></div>
                    </div>
                {% else %}
                    <p>We konden de kalender niet laden. Contacteer ons als dit probleem zich blijft voordoen.</p>
                {% endfor %}
            </script>
            {% endverbatim %}
        </div>
    </div>
</section>