{% block head %}

{% endblock %}

{% block javascript %}
    <script src="/js/lazy-load.js"></script>
    <script>
        {% for data in albums %}
            {% for album in data %}
                var sources = {{ album.cover.getSourcesJSON | raw }};
                LazyLoading.lazyLoadBackground(document.getElementById('album_{{album.id}}'), sources);
            {% endfor %}
        {% endfor %}
    </script>
{% endblock %}

{% block albums %}
    {% for y, data in albums %}
        <h1>{{ y }} - {{ y+1 }}</h1>
        <div>
            {% for album in data %}
                <a href="{{ album.getUrl }}"><figure class="album">
                    <div class="image" id="album_{{album.id}}"></div>
                    <figcaption>
                        <h2>{{ album.formatted_date }}{% if tak != album.group %}<span>•</span> {{ album.group | capitalize}}{% endif %}</h2>
                        <h1>{{ album.name }}</h1>
                    </figcaption>
                </figure></a>
            {% endfor %}
            <div class="empty"></div>
        </div>
    {% else %}
        <p>Jammer! We hebben nog geen albums toegevoegd in deze categorie.</p>
    {% endfor %}
    <div class="clear"></div>
{% endblock %}