{% set title = '75 jaar Prins Boudewijn' %}
{% set description = 'Onze scouts bestaat 75 jaar, en dat mag gevierd worden! Dat alles vieren we met een feestweekend op ons eigen terrein, dat gaat door van 18 tot 20 september 2020.' %}
{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        #eetfestijn-image {
            background-image: url(/prins-boudewijn/images/75-jaar/eetfestijn.jpg);
        }

        #geschiedeniswandeling-image {
            background-image: url(/prins-boudewijn/images/75-jaar/geschiedeniswandeling.jpg);
        }

        #kinderdorp-image {
            background-image: url(/prins-boudewijn/images/75-jaar/kinderdorp.jpg);
        }

        #streekbieravond-image {
            background-image: url(/prins-boudewijn/images/75-jaar/streekbieravond.jpg);
        }

        #tabula-rasa-image {
            background-image: url(/prins-boudewijn/images/75-jaar/tabula-rasa.jpg);
        }

        #slotshow-image {
            background-image: url(/prins-boudewijn/images/75-jaar/slotshow.jpg);
        }
        
        main .text > header > h2 {
            margin-bottom: 10px; 
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block main %}
    <main>
        
        <article class="white block" id="veel-gestelde-vragen">
            <div class="splitted">
                <div class="part text">
                    <header>
                        <h1>75 jaar Scouts Prins Boudewijn 🥳</h1>
                    </header>
            
                    <p>75 jaar geleden ontstond de eerste jeugdbeweging in Wetteren, en daar mogen we fier op zijn! Al die jaren heeft onze
                    scouts kunnen rekenen op de inzet van leiding, ouders, materiaalmeesters, oudleiding, sponsors en nog zovele andere
                    vrijwilligers. Bedankt! Dat allemaal om onze leden een leuke zondagnamiddag, weekend of kamp te bezorgen.</p>
            
        
                    <footer>
                        <a href="https://www.facebook.com/events/614335289393445/" class="button fill main">Ga naar Facebook evenement</a>
                    </footer>
                </div>
                <div class="part subtext">
                    <h2>Wanneer vieren we?</h2>
                    <p>Dat alles vieren we met een feestweekend op ons eigen terrein, dat gaat door van 18 tot 20 september 2020. We vieren de
                    voorbije 75 jaar en kijken vooruit naar nog eens minstens hetzelfde erbij! Dit weekend wil je niet missen!</p>

                    <h2>Planning</h2>
                    <p>De planning van het feestweekend vind je hieronder terug.</p>
                </div>
            </div>
        </article>

        <article class="white block" id="tabula-rasa">
            <div class="splitted">
                <figure class="part image" id="tabula-rasa-image">
                    <figcaption>Tabula Rasa Ultiem</figcaption>
                </figure>

                <div class="part text">
                    <header>
                        <h2>Vrijdag 18 september</h2>
                        <h1>Tabula Rasa<span
                            style="margin-left: 5px; font-size: 16px; display: inline-block; background: #9E182E; padding: 5px 7px;color:white; vertical-align: middle;">ULTIEM</span></h1>
                    </header>

                    <p>De beste scoutsfuif van Wetteren en omstreken krijgt een upgrade! We ruilen de gemeentelijke feestzaal in voor een grote
                    feesttent op ons eigen terrein. Dans jij mee de tent de lucht in? Afspraak op 18/09, het belooft een vet feestje te
                    worden!</p>

                    <footer>
                        <a href="https://www.facebook.com/events/2278441632453336/" class="button fill main">Facebook evenement</a>
                    </footer>

                </div>

            </div>
        </article>

        <article class="white block" id="kinderdorp">
            <div class="splitted">
                <div class="part text">
                    <header>
                        <h2>Zaterdag 19 september (vanaf 14u)</h2>
                        <h1>Kinderdorp</h1>
                    </header>

                    <p>Op zaterdagnamiddag ondergaat ons terrein een nooit geziene transformatie. Zelf gesjorde speeltuinen, springkastelen,
                    oude volksspelen, … het is er allemaal (gratis!) te vinden. Ook Studio Flamingo (maken dat mensen dit kunnen
                    aanklikken?) van oudleidster Ruth zal aanwezig zijn met een supergekke knutselworkshop. Er zijn eetkraampjes te vinden
                    en drankjes kunnen verkregen worden in onze feesttent. Komt dat zien!</p>

                </div>

                <figure class="part image" id="kinderdorp-image">
                    <figcaption>Kinderdorp</figcaption>
                </figure>

            </div>
        </article>

        <article class="white block" id="geschiedeniswandeling">
            <div class="splitted">
                <figure class="part image" id="geschiedeniswandeling-image">
                    <figcaption>Geschiedeniswandeling</figcaption>
                </figure>
                
                 <div class="part text">
                    <header>
                        <h2>Zaterdag 19 september (starten van 14u tot 17u)</h2>
                        <h1>Geschiedeniswandeling</h1>
                    </header>

                    <p>Heb jij interesse in de 75-jarige geschiedenis van onze scouts? Wandel je graag? Dan is onze geschiedeniswandeling iets
                    voor jou! Wandel doorheen de mooie Wetterse natuur en ontdek de geschiedenis van onze scouts. De kinderen? Die kunnen
                    zich ondertussen amuseren op de kindernamiddag (onder toezicht van leiding)! Nadien zin in een natje en een droogje?
                    Welkom in de feesttent op ons terrein en op onze streekbieravond!</p>
                    <p>Inschrijven verplicht (info volgt).</p>

                </div>

            </div>
        </article>

        <article class="white block" id="streekbieravond">
            <div class="splitted">
                <div class="part text">
                    <header>
                        <h2>Zaterdag 19 september (18u)</h2>
                        <h1>Streekbieravond<span style="margin-left: 5px; font-size: 16px; display: inline-block; background: #9E182E; padding: 5px 7px;color:white; vertical-align: middle;">Stam edition</span></h1>
                    </header>
        
                    <p>Naast de lekkerste streekbieren, zal op deze avond veel Wetters talent ons podium inpalmen. Verschillende bands uit de
                    streek zorgen voor het nodige streepje muziek en ambiance. Maar ook gezellig bijpraten kan aan onze toog of gezellige
                    tafeltjes. We nodigen dan ook elke oudleid(st)er, oudlid, … uit om nog eens de scoutsverhalen van vroeger uit de doeken
                    te doen! In de feesttent of buiten rond het kampvuur een streekbiertje drinken? Het wordt gezellig! Er zijn ook enkele
                    foodtrucks aanwezig om de hongerige maagjes te spijzen!</p>
                    <p>De eerste band start om 19u. We zingen allemaal samen het Avondlied om 23u stipt, mis dat magische moment niet!
                    (Kinderen kunnen nog op enkele kinderattracties spelen (springkasteel, speeltuin, …)</p>
        
                </div>
        
                <figure class="part image" id="streekbieravond-image">
                    <figcaption>Streekbieravond</figcaption>
                </figure>
        
            </div>
        </article>

        <article class="white block" id="eetfestijn">
            <div class="splitted">
                <figure class="part image" id="eetfestijn-image">
                    <figcaption>Eetfestijn / BBQ</figcaption>
                </figure>

                <div class="part text">
                    <header>
                        <h2>Zondag 20 september (12 - 14u)</h2>
                        <h1>Eetfestijn BBQ</h1>
                    </header>

                    <p>Bestaat er een mooiere manier om een feestweekend af te sluiten dan met een goed stukje vlees of vegetarisch
                    alternatief? Kom het proeven op onze BBQ! De voetjes onder tafel steken kan van 12u tot 14u.</p>
                    <p>Inschrijven verplicht (info volgt).</p>

                </div>

            </div>
        </article>

        <article class="white block" id="slotshow">
            <div class="splitted">
                <div class="part text">
                    <header>
                        <h2>Zondag 20 september (14u30)</h2>
                        <h1>Slotshow</h1>
                    </header>

                    <p>Om het feestweekend in schoonheid af te sluiten, verwachten we oude en nieuwe leden voor een heuse slotshow! Een
                    interactief toneel door de leidingsploeg met spelletjes en leuke uitdagingen. Kom ook te weten wie je leiding wordt dit
                    jaar! Meer info volgt later.
                    We nemen ook afscheid van leiding en leden van de VZW.</p>

                </div>

                <figure class="part image" id="slotshow-image">
                    <figcaption>Slotshow</figcaption>
                </figure>

            </div>
        </article>


        <section class="block">
            <div class="cta">
                <h1>Volg de laatste updates op het Facebook evenement!</h1>
                <h2>Mis onze leuke acties niet!</h2>
                <a href="https://www.facebook.com/events/614335289393445/" class="big button main">Ga naar Facebook
                    evenement</a>
            </div>
        </section>



    </main>
{% endblock %}