{% set title = 'Jin' %}
{% set description = 'Alles over jin op scouts Prins Boudewijn.' %}
{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        #alcohol-image {
            background-image: url(/prins-boudewijn/images/part/alcohol.jpg);
        }
        #jin-image {
            background-image: url(/prins-boudewijn/images/part/jin.jpg);
        }
        #leefweek-image {
            background-image: url(/prins-boudewijn/images/part/leefweek.jpg);
        }
        #jinreis-image {
            background-image: url(/prins-boudewijn/images/part/jinreis.jpg);
        }

    </style>
{% endblock %}

{% block main %}
    <main>

        <article class="white block">
            <div class="splitted">
                <div class="part text">
                    <header>
                        <h1>De jin</h1>
                    </header>

                    <p>Jin, Jij en Ik een Noodzaak. Als jin sta je op een grens: die tussen lid en leiding. In hun eigen 'jonge' stijl werken ze gekke activiteiten, projecten en zelfs hun kamp uit. Al doende leren ze samen te werken en verantwoordelijkheid op te nemen. Hieruit groeit engagement voor de groep en voor de samenleving. Het is een jaar waarin ze hun eigen zegje hebben, waar ze samen met hun medejin tot ideeën komen en ze samen uitwerken. De jin gaat op buitenlands kamp. Ze organiseren financiële activiteiten om dat te kunnen bekostigen. Ze mogen zelf hun kamp invullen en vorm geven. Jin, gun ze hun apenjaar!</p>

                    <p>Hieronder vind je een heleboel informatie over de jin.</p>

                    <footer>
                        <a href="/info" class="button fill main">Terug</a>
                    </footer>
                </div>

                <figure class="part image" id="jinreis-image">
                    <figcaption>Jinreis 2019</figcaption>
                </figure>

            </div>
        </article>

        <article class="white block">
            <div class="splitted">
                <figure class="part image" id="jin-image">
                    <figcaption>Jin °2000 - °2001</figcaption>
                </figure>

                <div class="part text">
                    <header>
                        <h1>Buitenlands kamp</h1>
                    </header>

                    <p>Tijdens het jaar veramelt de jin geld om hun eigen buitenlands kamp te financieren. Waar ze naartoe gaan, wanneer en hoe: ze bepalen alles zelf. Ook hoe ze aan het geld geraken kiezen ze zelf: ze organiseren een eetavond, een kleine fuif, gaan helpen afwassen...</p>
                </div>
            </div>
        </article>

        <article class="white block">
            <div class="splitted">
               

                <div class="part text">
                    <header>
                        <h1>Leefweek</h1>
                    </header>

                    <p>Eén week lang mogen de jin op de scouts blijven logeren. Ze zullen dan ook net als thuis op de scouts eten, slapen, huiswerk maken, naar school gaan en studeren. Ook buitenschoolse activiteiten kunnen zoals elke week gewoon doorgaan. Om het studeren niet te verwaarlozen zorgen we bovendien voor een stille ruimte, ingericht als studeerlokaal.</p>

                    <p>Het is echter niet de bedoeling dat deze week een feest– of vakantieweek wordt. Het is een week om samen te leren leven, elkaar beter te leren kennen, afspraken te leren maken en deze ook na te komen. Bovendien ook een week waarin goede schoolprestaties neer moeten worden gezet.</p>

                    <p>Naast het samenhorigheidsgevoel staat ook het zelfstandig leven centraal: zelf de boterhammen smeren, boodschappen doen, ‘s avonds samen koken en afwassen zijn allemaal dingen die moeten gebeuren. Uiteraard draagt dit alles bij tot het doel van de leefweek.</p>

                </div>
                 <figure class="part image" id="leefweek-image">
                </figure>
            </div>
        </article>

        <!--<article class="white block">
            <div class="splitted">
                <figure class="part image" id="alcohol-image">
                </figure>
                <div class="part text">
                    <header>
                        <h1>Alcohol en drugsbeleid</h1>
                    </header>

                    <p>Alcohol blijft verboden voor leden onder de 16 jaar. De jin mag al eens wat meer drinken, maar dit altijd met mate en onder toezicht van de leiding.</p>

                    <p>Roken is verboden, tenzij hiervoor duidelijke afspraken zijn gemaakt met de ouders. Dit gebeurt altijd uit het zicht van de andere leden en enkel onder begeleiding.</p>

                </div>

                

            </div>
        </article>-->
    </main>
{% endblock %}