#menu {
    display: none;
}
#container::before {
    background: url(../sint-jan/images/logo.png) 10px no-repeat;
    background-size: contain;
    display: block;
    height: 90px;
    margin: 20px 0;
    content: '';
}

#footer {
    display: none;
}

main {
    padding: 0 !important;
}
.text {
    padding: 10px 20px !important;
}

.button {
    display: none !important;
}

body {
    page-break-after: auto;
}

#container {
    display: block !important;
    min-height: 0 !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
}
main .block {
    margin: 0 !important;
    padding: 0 !important;

    &.white, &:first-child , &.blue {
        &::before {
            display: none;
        }
    }
}

main>.block > .text {
    max-width: none;
}

html, body { height: auto; }

@page {
    size: A5;
  }