 <div class="text">
    <h1>Afrekening {{ afrekening.id }}</h1>
    <p>{{ afrekening.mededeling }}</p>
    
    <table class="details last-right">
        <tbody>
            {% for inschrijving in afrekening.inschrijvingen %}
                <tr>
                    <td>{{ inschrijving.lid.voornaam }} {{ inschrijving.lid.achternaam }} ({{inschrijving.tak}})</td>
                    <td>
                        {% if inschrijving.isBetaald %}
                            (ok)
                        {% endif %}
                        {{ inschrijving.getPrijs() }}
                        {% if inschrijving.halfjaarlijks == 1 %}(halfjaarlijkse vermindering){% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Totaal</td>
                <td>{{ afrekening.getTotaal() }}</td>
            </tr>

            {% if afrekening.betaald_scouts > 0 %}
                <tr>
                    <td>Verminderd lidgeld</td>
                    <td>- {{ afrekening.getBetaaldScouts() }}</td>
                </tr>
            {% endif %}
            {% if afrekening.betaald_overschrijving > 0 %}
                <tr>
                    <td>Overgeschreven</td>
                    <td>- {{ afrekening.getBetaaldOverschrijving() }}</td>
                </tr>
            {% endif %}
            {% if afrekening.betaald_cash > 0 %}
                <tr>
                    <td>Cash betaald</td>
                    <td>- {{ afrekening.getBetaaldCash() }}</td>
                </tr>
            {% endif %}

            <tr>
                <td>Te betalen</td>
                <td>{{ afrekening.getNogTeBetalen() }}</td>
            </tr>
        </tfoot>
    </table>

    <h2>Contactgegevens</h2>
    {% for ouder in ouders %}
        <p>{{ouder.user.firstname}} {{ouder.user.lastname}}, {{ouder.user.phone}}, {{ouder.user.mail}}</p>
    {% endfor %}

    <footer>
        {% if from_inschrijvingen %}
            <a href="/admin/inschrijvingen" class="merlot button">Terug</a>
        {% else %}
            <a href="/admin/afrekeningen/betalen/{{ afrekening.id }}" class="fill merlot button">Betalen</a>
            <a href="/admin/afrekeningen" class="merlot button">Terug</a>
        {% endif %}
    </footer>
</div>