{% autoescape false %}Tak;Takjaar;Voornaam;Achternaam;Geslacht;Geboortedatum;Gsm;Naam ouder;GSM ouder;E-mail ouder;
{% for lid in leden %}
{{ lid.inschrijving.tak | capitalize }};{{lid.inschrijving.getTakJaar()}};{{ lid.voornaam }};{{ lid.achternaam }};{{ lid.geslacht }};{{ lid.geboortedatum | date('d/m/Y')}};{{ lid.gsm }};{% for ouder in lid.ouders %}
{% if loop.index > 1 %}
;;;;;;;{%endif%}{{ ouder.voornaam }} {{ ouder.achternaam }};{{ ouder.gsm | replace({' ': " " }) }};{{ ouder.email }};
{% else %}

{% endfor %}
{% endfor %}{% endautoescape %}