

{% for result in results %}
    <article class="result{% if loop.last %} last{% endif %}">
        <h1>{{ result.voornaam }} {{ result.achternaam }}</h1>
        <p>{{ result.tak | capitalize }}</p>
        {% if (result.gsm is not empty) %}
            <p>{{ result.gsm }}</p>
        {% endif %}
        <p><a href="/admin/inschrijvingen/lid/{{ result.id }}" class="button aubergine noborder">Steekkaart</a></p>
    </article>
{% else %}
    <article class="result last">
        <h1>Geen resultaten</h1>
    </article>
{% endfor %}