{% extends "base.html" %}

{% block main %}
    <main>
        <div class="white block">
            <div class="text">

                {% if finished %}
                    <h1>Hoera! Je kinderen zijn ingeschreven.</h1>
                    <p>Hieronder vind je een overzicht van het te betalen inschrijvingsgeld. Dit kan betaald worden via een overschrijving in één geheel. Gelieve dit niet te lang uit te stellen. We hebben dit overzicht ook via e-mail naar je verzonden.</p>
                {% else %} 
                    <h1>Afrekening</h1>
                    <p>Hieronder vind je een overzicht van het te betalen inschrijvingsgeld. Dit kan betaald worden via een overschrijving in één geheel. Gelieve dit niet te lang uit te stellen.</p>
                {% endif %}

                <p>Overschrijven kan naar volgend rekeningsnummer, zeker MET vermelding van "{{ afrekening.mededeling }}" (let vooral op het getal) voor onze interne administratie. </p>

                <div class="splitted">
                    <div class="part column first">
                        <table class="details">
                            <tr>
                                <td>IBAN</td>
                                <td>BE60 4441 7118 4170</td>
                            </tr>
                            <tr>
                                <td>BIC</td>
                                <td>KREDBEBB</td>
                            </tr>
                            <tr>
                                <td>Naam</td>
                                <td>Scouts Prins Boudewijn Wetteren</td>
                            </tr>
                            <tr>
                                <td>Adres</td>
                                <td>Groene wegel 2, 9230 Wetteren</td>
                            </tr>
                            <tr>
                                <td>Mededeling</td>
                                <td>"{{ afrekening.mededeling }}"</td>
                            </tr>
                            <tr>
                                <td>Bedrag</td>
                                <td>{{ afrekening.getNogTeBetalen() }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="part column last">
                        <table class="details right">
                            <tbody>
                               {% for inschrijving in afrekening.inschrijvingen %}
                                    <tr>
                                        <td>{{ inschrijving.lid.voornaam }} {{ inschrijving.lid.achternaam }} ({{inschrijving.tak}})</td>
                                        <td>
                                            {% if inschrijving.isBetaald %}
                                                (ok)
                                            {% endif %}
                                            {{ inschrijving.getPrijs() }}
                                            {% if inschrijving.halfjaarlijks == 1 %}
                                                (halfjaarlijkse vermindering)
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Totaal</td>
                                    <td>{{ afrekening.getTotaal() }}</td>
                                </tr>

                                {% if afrekening.betaald_scouts > 0 %}
                                    <tr>
                                        <td>Verminderd lidgeld</td>
                                        <td>- {{ afrekening.getBetaaldScouts() }}</td>
                                    </tr>
                                {% endif %}
                                {% if afrekening.betaald_overschrijving > 0 %}
                                    <tr>
                                        <td>Overgeschreven</td>
                                        <td>- {{ afrekening.getBetaaldOverschrijving() }}</td>
                                    </tr>
                                {% endif %}
                                {% if afrekening.betaald_cash > 0 %}
                                    <tr>
                                        <td>Cash betaald</td>
                                        <td>- {{ afrekening.getBetaaldCash() }}</td>
                                    </tr>
                                {% endif %}

                                <tr>
                                    <td>Te betalen</td>
                                    <td>{{ afrekening.getNogTeBetalen() }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <p><strong>Opgelet! Dit rekeningsnummer (= scoutsrekening) verschilt van het rekeningsnummer dat gebruikt wordt voor weekend en kamp (= takrekening).</strong></p>

                <footer>
                    <a href="javascript:window.print();" class="fill merlot button">Afdrukken</a><a href="/ouders" class="merlot button">Klaar</a>
                </footer>
            </div>
        </div>
    </main>
{% endblock %}

