{% extends "base.html" %}

{% block main %}
    <main>
        <div class="white block">
                <form method="post">
                    <div class="text">
                        
                        {% if new %}
                            <h1>Broer of zus inschrijven</h1>
                        {% else %}
                            <h1>Algemene gegevens van {{ lid['voornaam'] }} nakijken</h1>
                        {% endif %}

                        {% if fail %}
                        <ul class="error">
                            <li>Niet alles werd correct ingevuld. Kijk de foutmeldingen hieronder even na.</li>
                        </ul>{% endif %}
                        {% if success %}
                        <h2>Gelukt!</h2>{% endif %}

                        {% if errors|length > 0 %}
                            <ul class="error">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="splitted">
                            <div class="part column first">
                                <label>Voornaam</label>
                                <input type="text" name="lid-voornaam" placeholder="Voornaam van het kind / de jongere" value="{{ lid['voornaam'] | e('html_attr') }}">

                                <label>Achternaam</label>
                                <input type="text" class="achternaam" name="lid-achternaam" placeholder="Naam van het kind / de jongere" value="{{ lid.achternaam | e('html_attr') }}">

                                <label>Geslacht</label>
                                <input id="geslacht-jongen" class="randomize-id" type="radio" data-name="lid-geslacht" name="lid-geslacht" value="M"{% if lid.geslacht == 'M' %} checked{% endif %}>
                                <label for="geslacht-jongen">Jongen</label>

                                <input id="geslacht-meisje" class="randomize-id" type="radio" data-name="lid-geslacht" name="lid-geslacht" value="V"{% if lid.geslacht == 'V' %} checked{% endif %}>
                                <label for="geslacht-meisje">Meisje</label>
                            
                            </div>

                            <div class="part column last">
                                <label>Geboortedatum</label>
                                <div class="input-box">
                                    <label class="select-box mini">
                                        <select name="lid-geboortedatum-dag">
                                            <option>Dag</option>
                                            {% for day in 1..31 %}
                                                <option value="{{ day }}"{% if lid.geboortedatum_dag == day %} selected{% endif %}>{{ day }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>

                                    <label class="right select-box small">
                                        <select name="lid-geboortedatum-jaar" class="lid-geboortejaar">
                                            <option>Jaar</option>
                                            {% for jaar in jaren %}
                                                <option value="{{ jaar }}"{% if lid.geboortedatum_jaar == jaar %} selected{% endif %}>{{ jaar }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>

                                    <label class="select-box max">
                                        <select name="lid-geboortedatum-maand">
                                            <option>Maand</option>
                                            {% for maand in maanden %}
                                                <option value="{{ loop.index }}"{% if lid.geboortedatum_maand == loop.index %} selected{% endif %}>{{ maand }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>

                                <aside class="givers jin"{% if lid.tak != 'givers' and lid.tak != 'jin' %} style="display: none;"{% endif %}>
                                    <label>GSM van de jongere</label>
                                    <input type="text" name="lid-gsm" placeholder="Vul GSM nummer in van het lid" value="{{ lid.gsm | e('html_attr') }}">
                                </aside>

                                <aside class="kapoenen"{% if lid.tak != 'kapoenen' %} style="display: none;"{% endif %}>
                                    <p>
                                    Tak: kapoenen
                                    </p>
                                    <p>
                                        De Kapoenen is de tak voor de allerkleinsten. Het leven van een kapoen (6-8) is er één vol spel, fantasie, creativiteit en expressie. Sommigen gaan voor de eerste keer naar de scouts, voor de eerste keer op weekend, voor de eerste keer op kamp. Zoveel nieuwe dingen! Wat doen we bij de kapoenen? We spelen, we ravotten, we maken ons vuil, we kliederen en kladderen, we zingen, we klimmen in de bomen... Een heleboel dus! Speelkledij is een must!
                                    </p>
                                </aside>
                                <aside class="wouters"{% if lid.tak != 'wouters' %} style="display: none;"{% endif %}>
                                    <p>
                                    Tak: wouters
                                    </p>
                                    <p>
                                        Wie tussen 8 en 11 jaar is, kan meespelen bij de wouters. Zij voelen zich vaak al ervaren scouten, en dat zijn ze eigenlijk ook wel een beetje. Wouters worden zich steeds meer bewust van wat er rond hen gebeurt: op school, thuis en op de scouts. Ze krijgen ruimte en kansen om dingen uit te proberen en van elkaar te leren. Ze verleggen hun grenzen, halen kattenkwaad uit en kunnen vooral onbezorgd spelen.
                                    </p>
                                </aside>
                                <aside class="jonggivers"{% if lid.tak != 'jonggivers' %} style="display: none;"{% endif %}>
                                    <p>
                                    Tak: jonggivers
                                    </p>
                                    <p>
                                        De jonggivers, een geval apart. Niet oud, maar ook niet zo jong meer. In ieder geval in volle ontwikkeling. Ze mogen al alleen op pad, leren sjorren, kaartlezen en gaan op tentenkamp, waar ze zelfs hun eigen potje leren koken! Jonggivers krijgen een waaier van mogelijkheden om mee te beslissen, zelf de handen uit de mouwen te steken en allerlei vaardigheden onder de knie te krijgen. Een tak boordevol nieuwe dingen!
                                    </p>
                                </aside>
                                <aside class="givers"{% if lid.tak != 'givers' %} style="display: none;"{% endif %}>
                                    <p>
                                    Tak: givers
                                    </p>
                                    <p>
                                        Givers trekken samen op, hun vrienden zijn heilig. Ze hechten heel veel belang aan de groepssfeer. Van hun leiding krijgen ze alle mogelijkheden, ervaringen, spanning en enthousiasme die ze alleen binnen scoutsing kunnen vinden. Maar givers hebben ook hun eigen willetje. Ze krijgen dan ook elke keer dat ietsje meer. Dat ietsje meer participatie, dat ietsje meer zelfstandigheid, dat ietsje meer uitdaging. Als je hier zit, ben je al een echte!
                                    </p>
                                </aside>
                                <aside class="jin"{% if lid.tak != 'jin' %} style="display: none;"{% endif %}>
                                    <p>
                                    Tak: jin
                                    </p>
                                    <p>
                                       Jin, Jij en Ik een Noodzaak. Als jin sta je op een grens: die tussen lid en leiding. In hun eigen 'jonge' stijl werken ze gekke activiteiten, projecten en zelfs hun kamp uit. Al doende leren ze samen te werken en verantwoordelijkheid op te nemen. Hieruit groeit engagement voor de groep en voor de samenleving. Het is een jaar waarin ze hun eigen zegje hebben, waar ze samen met hun medejin tot ideeën komen en ze samen uitwerken. De jin gaat op buitenlands kamp. Ze organiseren financiële activiteiten om dat te kunnen bekostigen. Ze mogen zelf hun kamp invullen en vorm geven. Jin, gun ze hun apenjaar!
                                    </p>
                                </aside>
                                <aside class="ongeldig" style="display: none;">
                                    <p>
                                        Jouw zoon/dochter is te jong/oud voor onze scouts. Leden zijn welkom vanaf 6 jaar, of als ze nog 6 jaar worden in dat jaar.
                                    </p>
                                </aside>
                            </div>
                        </div>
                         
                        <footer>
                            <input type="submit" class="aubergine fill" value="{% if new %}Inschrijven{% else %}Opslaan{% endif %}">
                        </footer>

                    </div>
                </form>
        </div>
        <script type="text/javascript">
            var geboortedatums = {{ takken | raw }};

            function check_birthday() {
                var year = parseInt($(this).val());
                var input_box = $(this).parent().parent();
                input_box.siblings('aside').hide();

                if (isNaN(year)) {
                    return;
                } 

                if (typeof geboortedatums[year] === 'undefined') {
                    input_box.siblings('aside.ongeldig').show();
                } else {
                    input_box.siblings('aside.'+geboortedatums[year]).show();
                }
            }

            $( document ).ready(function() {
                $('.lid-geboortejaar').change(function() {
                    check_birthday.call(this);
                });
                $('.lid-geboortejaar').each(function() {
                    check_birthday.call(this);
                });
            });
        </script>
    </main>
{% endblock %}