<label>Belangrijke afspraken vanuit de gezinssituatie</label>
<textarea type="text" name="gezinssituatie" placeholder="Bv. regeling echtscheiding">{{ gezin.gezinssituatie }}</textarea>

<h1>Scouting op maat</h1>
<p>We willen de scouts toegankelijk houden voor alle jongeren. We engageren ons om de kosten tijdens het jaar en op kamp voor alle leden zo laag en transparant mogelijk te houden. De scouts betaalt het lidgeld en - in de mate van het mogelijke - een deel van of volledig de kosten van activiteiten tijdens het jaar (groepsreis, weekend, kamp...) voor gezinnen met financiële moelijkheden. We zoeken oplossingen voor de aankoop van kampeermateriaal, uniformen...</p>

<blockquote cite="https://www.scoutsengidsenvlaanderen.be/files/publicaties/documenten/2013-scouting-op-maat-financi-le-tegemoetkomingen.pdf">
    <p>Als we de uitgaven voor ouders voor een jaar scouting vergelijken met deze voor een andere jeugdbeweging, sportorganisatie of culturele hobby, dan hoeft scouting niet duurder of goedkoper te zijn. Toch betekent lid zijn bij Scouts en Gidsen Vlaanderen van één of meerdere kinderen binnen één gezin soms een niet onaardige hap uit het familiale budget. Want behalve het jaarlijkse lidgeld en de kosten van weekends en kampen, komen hier ook nog niet-jaarlijkse kosten bij zoals de aankoop van een uniform en kampeermateriaal (slaapzak, luchtmatras, rugzak, ...) en tal van andere uitgaven (etentje op het groepsfeest, een zwemactiviteit, uitstappen, ...).</p>

    <p>Niet elk gezin heeft het daar gemakkelijk mee. Voor sommige ouders wegen deze kosten om verschillende redenen zwaarder door dan voor anderen. Al zullen ouders daar niet altijd graag mee op de proppen komen. En voor leiding is het niet altijd gemakkelijk om signalen bij ouders op te vangen die erop wijzen dat het kostenplaatje van scouting voor hen een drempel is.</p>

    <p>Het is daarom belangrijk om te weten dat er verschillende grote en kleinere initiatieven bestaan om tegemoet te komen aan deze mogelijke  financiële drempel voor maatschappelijk kwetsbare gezinnen. Scouts en Gidsen Vlaanderen werkte hiervoor reeds verschillende initiatieven uit, die we in deze brochure kort oplijsten. Maar ook kleine ingrepen in je lokale groepswerking kunnen ervoor zorgen dat de kostprijs voor alle leden zo laag mogelijk gehouden wordt.</p>

    <p>Al deze initiatieven, groot en klein, worden gebundeld onder de noemer Scouting op Maat: ideeën en acties die ervoor zorgen dat eventuele  financiële drempels voor deelname aan scouting voor alle jongeren hopelijk steeds meer zullen verdwijnen. Want scouting, da’s voor iedereen!</p>
</blockquote>

<p>Om de drempel zo laag mogelijk te houden, voorzien we een discrete checkbox die je kan aanvinken. Dan kunnen we samen kijken waar we precies kunnen bijstaan.</p>

<input id="drempel" type="checkbox" name="scouting_op_maat" value="1"{% if gezin.scouting_op_maat %} checked{% endif %}>
<label for="drempel">Het kostenplaatje van scouting weegt zwaar op ons gezin</label>

<div class="checkbox-controllable">
<p class="visible-when-checked">Bedankt, onze takleiding bespreekt dit graag persoonlijk en discreet op een huisbezoek.</p>
</div>