{% extends "base.html" %}

{% block main %}
    <main>
        <div class="white block">
            <div class="text">
                <h1>Controleer je e-mails</h1>
                <p>De opgegeven ouders hebben zonet een e-mail ontvangen waarmee ze een wachtwoord kunnen aanmaken. Elke ouder maakt dus een eigen account en kan inloggen met zijn/haar e-mailadres met zelf gekozen wachtwoord. Daarmee kunnen ze op deze website inloggen om de inschrijvingen aan te passen (bv. medische gegevens) of broers / zussen toe te voegen.  </p>

                <h2>Hoe kan ik de inschrijving afronden?</h2>
                <p><strong>Graag vragen we aan één van de ouders om deze e-mail te openen en een account aan te maken door de link in de e-mail te openen.</strong> Eventuele andere ouders kunnen later nog steeds een account aanmaken met de e-mail die ook zij hebben gekregen.</p>
                <p>Na het aanmaken van het account zal nog gevraagd worden om de individuele steekkaart (o.a. medische gegevens) van de leden in te vullen, je kan dit ook tijdelijk overslaan. Pas daarna krijg je een definitieve afrekening en is de inschrijving bevestigd.</p>

                <h2>E-mail niet ontvangen?</h2>
                <p>Het kan enkele minuten duren voor de e-mail aankomt, heb dus even geduld. Vergeet ook niet in spam te controleren als je de e-mail niet vindt.</p>
                
            </div>
        </div>
    </main>
{% endblock %}