{% extends "base.html" %}

{% block main %}
    <main>
        <div class="white block">
                <form method="post">
                    <div class="text">
                        
                        <h1>Nieuw gezin inschrijven</h1>
                        <h2>Deze pagina is enkel voor nieuwe leden. Leden die vorig jaar waren ingeschreven kunnen inloggen met hun account om hun inschrijving te verlengen. Broers en zussen moeten ook via die weg worden ingeschreven.</h2>
                        {% if fail %}
                        <ul class="error">
                            <li>Niet alles werd correct ingevuld. Kijk de foutmeldingen hieronder even na.</li>
                        </ul>{% endif %}
                        {% if success %}
                        <h2>Gelukt!</h2>{% endif %}

                        {% if errors|length > 0 %}
                            <ul class="error">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% set aantal = max(1, leden | length) %}
                        {% for i in 0..aantal %}
                            {% set lid = leden[loop.index0] %}
                            <div class="leden-bundle{% if loop.index > 1 and lid | length == 0 %} leden-new" style="display: none;{% endif %}">
                                <h2>Gegevens nieuw lid</h2>
                                {% set multiple = '[]' %}
                                {% set multipleCount = '[' ~ loop.index0 ~ ']' %}
                                {{ include('leden/lid-aanpassen.part.html') }}
                            </div>
                        {% endfor %}
                        <button class="icon-button delete delete-count"{% if leden | length <= 1 %} style="display: none;"{% endif %}>Lid verwijderen</button>
                        <button class="icon-button plus add-count" data-field="leden" data-move="achternaam" data-max="10"{% if max(1, leden | length) >= 10 %} style="display: none;"{% endif %}>Broer of zus inschrijven</button>

                        <h1>Ouders of voogd</h1>

                        {% set aantal = max(1, ouders | length) %}

                        {% for i in 0..aantal %}
                            {% set ouder = ouders[loop.index0] %}
                            <div class="ouders-bundle{% if loop.index > 1 and ouder | length == 0 %} ouders-new" style="display: none;{% endif %}">
                                <h2 data-fill="Gegevens">Gegevens ouder</h2>
                                {% set multiple = '[]' %}
                                {{ include('leden/ouder-aanpassen.part.html') }}

                                {% if ouder.errors|length > 0 %}
                                    <ul class="error">
                                        {% for error in ouder.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                            </div>
                        {% endfor %}

                        <button class="icon-button delete delete-count" data-field="ouders"{% if aantal <= 1 %} style="display: none;"{% endif %}>Ouder verwijderen</button>
                        <button class="icon-button plus add-count" data-field="ouders" data-move="adres,gemeente,postcode,telefoon" data-max="4"{% if aantal >= 4 %} style="display: none;"{% endif %}>Ouder toevoegen</button>

                        <h1>Gezin</h1>
                        {{ include('leden/gezin_settings.part.html') }}

                        <footer>
                            <input type="submit" class="aubergine fill" value="Inschrijven">
                        </footer>

                    </div>
                </form>
        </div>
        <script type="text/javascript">
            var id_counter = 0;

            {{ include('leden/lid-aanpassen.part.js') }}

            $( document ).ready(function() {
                $('.add-count').click(function(event) {
                    // Element .XXXX-new zoeken, kopieëren, class verwijderen, erachter plakken en zichtbaar maken
                    event.preventDefault();

                    var field = $(this).attr('data-field');
                    var max = parseInt($(this).attr('data-max'));

                    var fields = $('.'+field+'-bundle');
                    var aantal = fields.length; // == aantal zichtbare NA het toevoegen

                    // Voorlaatste is laatste
                    var last_fields = fields.eq(-2);

                    var clean_fields = $('.'+field+'-new');

                    var new_fields = clean_fields.clone(true); // Event handlers meenemen
                    
                    // Radio button names fixen
                    new_fields.find('input[type="radio"]').each(function() {
                        var data_name = $(this).attr('data-name');
                        $(this).attr('name', data_name+"["+(aantal-1)+"]");
                    });
                    

                    // id's fixen
                    new_fields.find('.randomize-id').each(function() {
                        var id = $(this).attr('id');
                        var new_id = field+'-unique-id-field'+id_counter;
                        id_counter++;
                        var labels = new_fields.find('label[for="'+id+'"]');
                        $(this).attr('id', new_id);
                        labels.attr('for', new_id);
                    });

                    new_fields.removeClass(field+'-new');
                    clean_fields.before(new_fields);
                    new_fields.show();

                    if (aantal >= max) {
                        $(this).hide();
                    }
                    if (aantal > 1) {
                        $(this).prev().show();
                    }
                    new_fields.find('input')[0].focus();

                    var move_raw = $(this).attr('data-move');
                    var move = move_raw.split(',');
                    if (move.length > 0) {
                        for (var i = 0; i < move.length; i++) {
                            var cl = move[i];
                            var ori = last_fields.find('.'+cl);
                            var ne = new_fields.find('.'+cl);
                            ne.val(ori.val());
                        }
                    }
                });

                $('.delete-count').click(function(event) {
                    // Element .XXXX-new zoeken, kopieëren, class verwijderen, erachter plakken en zichtbaar maken
                    event.preventDefault();

                    var add_element = $(this).next();

                    var field = add_element.attr('data-field');
                    var max = parseInt(add_element.attr('data-max'));

                    var fields = $('.'+field+'-bundle');
                    var aantal = fields.length - 2; // == aantal zichtbare NA het verwijderen

                    // Voorlaatste is laatste
                    var last_fields = fields.eq(-2);

                    last_fields.remove();
                    
                    if (aantal <= max) {
                        // Toevoegen knop terug tonen
                        add_element.show();
                    }

                    if (aantal == 1) {
                        $(this).hide();
                    }
                });
            });
        </script>
    </main>
{% endblock %}