{% extends "base.html" %}

{% block main %}
    <main>
        <div class="white block">
            <div class="text">
                <h1>Controleer je e-mails</h1>
                <p>De opgegeven ouders hebben zonet een e-mail ontvangen waarmee ze een wachtwoord kunnen aanmaken. Daarmee kunnen ze op deze website inloggen om de inschrijvingen aan te passen (bv. medische gegevens) of broers / zussen toe te voegen.  </p>

                <p><strong>Graag vragen we aan één van de ouders om deze e-mail te openen zodat we de inschrijving kunnen afronden (steekkaarten, betaling...).</strong> Eventuele andere ouders kunnen later nog steeds een account aanmaken met de e-mail die ook zij hebben gekregen.</p>
                
            </div>
        </div>)
    </main>
{% endblock %}