{% extends "base.html" %}

{% block main %}
    <main>
        <div class="white block">
            <div class="text">
                
                <h1>Bijna klaar, controleer je e-mails</h1>
                <p>De opgegeven ouders hebben zonet een mail ontvangen waarmee ze een wachtwoord kunnen aanmaken. Daarmee kunnen ze op deze website inloggen om de inschrijvingen aan te passen (bv. medische gegevens) of broers / zussen toe te voegen.  </p>

                <p>Graag vragen we nu al één van de ouders om dit in te stellen zodat we de inschrijving kunnen afronden.</p>
                
                <footer>
                    <a href="/ouders/mail-niet-ontvangen" class="fill merlot button">Mail niet ontvangen</a>
                </footer>

            </div>
        </div>
    </main>
{% endblock %}