{% set title = 'Inschrijven' %}
{% set description = 'Op deze pagina kan je je zoon of dochter online inschrijven. Je hoeft hiervoor dus niet naar de scouts te komen.' %}
{% extends "base.html" %}

{% block main %}
    <main>
        <article class="white block">
            <div class="splitted">
                <div class="part text">
                    <header>
                        <h1>Inschrijven / gegevens aanpassen</h1>
                    </header>

                    <p>Via deze website is het mogelijk om je kind(eren) in te schrijven en tijdens het jaar (medische) gegevens aan te passen. We organiseren elk jaar ook één of meerdere inschrijvingsmomenten waarbij je dit op de scouts kan doen. Volg daarvoor de blog op de startpagina.</p>

                    <p>Voor kamp en tijdens het jaar vragen we alle ouders om alle gegevens geregeld na te kijken zodat we altijd de meest recente informatie hebben. Elke ouder beschikt over een eigen wachtwoord waarmij hij/zij kan inloggen.</p>

                    <p>Het lidgeld dit jaar bedraagt € 40,00 via overschrijving te betalen (meer info volgt na het inschrijven). Zie ook "Waarvoor wordt het lidgeld gebruikt?". Gelieve het lidgeld pas NA het inschrijven te betalen.</p>
                    
                    <footer>
                        <a href="#veel-gestelde-vragen" class="icon-button">Veel gestelde vragen</a>
                    </footer>
                </div>
                <div class="part subtext">
                    <h2>Log in als ouder of maak een account aan</h2>
                    <p>Ouders kunnen inloggen met hun account of een nieuw account aanmaken om leden in te schrijven of inschrijvingen te beheren.</p>
                    
                    <a href="/gebruikers/login" rel="nofollow" class="fill button aubergine">
                    Inloggen</a>
                    <a href="/gebruikers/registreren" rel="nofollow" class="button aubergine">
                        Registreren</a>

                </div>
            </div>
        </article>
        <article class="white block" id="veel-gestelde-vragen">
            <div class="subtext">
                <header>
                    <h1>Veel gestelde vragen</h1>
                </header>

                <div class="splitted">
                    <div class="part column first">
                        <h2>Heeft de scouts een speciale regeling voor gezinnen met financiële moelijkheden?</h2>
                        <p>We willen de scouts toegankelijk houden voor iedereen. De scouts betaalt het lidgeld en - in de mate van het mogelijke - een deel van of volledig de kosten van activiteiten tijdens het jaar (groepsreis, weekend, kamp...) voor gezinnen met financiële moelijkheden. Zij kunnen dit discreet aangeven bij het inschrijven of via iemand van de takleiding. Ook alle gezinnen met ingeschreven broers en/of zussen betalen minder voor kampen. </p>

                        <h2>Waarvoor wordt het lidgeld gebruikt?</h2>
                        <p>Het grootste deel van het lidgeld gaat naar de koepelorganisatie Scouts en Gidsen Vlaanderen en dient voor (degelijke) verzekeringen, het maken en versturen van tijdschriften, algemene werkingskosten... Het overige deel blijft in de scouts en gaat naar de algemene werkingskosten van de tak van het lid. Dit wordt soms gebruikt voor de aankoop van vieruurtjes, voor treintickets, een kleine uitstap...</p>

                        <h2>Mijn kind heeft ..., is hij/zij ook welkom op de scouts?</h2>
                        <p>We hebben meerdere leden met bepaalde allergie(ën), ADHD, syndroom van Asperger, ... Meestel levert dit geen problemen op. Scouts en Gidsen Vlaanderen (SGV) heeft ook een speciale werking voor kinderen met een handicap, met inclusie als doel. Meer info vind je op <a href="https://www.scoutsengidsenvlaanderen.be/akabe">de website van SGV</a>. In Wetteren kan je daarvoor bij de scouts van Sint-Jan in overschelde terecht.</p>
                    </div>
                    <div class="part column last">
                        <h2>Aan wie kunnen we het lidgeld betalen?</h2>
                        <p>Probeer in de mate van het mogelijke altijd via een overschrijving te betalen. Als het echt niet anders kan, kan je het aan de takleiding afgeven. Je vindt hun gegevens terug op de contactpagina. Ook voor andere vragen kan je steeds bij hen terecht. Zij kennen uw zoon/dochter namelijk het best.</p>

                        <h2>Ik wil een broer / zus inschrijven, hoe kan ik dit doen?</h2>
                        <p>Alle ouders in je gezin beschikken over een wachtwoord waarmee ze kunnen inloggen op de site. Eens ze dit gedaan hebben kunnen ze gemakkelijk een broer of zus inschrijven.</p>

                        <h2>Ik heb geen account, hoe moet ik dan inloggen?</h2>
                        <p>Als het de eerste keer is dat je je kinderen inschrijft via deze website, dan heb je nog geen account. Enkel dan kan je de knop 'inschrijven' gebruiken om jouw gezin voor de eerste keer online in te schrijven.</p>
                    </div>
                </div>
            </div>
        </article>
    </main>
{% endblock %}