{% extends "base.html" %}

{% block main %}
    <main>
        <div class="white block">
            <div class="text">
                <h1>Uitzondering toegelaten</h1>
                
                <p>De leiding heeft jou toegelaten om een lid in te schrijven die niet helemaal past in de leeftijdsverdeling van de scoutstakken.</p>

                <ul>
                    <li>Ga verder met het inschrijven zoals je normaal zou doen (zie instructies leiding)</li>
                    <li>Blijf gebruik maken van de computer en browser waar je momenteel op werkt</li>
                    <li>Werk je inschrijving meteen af, anders riskeer je dat de uitzondering vervalt</li>
                </ul>
                                
                <p>Veel success! Ondervind je problemen? Probeer het dan nogmaals in Google Chrome of neem contact op met de webmaster via het contactformulier.</p>
            </div>
        </div>
    </main>
{% endblock %}