{% extends "base.html" %}

{% block main %}
    <main>
        <div class="white block">
                <form method="post">
                    <div class="text">
                        
                        <header>
                            
                            {% if al_ingeschreven | length > 0 %}
                                <h1>Broers of zussen inschrijven</h1>
                                <p>Hieronder vind je broers en zussen die ooit al eens ingeschreven zijn. Je kan hen opnieuw inschrijven voor het huidige scoutsjaar of een nieuwe broer of zus inschrijven die nog niet in het systeem zit.</p>
                                <p>
                                    <strong>
                                        {% for lid in al_ingeschreven %}
                                            {{ lid.voornaam }}
                                            {% if loop.index < (al_ingeschreven | length)-1 %}, {% endif %}
                                            {% if loop.index == (al_ingeschreven | length)-1 %} en {% endif %}
                                        {% endfor %} 
                                        {% if al_ingeschreven | length == 1 %}
                                            is
                                        {% else %}
                                            zijn
                                        {% endif %}
                                        al ingeschreven.
                                    </strong>
                                </p>
                            {% else %}
                                <h1>Leden inschrijvingen</h1>
                                <p>Selecteer de gezinsleden die je wilt inschrijven voor het nieuwe scoutsjaar. Hieronder vind je de gezinsleden die we kennen, maar je kan altijd broers of zussen toevoegen. Je kan tijdens het jaar ook nog bijkomende broers en zussen inschrijven.</p>
                            {% endif %}

                            {% if limits_ignored %}
                                <p><strong>Je hebt van de leiding toegang gekregen om leden in te schrijven met een uitzondering op de leeftijd (< 6 jaar, 4e jaar giver, 2e jaar jin).</strong> </p>
                            {% endif %}
                        </header>


                        
                        {% if success %}
                            <h2>Gelukt!</h2>
                        {% endif %}

                        {% if errors|length > 0 %}
                            <ul class="error">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% for lid in niet_inschrijfbaar %}
                            <p><strong>Opgelet: {{ lid.voornaam }} {{ lid.achternaam }} kan niet meer ingeschreven worden. Hij / zij is te oud en moet overgaan naar de leidingingsploeg. Indien er een speciale regeling is i.v.m. een jin jaar (bv. door een 4e giverjaar) contacteer je best de leidingsploeg om dit probleem op te lossen.</strong></p>
                        {% endfor %}

                        {% for lid in leden %}
                            <input id="checkbox-{{ lid.id }}" class="randomize-id" type="checkbox" data-name="lid-geslacht" name="leden[]" value="{{ lid.id }}"{% if lid.inschrijving.scoutsjaar == scoutsjaar-1 %} checked{% endif %}>
                            <label for="checkbox-{{ lid.id }}">{{ lid.voornaam }} {{ lid.achternaam }} ({{ lid.getTakVoorHuidigScoutsjaar() }})</label>
                        {% endfor %}
                    
                        <div><a href="/ouders/broer-zus-toevoegen" class="icon-button plus">Broer of zus toevoegen die nog niet in het systeem zit</a></div>
                         
                        <footer>
                            <input type="submit" class="aubergine fill" value="Inschrijven" name="submit">
                            <input type="submit" class="aubergine" value="Annuleren" name="annuleren">
                        </footer>

                    </div>
                </form>
        </div>
    </main>
{% endblock %}