<div class="box logout">
        <p>{{ logged_in_user.name }}</p>
        <a href="/gebruikers/logout" class="logout">Uitloggen</a>
    </div>

{% if general.logged_in_ouders %}
    <div class="{% if not general.logged_in_leiding %}last {% endif %}box">
        <a href="/ouders">Mijn inschrijvingen</a>
        <a href="/ouders/attesten">Attesten</a>
        {% if not general.logged_in_leiding %}
            <a href="/gebruikers/wachtwoord-wijzigen">Wachtwoord wijzigen</a>
        {% endif %}
    </div>
{% endif %}

{% if general.logged_in_leiding %}
    <div class="box">
        {% for button in admin.buttons %}
            <a href="/admin/{{ button.url }}">{{ button.name }}</a>
        {% endfor %}

        {% if environment.stamhoofd %}
            <a href="https://stamhoofd.app" target="_blank">Stamhoofd</a>
        {% endif %}

        {% if environment.drive is not empty %}
            <a href="{{ environment.drive }}" target="_blank">Drive</a>
        {% endif %}
    </div>
{% endif %}