


<nav id="menu"{% if menu.transparent == false %} class="fixed"{% endif %}>
    <div id="smartphone-menu">
        <div class="background close"></div>
        <div class="content">
            <button class="close"></button>
            <div id="smartphone-menu-items">{% include 'menu.html' %}</div>
        </div>
    </div>
    <div>
        <div class="overflow-bar">
            <a class="logo" href="/" title="Startpagina">
            </a>
            <div class="items">
                <div class="space">
                    {% include 'menu.html' %}
                </div>
                <div class="visible">
                    {% include 'menu.html' %}
                </div>
                <div class="floater">
                    <div class="smartphone-menu">
                        <div id="smartphone-menu-button"></div>

                        {% if general.logged_in_leiding or general.logged_in_ouders %}
                            <div class="dropdown-group">
                                <button class="dropdown user"></button>
                                <div class="dropdown-menu">
                                    {% include '_user_menu.html' %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>