<a href="/info">Info</a>
<a href="/fotos">Foto's</a>
<a href="/verhuur">Verhuur</a>
<a href="/sponsors">Sponsors</a>
<a href="/contact">Contact</a>

{% if not general.logged_in_leiding and not general.logged_in_ouders %}
    <a href="/inschrijven" class="call-to-action">Inschrijven</a>
{% else %}
    <div class="dropdown-group">
        <button class="call-to-action dropdown user">
            {{ logged_in_user.firstname }}
        </button>
        <div class="dropdown-menu">
            {% include '_user_menu.html' %}
        </div>
    </div>
{% endif %}