{% extends "base.html" %}

{% block head %}
    <meta name="robots" content="noindex">
    {{ head | raw }}
{% endblock %}

{% block main %}
    <main>
        <nav class="buttons">
            {% for button in admin.buttons %}
                <a href="/admin/{{ button.url }}" class="{% if button.url == admin.selected %}selected {% endif %}button">{{ button.name }}</a>
            {% endfor %}

            {% if environment.stamhoofd %}
                <a href="https://stamhoofd.app" class="button" target="_blank">Stamhoofd</a>
            {% endif %}

            {% if environment.drive is not empty %}
                <a href="{{ environment.drive }}" class="button" target="_blank">Drive</a>
            {% endif %}
        </nav>
        <section class="white block withButtons">
            {{ content | raw }}
        </section>

    </main>
{% endblock %}