{% extends "base.html" %}

{% block head %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block main %}
    <main>
        <nav class="buttons">
            <a href="" class="selected button">Dashboard</a>
            <a href="" class="button">Inschrijvingen</a>
            <a href="" class="button">Maandplanning</a>
            <a href="" class="button">Blog</a>
            <a href="" class="button">Foto's</a>
            <a href="" class="button">Leiding</a>
        </nav>
        <section class="white block withButtons">
            <div class="text">{{ content | raw }}</div>
        </section>

    </main>
{% endblock %}