{% extends "base.html" %}

{% block head %}
    <meta name="robots" content="noindex">
    {{ head | raw }}
{% endblock %}

{% block main %}
    <main>
        <nav class="buttons">
            {% for button in admin.buttons %}
                <a href="/admin/{{ button.url }}" class="{% if button.url == admin.selected %}selected {% endif %}button">{{ button.name }}</a>
            {% endfor %}
        </nav>
        <section class="white block withButtons">
            {{ content | raw }}
        </section>

    </main>
{% endblock %}