{% extends "base.html" %}

{% block main %}
    <main>
        <div class="white block">
                <form method="post">
                    <div class="text">
                        <header>
                            <h1>Account aanmaken voor {{ leiding.user.firstname }} {{ leiding.user.lastname }}</h1>
                            <p>Maak een account aan waarmee je later inschrijvingen kan verlengen en aanpassen. We loggen je hierna automatisch in.</p>
                        </header>

                        {% if errors|length > 0 %}
                            <ul class="error">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if success %}
                        <h2>Gelukt!</h2>
                        {% endif %}

                        <label>E-mailadres</label>
                        <input type="text" value="{{ data.mail | e('html_attr') }}" name="mail" placeholder="Vul je e-mailadres hier in">

                        <label>Totem (optioneel)</label>
                        <input type="text" value="{{ data.totem | e('html_attr') }}" name="totem" placeholder="Vul je totem hier in">

                        <label>GSM nummer</label>
                        <input type="text" value="{{ data.phone | e('html_attr') }}" name="phone" placeholder="Typ je gsm nummer in">

                        <label>Wachtwoord</label>
                        <input type="password" name="password" placeholder="Vul je wachtwoord in">

                        <label>Herhaal wachtwoord</label>
                        <input type="password" name="password-repeated" placeholder="Typ je wachtwoord nog eens">



                        <footer>
                            <input type="submit" class="aubergine fill" value="Opslaan">
                        </footer>

                    </div>
                </form>
        </div>
    </main>
{% endblock %}