<form method="post">
    <div class="text">
        {% if success %}
             <header>
                <h1>Verwijderen gelukt!</h1>
            </header>
        {% else %}
             <header>
                <h1>Ben je zeker dat je dit account wilt verwijderen?</h1>
                <h2>"{{ leiding.user.firstname }} {{ leiding.user.lastname }}"</h2>
            </header>

            <footer>
                <input type="submit" class="aubergine fill" name="confirm-delete" value="Ja, verwijderen">
                <a href="/admin/leiding/edit/{{ leiding.id | e('html_attr') }}" class="button merlot">Annuleren</a>
            </footer>
        {% endif %}
    </div>
</form>