{% set description = "Bekijk hier de foto\'s van het album " ~ album.name %}
{% set title = album.name ~ " - Foto's" %}
{% set social_image = album.cover.getBiggestSource().file.getPublicPath() %}
{% extends "base.html" %}

{% block javascript %}
<link rel="stylesheet" href="/css/photoswipe.css"> 
<script src="/js/photoswipe.min.js"></script> 
<script src="/js/photos.js"></script>
<script type="text/javascript">
    var grid = new photos.Grid({});
    grid.trackWidth(document.getElementById('album_container'));
    grid.margin = 8;
    grid.max_height = 300;

    var is_admin = {% if general.logged_in %}true{% else %}false{% endif %};

    {% for image in images %}
        var photo = new photos.Photo({{image.getSource().width | e('js')}}, {{image.getSource().height | e('js')}}, {{image.id  | e('js')}});
        photo.title = "{{image.title | e('js')}}";
        photo.sources = {{ image.getSourcesJSON | raw }};
        grid.add(photo);
    {% endfor %}
    
    var element = grid.toDOM();
    document.getElementById('album_container').appendChild(element);
    grid.updateVisiblePhotos();

    grid.enablePhotoSwipe();
</script>
{% endblock %}

{% block main %}
    <main class="keep-padding">
        <section class="block album_block">
            <header><h1>{{ album.name }}</h1></header>
            <div class="button-bar">
                <a class="button aubergine noborder" href="/fotos">
                    <svg width="12px" height="19px" viewBox="853 21 12 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <polyline id="back" stroke="#470A14" stroke-width="2" stroke-linecap="round" fill="none" transform="translate(859.000000, 30.500000) scale(-1, 1) translate(-859.000000, -30.500000) " points="855 23 863 30.5 855 38"></polyline>
                    </svg>Alle albums</a>

            </div>

            <div id="album_container"></div>
            <noscript>Je moet javascript aanzetten om de foto's te kunnen zien, herlaad daarna de pagina.</noscript>
            <div class="button-bar">
                <a class="button aubergine noborder" href="/fotos">
                    <svg width="12px" height="19px" viewBox="853 21 12 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <polyline id="back" stroke="#470A14" stroke-width="2" stroke-linecap="round" fill="none" transform="translate(859.000000, 30.500000) scale(-1, 1) translate(-859.000000, -30.500000) " points="855 23 863 30.5 855 38"></polyline>
                    </svg>Alle albums</a>
                    {% if album.canDownload() %}
                        <a href="/fotos/download/{{ album.getUrl }}" class="button aubergine noborder" rel="nofollow">Download</a>
                    {% endif %}
                    
                    <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{http}}/fotos/album/{{ album.getUrl }}','{{album.name}}','width=600,height=400'); return false;" class="button aubergine noborder">Deel op facebook</a>
                    {% if general.logged_in %}
                    <a href="/admin/photos/edit/{{ album.id }}" class="button aubergine noborder">Foto's toevoegen</a>
                    {% endif %}
            </div>
        </section>
    </main>


<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

{% endblock %}