{% set title = 'Contact' %}
{% set description = 'Op deze pagina vind je al onze contactgegevens.' %}
{% extends "base.html" %}

{% use "pages/info/_map.html" %}

{% block main %}
    <main class="contact-page">
        <section class="block white">
            <div class="splitted blocked bigger">
                <div class="part column first">
                    <div id="map" class="map"></div>
                </div>
                <div class="part column last">
                    <h1>Contacteer ons</h1>        
            
                    <div class="splitted blocked auto">
                        <article>
                            <h1 class="prefix">Adres</h1>
                            <p>Groenstraat 33<br>9230 Wetteren</p>
                        </article>
                        <article>
                            <h1 class="prefix">Groepsleiding</h1>
    
                            <p>Jasper Van de Gracht </p>
                            <a class="suffix">groepsleiding@scoutssintjan.be</a>
                            <p class="suffix">+32 470 62 26 81</p>
                        </article>
                        

                        <article>
                            <h1 class="prefix">VZW</h1>
                            <p>Mick De Valck</p>
                            <a class="suffix">mick.devalck@telenet.be</a>
                        </article>
    
                        <article>
                            <h1 class="prefix">Oudercomité</h1>
                            <p>Steven Heyndrickx</p>
                            <a class="suffix">oudercomite.sintjan@gmail.com</a>
                        </article>
    
                        <article>
                            <h1 class="prefix">Leiding</h1>
                            <p>Zie takpagina's</p>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}