{% set title = 'Contact' %}
{% set description = 'Op deze pagina vind je al onze contactgegevens.' %}
{% extends "base.html" %}

{% use "pages/info/_map.html" %}

{% block main %}
    <main class="contact-page">
        <section class="block white">
            <div class="splitted swap-smartphone">
                <div class="part map first">
                    <div class="map-container"><div id="map" class="map"></div></div>
                </div>
                <div class="part column last center">
                    <h1>Contacteer ons</h1>        
            
                    <div class="splitted blocked auto bigger">
                        <article>
                            <h1 class="prefix">Adres</h1>
                            <p>Groenstraat 33<br>9230 Wetteren</p>
                        </article>
                        <article>
                            <h1 class="prefix">Groepsleiding</h1>

                            <p>E-mailadres</p>
                            <a class="suffix" href="mailto:groepsleiding@scoutssintjan.be">groepsleiding@scoutssintjan.be</a>

                            <p>Mathias Van der Stricht</p>
                            <p class="suffix">+32 496 98 22 58 </p>

                            <p>Sil Leirens</p>
                            <p class="suffix">+32 488 80 63 92</p>

                            <p>Manten Rombaut</p>
                            <p class="suffix">+32 473 27 81 04</p>

                        </article>
                        
                        <article>
                            <h1 class="prefix">VZW</h1>
                            <p>Mick De Valck</p>
                            <a class="suffix" href="mailto:mick.devalck@telenet.be">mick.devalck@telenet.be</a>
                        </article>
    
                        <article>
                            <h1 class="prefix">Oudercomité</h1>
                            <p>Nils Blanckaert en Jeroen De Gussem</p>
                            <a class="suffix" href="mailto:oudercomite@scoutssintjan.be">oudercomite@scoutssintjan.be</a>
                        </article>

                        <article>
                            <h1 class="prefix">Verhuur</h1>
                            <p>Jasper Van de Gracht</p>
                            <a class="suffix" href="mailto:verhuur@scoutssintjan.be">verhuur@scoutssintjan.be</a>
                        </article>
    
                        <article>
                            <h1 class="prefix">Leiding</h1>
                            <p>Zie takpagina's</p>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}