{% set description = 'Al onze foto\'s van onze activiteiten doorheen het jaar vind je op deze pagina.' %}
{% set title = "Foto's" %}

 {% if albums | length > 0 %}
     {% if albums | first | length > 0 %}
        {% set social_image = (albums | first | first).cover.getBiggestSource().file.getPublicPath() %}
    {% endif %}
{% endif %}

{% extends "base.html" %}
{% use "pages/photos/partials/albums.html" %}

{% block main %}
    <main>
        <section class="block white with-menu">
            <nav>
                <a href="/fotos/" class="{% if tak is null %}selected{% endif %}">Alles</a>
                
                {% for group in groups %}
                    <a href="/fotos/{{group}}" class="{% if tak == group %}selected {% endif %}">{{group|capitalize}}</a>
                {% endfor %}
            </nav>
            <div>
                    <h1>{{ (tak ?? "Alles") |capitalize }}</h1>

                <div class="albums">
                    {{ block('albums') }}
                </div>
            </div>
        </section>
    </main>
    <script type="text/javascript">
        document.addEventListener("touchstart", function(){}, true);
    </script>
{% endblock %}