
.splitted .part {
    &.calendar {
        width: 500px;
        flex-basis: 500px;
        color: white;
        position: relative;
        align-self: stretch;

        @media screen and (max-width: 1000px) {
            flex-basis: auto;
            width: auto;
            padding: 20px;
            display: block;
        }

        &.enabled {
            time.column:hover {
                background: $color-main;
            }
            @media screen and (max-width: 1000px) {
                display: block;
                position: fixed;
                right: 0;
                top: 0;
                left: 0;
                z-index: 1000;
                width: 100%;
                max-width: 500px;
                bottom: 0;
                width: auto;
                overflow: hidden;
                box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.50);

                p {
                    text-align: center;
                }
            }
        }

        header {
            position: relative;
            text-align: center;
            padding: 30px 0;

            .previous {
                width: 20px;
                background: url("../"+$theme+"/icons/white/arrow-left-large.svg") no-repeat center center;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
            }

            .next {
                width: 20px;
                background: url("../"+$theme+"/icons/white/arrow-right-large.svg") no-repeat center center;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
            }

            time {
                font-size: $size-text-bigger
            }
        }

        .row {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            padding: 5px 2px;
            margin: 0 auto;
            font-size: $size-text-bigger;

            &.weekdays {
                color: $color-main-alternative;
                padding-top: 5px;
                font-size: $size-text;
            }

            &.selected {
                background: $color-main-dark;
            }

            .clear {
                clear: both;
            }
        }

        .column {
            float: left;
            width: 45px;
            height: 45px;
            line-height: 45px;

            border-radius: $border-radius;
            text-align: center;

            display: flex;
            justify-content: center; /* align horizontal */
            align-items: center; 

            &.today {
                color: $color-main-alternative;
            }

            &.disabled {
                background: $color-main;
            }

            &.aankomst-selected, &.vertrek-selected, &.in-between {
                background: $color-main-alternative;
                color: $color-main-dark;
            }


            &.hidden {
                opacity: 0.5;
            }
        }

        #calendar-weeks {
            .row {
                cursor: pointer;

                &:hover {
                    background: $color-main-dark;
                    margin: -5px -50px;
                    padding: 5px 52px;
                }
            }
        }
        #verhuur-calendar-weeks {
            .column {
                cursor: pointer;
            }
        }

        .spacer {
            height: 150px;
            display: block;
        }

        footer {
            position: absolute;
            bottom: 0;
            right: 20px;
            left: 20px;
        }
        
    }
}