table.details {
    font-size: $size-text-bigger;
    margin: 30px 0;

    @media (max-width: 550px) {
        font-size: $size-text;
    }

    @media (max-width: 480px), print {
        font-size: $size-smartphone-text;
    }

    tfoot {
        tr {
            td {
                padding-top: 15px;
                font-weight: bold;
            }
            td:first-child{
                text-transform: uppercase;
            }
        }
    }
    &.right {
        tr {
            td {
                text-align: right;
            }
            td:first-child {

                @media (max-width: $page-width-stop-splitted), print {
                    text-align: left;
                }
            }
        }
    }

    &.last-right {
        tr {
            td:last-child {
                text-align: right;
            }
        }
    }

    tr {
        td {
            padding: 5px 0;
            color: $color-main;
        }
        td:first-child{
            color: $color-main-dark;
            padding-right: 30px;
        }
    }
}