#smartphone-menu {
    background: rgba(0, 0, 0, 0.9);
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    padding: 25px 20px;
    text-align: center;
    color: white;

    .close {
        display: block;
        text-align: right;
        cursor: pointer;
    }

    a {
        display: block;
        padding: 20px 20px;
        margin: 10px 0;
        font-size: $size-text-bigger;
    }
}

#menu {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    
    &.fixed {
        background: $color-main-dark;
        position: fixed;
    }

    padding: 5px 0 5px 30px;
    height: 60px;

    .overflow-bar {
        overflow: hidden;
        height: 60px;
        width: auto;
    }

    .logo {
        float: left;
        height: 60px;
        width: 205px;
        background: url(../images/logo/menu-logo.png) no-repeat left center;
        background-size: 205px 37px;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: url(../images/logo/menu-logo@2x.png);
        }

        @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) { 
            background-image: url(../images/logo/menu-logo@3x.png);
        }

        @media screen and (max-width: 375px) {
            background-image: url(../images/logo/menu-logo-small.png);
            width: 60px;
            background-size: 53px 31px;

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
                background-image: url(../images/logo/menu-logo-small@2x.png);
            }
            @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) { 
                background-image: url(../images/logo/menu-logo-small@3x.png);
            }

        }

        &:hover {
            opacity: 0.6;
        }
    }

    .items {
        // trigger BFC: take all remaining width
        overflow: hidden;
        width: auto;
        text-align: right;
        padding: 0 10px 0 20px;
        position: relative;
        font-size: 16px;
        line-height: 60px;

        // This forces to display a smartphone menu
        // when the menu items start to wrap
        .floater {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding-bottom: 60px;
            height: 60px;

            .smartphone-menu {
                position: absolute;
                height: 60px;
                top: 0;
                right: 0;
                left: 0;
                z-index: 2;

                div {
                    // No a - tag for SEO
                    // Google can't do antyhing with this button
                    
                    display: inline-block;
                    height: 60px;
                    padding: 0 20px;
                    line-height: 60px;
                    cursor: pointer;

                    svg {
                        vertical-align: middle;
                    }

                    &:hover {
                        svg {
                            opacity: 0.6;
                        }
                    }
                }
            }

        }

        // The menu items style
        // They are used twice: once in the invisible space div
        // and once in a visible form, forcing to stick to the bottom of that invisible one
        // to hide it when it starts to wrap
        a {
            margin: 0 15px;
            height: 60px;
            text-transform: uppercase;

            &, &:hover, &:visited, &:active, &:link {
                color: white;
                text-decoration: none;
            }

            &:hover {
                opacity: 0.6;
            }

            &.call-to-action {
                padding: 10px 25px;
                height: 40px;
                border: 2px solid white;
                border-radius: 20px;
            }
        }

        // Space makes space for unvisible content
        // This makes a smartphone menu possible (hamburger)
        // and makes it possible to hide the normal menu when
        // the menu starts to wrap
        .space {
            visibility: hidden;
            max-height: 120px;
        }

        .visible {
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 60px;
        }
    }

    .admin {
        float: right;
        height: 60px;
        padding: 0 20px;
        line-height: 60px;
        cursor: pointer;

        &:hover {
            svg {
                opacity: 0.6;
            }
        }

        .admin-menu {
            display: none;
            position: absolute;
            z-index: 10;
            right: 0px;
            top: 50px;
            padding: 10px;
            line-height: normal;
            cursor: default;

            .content {
                width: 350px;
                box-sizing: border-box;

                background: #FFFFFF;
                box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
                border-radius: 4px;

                .box {
                    border-bottom: 1px solid $color-border;
                    padding: 10px 0;

                    &.last {
                        border: 0;
                    }
                    .logout {
                        float: right;
                    }

                    a.button {
                        display: block;
                        margin: 0;
                        padding: 10px 20px;

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }

                p {
                    font-size: $size-button;
                    margin: 10px 20px;
                    padding: 0;
                }
            }

            @media screen and (max-width: 350px) {
                left: 0;
                right: 0;
                padding: 10px 0;

                .content {
                    width: 100%;
                }
            }
        }

        &.open {
            .admin-menu {
                display: block;
            }
        }
    }
}