#smartphone-menu {
    background: rgba(0, 0, 0, 0.9);
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    padding: 25px 20px;
    text-align: center;
    color: white;

    .close {
        display: block;
        text-align: right;
        cursor: pointer;
    }

    a {
        display: block;
        padding: 20px 20px;
        margin: 10px 0;
        font-size: $size-text-bigger;
    }
}

#menu {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    
    &.fixed {
        background: $color-menu-background;
        position: fixed;
        top: 0;
    }

    padding: 0 0 0 30px;
    height: $menu-height;

    .overflow-bar {
        display: flex;
        flex-wrap: nowrap;
    }

    .logo {
        flex-shrink: 0;

        // Please override here
    }

    .items {
        // trigger BFC: take all remaining width
        flex-grow: 1;
        width: auto;
        padding: 0 10px 0 20px;
        position: relative;
        font-size: 16px;
       
        // Prevent subelements from becoming bigger than the container
        word-break: break-word;

        // This forces to display a smartphone menu
        // when the menu items start to wrap
        .floater {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding-bottom: $menu-height;
            height: $menu-height;

            .smartphone-menu {
                position: absolute;
                height: $menu-height;
                top: 0;
                right: 0;
                left: 0;
                z-index: 2;
                text-align: right;

                div {
                    // No a - tag for SEO
                    // Google can't do antyhing with this button
                    
                    display: inline-block;
                    height: $menu-height;
                    padding: 0 20px;
                    line-height: $menu-height;
                    cursor: pointer;

                    svg {
                        vertical-align: middle;
                    }

                    &:hover {
                        svg {
                            opacity: 0.6;
                        }
                    }
                }
            }

        }  
        
        .space, .visible {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            line-height: $menu-height;

            a {
                height: $menu-height;
                // Height of an item should always be equal to $menu-height; Add padding or margin if you want a smaller background
                box-sizing: border-box;
            }

        }

        // Space makes space for unvisible content
        // This makes a smartphone menu possible (hamburger)
        // and makes it possible to hide the normal menu when
        // the menu starts to wrap
        .space {
            visibility: hidden;
            max-height: $menu-height * 2;
        }

        .visible {
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: $menu-height;

            // Alternative for overflow hidden in items + fixed height of $menu-height in overflow bar
            // We don't want overflow hidden: can't have popup menu's relative to items
            top: -1000%;
            transform: translate(0, 1000%);
            // top is relative to parent, transform relative to own height. As soon as the heigt of the parent is higher than the elements height, the height will wrap to the top, causing it to hide
        }
    }

    .admin {
        float: right;
        height: $menu-height;
        padding: 0 20px;
        line-height: $menu-height;
        cursor: pointer;

        &:hover {
            svg {
                opacity: 0.6;
            }
        }

        .admin-menu {
            display: none;
            position: absolute;
            z-index: 10;
            right: 0px;
            top: 50px;
            padding: 10px;
            line-height: normal;
            cursor: default;

            .content {
                width: 350px;
                box-sizing: border-box;

                background: #FFFFFF;
                box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
                border-radius: 4px;

                .box {
                    border-bottom: 1px solid $color-border;
                    padding: 10px 0;

                    &.last {
                        border: 0;
                    }
                    .logout {
                        float: right;
                    }

                    a.button {
                        display: block;
                        margin: 0;
                        padding: 10px 20px;

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }

                p {
                    font-size: $size-button;
                    margin: 10px 20px;
                    padding: 0;
                }
            }

            @media screen and (max-width: 350px) {
                left: 0;
                right: 0;
                padding: 10px 0;

                .content {
                    width: 100%;
                }
            }
        }

        &.open {
            .admin-menu {
                display: block;
            }
        }
    }
}