footer.floater {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &> .price-floater {
        float: none;
    }
}

.price-floater {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    &> div {
        font-size: 24px;
        font-weight: bold;
        padding-right: 15px;
        color: $color-main-dark;

        &:last-child {
            padding-right: 0;
        }

        span {
            font-weight: normal;
            padding-top: 5px;
            font-size: $size-text;
            display: block;
        }
    }

    @media screen and (max-width: $page-width-reduce-padding) {
        float: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-bottom: 10px;
        align-items: center;

        &> div {
            
            &:first-child {
                flex-grow: 1;
            }

            &:last-child {
                white-space: nowrap;
            }
        }

    }

    &+ button, &+ input[type=button], &+ input[type=submit] {
        margin-left: 0 !important;
    }
} 