.questions {

    h2 {
        font-size: $size-question;
        color: $color-main-dark !important;
        
        span {
            font-size: $size-text;
            display: inline-block;
            color: $gray;
            margin-left: 10px;
        }
    }

    p {
        color: $color-main;
    }
}