form .table-form {
    width: 100%;
    max-width: 500px;
    display: table;

    &.wide {
        max-width: none;
    }

    &> * {
        /*display: flex;
        flex-direction: horizontal;
        flex-wrap: nowrap;
        align-items: baseline;*/
        display: table-row;
        width: 100%;

        @media screen and (max-width: 700px) {
            display: table;

            border-bottom: 2px solid $line-gray;

            &:last-child {
                border-bottom: 0;
            }
        }


        &> * {
            padding: 5px 5px;
            display: table-cell;

            @media screen and (max-width: 700px) {
                display: table-row;
                height: 50px;

                &::before {
                    content: 'Title';
                    display: table-cell;
                    vertical-align: middle;
                    padding-right: 20px;
                    content: attr(data-title);
                }

                &> * {
                    display: table-cell;
                    vertical-align: middle;
                }
            }

            &:first-child {
                padding-left: 0;
            }

            &> input, &> .select-box {
                margin: 0;
            }

            &.smallest {
                word-wrap: none;
                white-space: nowrap;
                width: 1%;
            }
        } 
    }

    @media screen and (max-width: 700px) {
        &> header {
            display: none;
        }
    }

    
}