{% set description = 'SEO description' %}
{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/photoswipe.css"> 
{% endblock %}

{% block javascript %}
{% endblock %}

{% block main %}
    <header id="banner"></header>
    <main class="transparent">
        <section class="block white" id="blog">
            <article>
                <div class="h1-prefix">Geplaatst op {{ blog.0.date }}</div>
                <h1>{{ blog.0.title }}</h1>
                {{ blog.0.html |raw }}
            </article>

            {% if blog|length > 1 %}
                <div class="article-snippets">
                    {% for article in blog %}
                        <article>
                            <div class="h1-prefix">Geplaatst op {{ article.date }}</div>
                            <h1>{{ article.title }} <a href="{{ article.url }}" class="go">Lezen</a></h1>
                        </article>
                    {% endfor %}
                </div>
            {% endif %}
        </section>

        <section class="block blue" id="home-calendar">
            <section>
                <h1>Aankomende vergaderingen</h1>

                <div class="columns">
                    {% for event in maandplanning.first_activities %}
                        <section>
                            {% if event.order_sheet_id is not null %}
                                <a href="{{ event.order_sheet.getUrl() }}" style="float:right; margin: 0;" class="small main fill button">{{ event.order_sheet.getButtonName() }}</a>
                            {% endif %}

                            {% if event.isTak %}
                                <a href="/takken/{{ event.group | lower }}#maandplanning"><h1 class="prefix">{{ event.group }}</h1></a>
                            {% else %}
                                <h1 class="prefix">{{ event.group }}</h1>
                            {% endif %}
                            <article>
                                <h1>{{ event.name }}</h1>
                                <time class="suffix" datetime="2011-11-18T14:54:39.929">{{ event.getTimeDescriptionHuman() }}</time>
                            </article>
                        </section>
                    {% else %}
                        <section>
                            <article>
                                <h1>Er zijn nog geen activiteiten gepland</h1>
                            </article>
                        </section>
                    {% endfor %}
                </div>
            </section>

            <section>
                <h1>Save the date</h1>

                <div class="columns">

                    {% for event in maandplanning.save_the_date %}
                        <section>
                            {% if event.order_sheet_id is not null %}
                                <a href="{{ event.order_sheet.getUrl() }}" style="float:right; margin: 0;" class="small main fill button">{{ event.order_sheet.getButtonName() }}</a>
                            {% endif %}

                            {% if event.isTak %}
                                <a href="/takken/{{ event.group | lower }}#maandplanning"><h1 class="prefix">{{ event.group }}</h1></a>
                            {% else %}
                                <h1 class="prefix">{{ event.group }}</h1>
                            {% endif %}

                         
                            <article>
                                <h1>{{ event.name }}</h1>
                                <time class="suffix" datetime="2011-11-18T14:54:39.929">{{ event.getTimeDescriptionHuman() }}</time>
                            </article>
                        </section>
                    {% else %}
                        <section>
                            <article>
                                <h1>Er zijn nog geen belangrijke activiteiten gepland</h1>
                            </article>
                        </section>
                    {% endfor %}
                </div>
            </section>
        </section>

        <script src="/js/photos.js"></script>
        <script src="/js/photoswipe.min.js"></script> 

        {% for data in album_images %}
            <section class="block{% if not loop.first %} white{% endif %}">
                <div class="h1-prefix">{{ data.album.group }} • {{ data.formatted_date }}</div>
                <h1>{{ data.album.name }}</h1>
                <div id="album_{{ data.album.id }}"></div>
    
                <footer class="buttons">
                    <a class="button fill main" href="{{ data.album.getUrl() }}">Toon alles</a>
                </footer>
            </section>

            <script type="text/javascript">
                var grid = new photos.Grid({});
                grid.trackWidth(document.getElementById('album_{{ data.album.id }}'));
                grid.margin = 5;
                grid.max_height = 220;
                grid.max_lines = 2;
        
                var is_admin = {% if general.logged_in_leiding %}true{% else %}false{% endif %};
        
                {% for image in data.images %}
                    var photo = new photos.Photo({{image.getSource().width | e('js')}}, {{image.getSource().height | e('js')}}, {{image.id  | e('js')}});
                    photo.title = "{{image.title | e('js')}}";
                    photo.sources = {{ image.getSourcesJSON | raw }};
                    grid.add(photo);
                {% endfor %}
                
                var element = grid.toDOM();
                document.getElementById('album_{{ data.album.id }}').appendChild(element);
                grid.updateVisiblePhotos();
        
                grid.enablePhotoSwipe();
            </script>
        {% endfor %}
    </main>

    {% include 'libs/photoswipe.html' %}
{% endblock %}