{% set description = 'SEO description' %}
{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block main %}
    <header id="banner"></header>
    <main class="transparent">
        <section class="block white" id="blog">
            <article>
                <div class="h1-prefix">15 september 2019</div>
                <h1>Blog will get added here</h1>
                <p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p>
            </article>

            <div class="article-snippets">
                <article>
                    <div class="h1-prefix">15 september 2019</div>
                    <h1>Schrijf je nu in voor ons eetfestijn! <a href="" class="go">Lezen</a></h1>
                </article>
                <article>
                        <div class="h1-prefix">15 september 2019</div>
                        <h1>Schrijf je nu in voor ons eetfestijn! <a href="" class="go">Lezen</a></h1>
                </article>
                <article>
                        <div class="h1-prefix">15 september 2019</div>
                        <h1>Schrijf je nu in voor ons eetfestijn! <a href="" class="go">Lezen</a></h1>
                </article>
                <article>
                    <div class="h1-prefix">15 september 2019</div>
                    <h1>Schrijf je nu in voor ons eetfestijn! <a href="" class="go">Lezen</a></h1>
                </article>
            </div>
           </section>

        <section class="block blue">
            <h1>Blog will get added here</h1>
            <p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p>
        </section>
    </main>
{% endblock %}