{% set description = 'SEO description' %}
{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block main %}
    <header id="banner"></header>
    <main class="transparent">
        <section class="block white" id="blog">
            <article>
                <div class="h1-prefix">15 september 2019</div>
                <h1>Blog will get added here</h1>
                <p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p><p>Todo: blog will get added here</p>
            </article>

            <div class="article-snippets">
                <article>
                    <div class="h1-prefix">15 september 2019</div>
                    <h1>Schrijf je nu in voor ons eetfestijn! <a href="" class="go">Lezen</a></h1>
                </article>
                <article>
                        <div class="h1-prefix">15 september 2019</div>
                        <h1>Schrijf je nu in voor ons eetfestijn! <a href="" class="go">Lezen</a></h1>
                </article>
                <article>
                        <div class="h1-prefix">15 september 2019</div>
                        <h1>Schrijf je nu in voor ons eetfestijn! <a href="" class="go">Lezen</a></h1>
                </article>
                <article>
                    <div class="h1-prefix">15 september 2019</div>
                    <h1>Schrijf je nu in voor ons eetfestijn! <a href="" class="go">Lezen</a></h1>
                </article>
            </div>
           </section>

        <section class="block blue" id="home-calendar">
            <section>
                <h1>Aankomende vergaderingen</h1>

                <div class="columns">
                    <section>
                        <h1 class="prefix">Kapoenen</h1>
                        <article>
                            <h1>Gekke activiteitnaam</h1>
                            <time datetime="2011-11-18T14:54:39.929">Zondag 24 mei, 12:00 - 14:00</time>
                        </article>
                    </section>

                    <section>
                        <h1 class="prefix">Kapoenen</h1>
                        <article>
                            <h1>Gekke activiteitnaam op meerdere lijnen omdat de leiding iets zot wou doen</h1>
                            <time datetime="2011-11-18T14:54:39.929">Zondag 24 mei, 12:00 - 14:00</time>
                        </article>
                    </section>

                    <section>
                        <h1 class="prefix">Kapoenen</h1>
                        <article>
                            <h1>Gekke activiteitnaam</h1>
                            <time datetime="2011-11-18T14:54:39.929">Zondag 24 mei, 12:00 - 14:00</time>
                        </article>
                    </section>

                    <section>
                        <h1 class="prefix">Kapoenen</h1>
                        <article>
                            <h1>Gekke activiteitnaam</h1>
                            <time datetime="2011-11-18T14:54:39.929">Zondag 24 mei, 12:00 - 14:00</time>
                        </article>
                    </section>

                    <section>
                        <h1 class="prefix">Kapoenen</h1>
                        <article>
                            <h1>Gekke activiteitnaam</h1>
                            <time datetime="2011-11-18T14:54:39.929">Zondag 24 mei, 12:00 - 14:00</time>
                        </article>
                    </section>

                    <section>
                        <h1 class="prefix">Kapoenen</h1>
                        <article>
                            <h1>Gekke activiteitnaam</h1>
                            <time datetime="2011-11-18T14:54:39.929">Zondag 24 mei, 12:00 - 14:00</time>
                        </article>
                    </section>

                    <section>
                        <h1 class="prefix">Kapoenen</h1>
                        <article>
                            <h1>Gekke activiteitnaam</h1>
                            <time datetime="2011-11-18T14:54:39.929">Zondag 24 mei, 12:00 - 14:00</time>
                        </article>
                    </section>

                    <section>
                        <h1 class="prefix">Kapoenen</h1>
                        <article>
                            <h1>Gekke activiteitnaam</h1>
                            <time datetime="2011-11-18T14:54:39.929">Zondag 24 mei, 12:00 - 14:00</time>
                        </article>
                    </section>

                    <section>
                        <h1 class="prefix">Kapoenen</h1>
                        <article>
                            <h1>Gekke activiteitnaam</h1>
                            <time datetime="2011-11-18T14:54:39.929">Zondag 24 mei, 12:00 - 14:00</time>
                        </article>
                    </section>
                </div>
            </section>

            <section>
                <h1>Save the date</h1>

                <div class="columns">
                    <section>
                        <h1 class="prefix">Kapoenen</h1>
                        <article>
                            <h1>Gekke activiteitnaam</h1>
                            <time datetime="2011-11-18T14:54:39.929">Zondag 24 mei, 12:00 - 14:00</time>
                        </article>
                    </section>

                    <section>
                        <h1 class="prefix">Kapoenen</h1>
                        <article>
                            <h1>Gekke activiteitnaam</h1>
                            <time datetime="2011-11-18T14:54:39.929">Zondag 24 mei, 12:00 - 14:00</time>
                        </article>
                    </section>

                    <section>
                        <h1 class="prefix">Familie en vrienden<button class="more">Inschrijven</button></h1>
                        <article>
                            <h1>Gekke activiteitnaam</h1>
                            <time datetime="2011-11-18T14:54:39.929">Zondag 24 mei, 12:00 - 14:00</time>
                        </article>
                    </section>

                    <section>
                        <h1 class="prefix">Iedereen<button class="more">Meer info</button></h1>
                        <article>
                            <h1>Gekke activiteitnaam</h1>
                            <time datetime="2011-11-18T14:54:39.929">Zondag 24 mei, 12:00 - 14:00</time>
                        </article>
                    </section>
                </div>
            </section>
        </section>

        <script src="/js/photos.js"></script>

        {% for data in album_images %}
            <section class="block{% if not loop.first %} white{% endif %}">
                <div class="h1-prefix">{{ data.album.group }} • {{ album.formatted_date }}</div>
                <h1>{{ data.album.name }}</h1>
                <div id="album_{{ data.album.id }}"></div>
    
                <footer class="buttons">
                    <a class="main" href="{{ data.album.getUrl() }}">Toon alles</a>
                </footer>
            </section>

            <script type="text/javascript">
                var grid = new photos.Grid({});
                grid.trackWidth(document.getElementById('album_{{ data.album.id }}'));
                grid.margin = 5;
                grid.max_height = 200;
                grid.max_lines = 2;
        
                var is_admin = {% if general.logged_in_leiding %}true{% else %}false{% endif %};
        
                {% for image in data.images %}
                    var photo = new photos.Photo({{image.getSource().width | e('js')}}, {{image.getSource().height | e('js')}}, {{image.id  | e('js')}});
                    photo.title = "{{image.title | e('js')}}";
                    photo.sources = {{ image.getSourcesJSON | raw }};
                    grid.add(photo);
                {% endfor %}
                
                var element = grid.toDOM();
                document.getElementById('album_{{ data.album.id }}').appendChild(element);
                grid.updateVisiblePhotos();
        
                grid.enablePhotoSwipe();
            </script>
        {% endfor %}
    </main>

    
{% endblock %}