{% set title = order_sheet.name %}
{% set description = order_sheet.description %}
{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block main %}
    {% if order_sheet.isDue() %}
        <main>
            <section class="white block">
                <div class="text">
                    <header>
                        {% if order_sheet.type == 'registrations' %}
                            <h1>Inschrijvingen zijn gesloten</h1>
                            <p>Je kan niet meer inschrijven</p>
                        {% else %}
                            <h1>Bestellingen zijn gesloten</h1>
                            <p>Je kan niet meer bestellen.</p>
                        {% endif %}
                    </header>
                </div>
            </section>
        </main>
    {% else %}
    <main id="order-sheet" v-cloak>
        <section class="white block" v-if="step == 0">
            <form class="text">
                <header>
                    {% if environment.theme == "sint-jan" %}
                        <div class="h1-prefix">{{ order_sheet.subtitle }} {% if order_sheet.getDueText() is not empty %} - {{ order_sheet.getDueText() }}{% endif %}</div>
                    {% endif %}
                    <h1>{{ order_sheet.name }}</h1>
                    {% if environment.theme != "sint-jan" %}
                        <h2>{{ order_sheet.subtitle }} {% if order_sheet.getDueText() is not empty %} - {{ order_sheet.getDueText() }}{% endif %}</h2>
                    {% endif %}
                    <p>Je hebt al personen ingeschreven. Je kan de inschrijvingen hieronder raadplegen. Je kan indien nodig nog extra personen inschrijven via de knop onderaan.</p>
                </header>

                {% if order_sheet.phone is not empty or order_sheet.mail is not empty %}
                    <h2>Contactgegevens</h2>
                    {% if order_sheet.phone is not empty %}
                        <p><strong>Tel. </strong>{{ order_sheet.phone }}</p>
                    {% endif %}
                    {% if order_sheet.mail is not empty %}
                        <p><strong>Mail: </strong>{{ order_sheet.mail }}</p>
                    {% endif %}
                {% endif %}

                {% if order_sheet.type == 'registrations' %}
                    <h2>Inschrijvingen</h2>
                {% else %}
                    <h2>Bestellingen</h2>
                {% endif %}

                <div class="list-bundle">
                    <article class="list" v-for="order in orders">
                        <div class="medium merlot column">
                            [[ order.date ]]
                        </div>
                        <div class="max column">
                            <template v-if="order.persons.length > 0">
                                <template v-for="person in order.persons">
                                    <strong>Ingeschreven: </strong>[[ person ]]<br>
                                </template>
                            </template>
                            <template v-if="order.items.length > 0">
                                <template v-for="item in order.items">
                                    <strong>Besteld: </strong>[[ item ]]<br>
                                </template>
                            </template>
                        </div>
                        <div class="last column right">
                            <a :href="order.url" class="icon-button">
                                Bekijken
                            </a>
                        </div>
                    </article>
                </div>

                <footer>
                    <button type="button" class="icon-button plus" v-on:click="nextStep(0);">
                        {% if order_sheet.type == 'registrations' %}
                            Nog personen inschrijven
                        {% else %}
                            Nog een bestelling plaatsen
                        {% endif %}
                    </button>
                </footer>
            </form>
        </section>
        <section class="white block" v-if="step == 1">
            <form class="text">
                <header>
                    <button v-if="orders.length > 0" type="button" class="button main noborder arrow-left" v-on:click="step = 0;">Terug</button>

                    {% if environment.theme == "sint-jan" %}
                        <div class="h1-prefix">{{ order_sheet.subtitle }} {% if order_sheet.getDueText() is not empty %} - {{ order_sheet.getDueText() }}{% endif %}</div>
                    {% endif %}
                    <h1>{{ order_sheet.name }}</h1>
                    {% if environment.theme != "sint-jan" %}
                        <h2>{{ order_sheet.subtitle }} {% if order_sheet.getDueText() is not empty %} - {{ order_sheet.getDueText() }}{% endif %}</h2>
                    {% endif %}

                    <p style="white-space: pre-line;">{{ order_sheet.description }}</p>
                </header>

                <template v-for="product in order_sheet.products">
                    <h2>[[ product.name ]]</h2>
                    <p style="white-space: pre-line;">[[ product.description ]]</p>

                    <div class="table-form wide">
                        <header v-if="cart.items[product.id].length > 0">
                            <div v-if="product.type == 'name'"><label>Naam</label></div>
                            <div v-if="product.prices.length > 1"><label>[[ product.price_name ]]</label></div>
                            <div v-for="optionset in product.optionsets"><label>[[ optionset.name ]]</label></div>

                            <div><label>Prijs</label></div>
                            <div v-if="product.type == 'unit'"><label>Aantal</label></div>
                            <div v-if="product.type == 'person'"><label>Aantal personen</label></div>

                            <div v-if="product.type != 'name' && (order_sheet.products.length > 1 || cart.items[product.id].length > 1)"><label>Totaal</label></div>

                            <div v-if="cart.items[product.id].length > 1 || isPersonalizeableProduct(product)"><label></label></div>
                        </header>
            
                        <div v-for="(cartitem, index) in cart.items[product.id]">    
                            <div v-if="product.type == 'name'" data-title="Naam">
                                <input type="text" v-model="cartitem.person_name" placeholder="Wie schrijf je in?">
                            </div>

                            <div v-if="product.prices.length > 1" :data-title="product.price_name">
                                <label class="select-box">
                                    <select v-model="cartitem.price">
                                        <option :value="null">Maak een keuze</option>
                                        <option :value="price" v-for="price in product.prices">
                                            [[ price.name ]]
                                        </option>
                                    </select>
                                </label>
                            </div>

                            <div v-for="optionset in product.optionsets" :data-title="optionset.name">
                                <label class="select-box">
                                    <select v-model="cartitem.options[optionset.id]">
                                        <option :value="null">Maak een keuze</option>
                                        <option :value="option" v-for="option in optionset.options">
                                            [[ option.name ]]
                                        </option>
                                    </select>
                                </label>
                            </div>

                            <div data-title="Prijs">
                                <span>[[ getItemPriceString(cartitem, false) ]]</span>
                            </div>

                            <div v-if="product.type == 'unit'" data-title="Aantal">
                                <input type="text" v-model.number="cartitem.amount" placeholder="Aantal stuks">
                            </div>

                            <div v-if="product.type == 'person'" data-title="Personen">
                                <input type="text" v-model.number="cartitem.amount" placeholder="Aantal personen">
                            </div>

                            <div class="smallest"  v-if="product.type != 'name' && (order_sheet.products.length > 1 || cart.items[product.id].length > 1)" data-title="Totaal">
                                <span>[[ getItemPriceString(cartitem, true) ]]</span>
                            </div>
                            
                            <div class="smallest" v-if="cart.items[product.id].length > 1 || isPersonalizeableProduct(product)">
                                <button type="button" class="button" v-on:click="deleteCartItem(product, index);">Verwijderen</button>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="icon-button plus" v-on:click="addItemForProduct(product);" v-if="cart.items[product.id].length == 0 || isPersonalizeableProduct(product)">
                        [[ product.type == 'unit' ? 'Toevoegen' : 'Persoon toevoegen' ]]
                    </button>
                </template>

                <ul class="error" v-if="errors.step1.length > 0">
                    <li v-for="error in errors.step1">[[ error.message ]]</li>
                </ul>

                <footer class="floater">
                    <button type="button" class="button main" :class="{'fill': isValid(1)}" v-on:click="nextStep(1);">Volgende</button>
                    <div class="price-floater">
                        <div>
                            Totaal
                            <span>[[ getTotalDescription() ]]</span>
                        </div>
                        <div>[[ getTotalString() ]]</div>
                    </div>
                </footer>

            </form>
        </section>

        <section class="white block" v-if="step == 2">
            <form class="text">
                <header>
                    <button type="button" class="button main noborder arrow-left" v-on:click="step = 1;">Terug</button>
                    <h1>Jouw gegevens</h1>
                    <p v-if="user.id">Je bent momenteel ingelogd en je bestelling zal op naam van [[ user.firstname ]] [[ user.lastname ]] geplaatst worden. Je ontvangt een bevestiging op [[ user.mail ]]. <a href="/gebruikers/logout">Uitloggen</a></p>
                    <p v-else>Je ontvangt een bevestiging via e-mail na het plaatsen van de bestelling.</p>
                </header>

                <template v-if="!user.id">
                    <label>Voornaam</label>
                    <input type="text" v-model="user.firstname" placeholder="Vul je voornaam hier in" autocomplete="given-name">

                    <label>Achternaam</label>
                    <input type="text" v-model="user.lastname" placeholder="Vul je achternaam hier in" autocomplete="family-name">
                
                    <label>E-mailadres</label>
                    <input type="email" v-model="user.mail" placeholder="Vul je e-mailadres hier in" autocomplete="email">

                    <label>GSM-nummer</label>
                    <input type="text" v-model="user.phone" placeholder="Typ je GSM-nummer in" autocomplete="tel">
                </template>

                <template v-if="order_sheet.delivery">
                    <h2>Leveringsadres</h2>
                    <label>Straat en huisnummer</label>
                    <input type="text" v-model="user.address" placeholder="Straat en huisnummer" autocomplete="street-address">

                    <label>Postcode</label>
                    <input type="text" pattern="[0-9]*" v-model="user.zipcode" placeholder="Postcode" autocomplete="zipcode postal-code">

                    <label>Gemeente</label>
                    <input type="text" v-model="user.city" placeholder="Gemeente" autocomplete="city">

                    <p>Leveringskost van € 2 voor leveringen buiten Oost-Vlaanderen.</p>
                </template>
                

                <ul class="error" v-if="errors.step2.length > 0">
                    <li v-for="error in errors.step2">[[ error.message ]]</li>
                </ul>                    

                <footer class="floater">
                    <button type="button" class="button main" :class="{'fill': isValid(2)}" v-on:click="nextStep(2);">Volgende</button>
                    <div class="price-floater">
                        <div>
                            Totaal
                            <span>[[ getTotalDescription() ]]</span>
                        </div>
                        <div>[[ getTotalString() ]]</div>
                    </div>
                </footer>

            </form>
        </section>

        <section class="white block" v-show="step == 3">
            <form class="text">
                <header>
                    <button type="button" class="button main noborder arrow-left" v-on:click="step = 2;">Terug</button>
                    <h1>Betaalmethode</h1>
                </header>

                <template v-for="(_payment_method, index) in payment_methods">
                    <input type="radio" :id="'payment_method_'+index" name="payment_method" :value="_payment_method" v-model="payment_method">
                    <label :for="'payment_method_'+index">[[ _payment_method.name ]]</label>
                </template>

                <div v-show="payment_method && payment_method.type == 'stripe' && payment_method.data.method == 'card'">
                    <label>Kredietkaart</label>
                    <div id="card-element" v-once>
                        <!-- A Stripe Element will be inserted here. -->
                    </div>

                    <ul class="error" v-if="cardError">
                        <li>[[ cardError ]]</li>
                    </ul>
                </div>

                <ul class="error" v-if="errors.step3.length > 0">
                    <li v-for="error in errors.step3">[[ error.message ]]</li>
                </ul>

                <footer>
                    <div class="price-floater">
                        <div>
                            Totaal
                            <span>[[ getTotalDescription() ]]</span>
                        </div>
                        <div>[[ getTotalString() ]]</div>
                    </div>

                    <button type="button" v-on:click="submit();" class="button main fill">Betalen</button>
                    <span v-if="isSubmitting">Laden...</span>
                </footer>

                {% if order_sheet.phone is not empty or order_sheet.mail is not empty %}
                    <h2>Problemen?</h2>
                    {% if order_sheet.phone is not empty %}
                        <p><strong>Tel. </strong>{{ order_sheet.phone }}</p>
                    {% endif %}
                    {% if order_sheet.mail is not empty %}
                        <p><strong>Mail: </strong>{{ order_sheet.mail }}</p>
                    {% endif %}
                {% endif %}
            </form>
        </section>
    </main>
    {% endif %}

{% endblock %}


{% block javascript %}
    {% if not order_sheet.isDue() %}
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <script>
            // https://github.com/uxitten/polyfill/blob/master/string.polyfill.js
            // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/padEnd
            if (!String.prototype.padEnd) {
                String.prototype.padEnd = function padEnd(targetLength,padString) {
                    targetLength = targetLength>>0; //floor if number or convert non-number to 0;
                    padString = String((typeof padString !== 'undefined' ? padString : ' '));
                    if (this.length > targetLength) {
                        return String(this);
                    }
                    else {
                        targetLength = targetLength-this.length;
                        if (targetLength > padString.length) {
                            padString += padString.repeat(targetLength/padString.length); //append to original to ensure we are longer than needed
                        }
                        return String(this) + padString.slice(0,targetLength);
                    }
                };
            }
        </script>
        <script type="text/javascript">
            var order_sheet = {{ (order_sheet|json_encode|raw) }};
            var items = {};
            for (var index = 0; index < order_sheet.products.length; index++) {
                var product = order_sheet.products[index];
                items[product.id] = []; 
            }

            {% if (general.logged_in) %}
                var user = {{ (logged_in_user|json_encode|raw) }};
            {% else %}
                var user = {
                    id: null,
                    firstname: "",
                    lastname: "",
                    mail: "",
                    phone: ""
                };
            {% endif %}

            user.address = "";
            user.city = "";
            user.zipcode = "";
            user.country = "BE";

            // Payment methods:
            var payment_methods = [];

            
            {% if 'stripe' in order_sheet.bank_account.getPaymentMethods() %}
                </script><script src="https://js.stripe.com/v3/"></script><script>

                var stripe = Stripe('{{ order_sheet.bank_account.stripe_public }}');
                var stripe_elements = stripe.elements();

                // Create an instance of the card Element.
                var card = null; //

                payment_methods = [ {
                    type: "stripe",
                    data: {
                        method: "bancontact",
                    },
                    name: "Bancontact"
                }, {
                    type: "stripe",
                    data: {
                        method: "card",
                        token: null,
                    },
                    name: "Visa / Mastercard"
                }, {
                    type: "stripe",
                    data: {
                        method: "ideal"
                    },
                    name: "iDEAL"
                }/*, {
                    type: "transfer",
                    data: {
                        // todo
                    },
                    name: "Bankoverschrijving"
                }*/];
            {% endif %}

            {% if 'transfer' in order_sheet.bank_account.getPaymentMethods() %}
                payment_methods.push({
                    type: "transfer",
                    data: {},
                    name: "Bankoverschrijving"
                });
            {% endif %}

            {% if 'cash' in order_sheet.bank_account.getPaymentMethods() %}
                payment_methods.push({
                    type: "cash",
                    data: {},
                    name: {% if order_sheet.type == 'registrations' %}"Betalen bij binnenkomen"{% else %}"Betalen bij afhalen"{% endif %}
                });
            {% endif %}

            function formatPrice(price) {
                if (isNaN(price)) {
                    return "€ -";
                }
                var int = Math.floor(price/100);
                var decimals = (""+(price - int*100)).padEnd(2, "0");

                return "€ "+int+","+decimals;
            }

            function isValidEmail(email) {
                return /^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*$/.test( email );	
            }

            // Fetch a list of orders that were placed on this device for this order sheet
            var orders = [];
            try {
                var _orders = localStorage.getItem('order-sheet.{{ order_sheet.id }}.orders');
                _orders = JSON.parse(_orders);

                if (_orders) {
                    for (var order_id in _orders) {
                        orders.push(_orders[order_id]);
                    }
                }
            } catch (ex) {
                // nothing
            }


            var app = new Vue({
                el: '#order-sheet',
                delimiters: ['[[',']]'],
                data: {
                    orders: orders,
                    order_sheet: order_sheet,
                    cart: {
                        items: items,
                    },
                    user: user,
                    payment_method: payment_methods[0],
                    step: orders.length > 0 ? 0 : 1,
                    errors: {
                        step1: [],
                        step2: [],
                        step3: [],
                    },
                    cardError: null,
                    payment_methods: payment_methods,
                    isSubmitting: false,
                },
                mounted: function() {
                    if (window.stripe_elements) {
                        card = stripe_elements.create('card');
                        card.addEventListener('change', function(event) {
                            if (app) {
                                if (event.error) {
                                    app.cardError = event.error.message;
                                } else {
                                    app.cardError = null;
                                }
                            }
                        });

                        // Add an instance of the card Element into the `card-element` <div>.
                        card.mount('#card-element');
                    }
                   
                    this.loadFromLocalstorage();
                },
                methods: {
                    isPersonalizeableProduct: function(product) {
                        if (product.type == 'name') {
                            return true;
                        }
                        if (product.prices.length > 1) {
                            return true;
                        }
                        if (product.optionsets.length > 0) {
                            return true;
                        }
                        return false;
                    },
                    addItemForProduct: function(product) {
                        var item = {
                            amount: 1,
                            options: {},
                            price: null,
                            product: product,
                        };

                        if (product.type == "name") {
                            item.person_name = "";
                        }

                        for (var option_index = 0; option_index < product.optionsets.length; option_index++) {
                            var optionset = product.optionsets[option_index];
                            item.options[optionset.id] = null;
                        }

                        if (product.prices.length == 1) {
                            item.price = product.prices[0];
                        }

                        // Push item to the cart
                        this.cart.items[product.id].push(item);
                    },

                    saveToLocalstorage: function() {
                        var data = {
                            cart: this.cart,
                        };

                        if (!this.user.id) {
                            data.user = this.user;
                        }

                        data = JSON.stringify(data);

                        localStorage.setItem('order-sheet.{{ order_sheet.id }}', data);
                    },

                    getProductById: function(id) {
                        for (var index = 0; index < this.order_sheet.products.length; index++) {
                            var element = this.order_sheet.products[index];
                            if (element.id == id) {
                                return element;
                            }
                        }
                        return null;
                    },

                    getProductPriceById: function(product, id) {
                        for (var index = 0; index < product.prices.length; index++) {
                            var element = product.prices[index];
                            if (element.id == id) {
                                return element;
                            }
                        }
                        return null;
                    },

                    getOptionById: function(optionset, id) {
                        for (var _index = 0; _index < optionset.options.length; _index++) {
                            var option = optionset.options[_index];
                            if (option.id == id) {
                                return option;
                            }
                        }
                        return null;
                    },

                    loadFromLocalstorage: function() {

                        try {
                            var data = localStorage.getItem('order-sheet.{{ order_sheet.id }}');
                            data = JSON.parse(data);
                            if (data.cart && data.cart.items) {
                                for (var product_id in data.cart.items) {
                                    var product = this.getProductById(product_id);
                                    if (!product) {
                                        continue;
                                    }
                                    for (var index = 0; index < data.cart.items[product_id].length; index++) {
                                        var item_old = data.cart.items[product_id][index];
                                        var item = {
                                            amount: item_old.amount ? item_old.amount : 1,
                                            options: {},
                                            price: null,
                                            product: product,
                                        };

                                        if (product.type == "name") {
                                            item.person_name = item_old.person_name ? item_old.person_name : "";
                                        }

                                        for (var option_index = 0; option_index < product.optionsets.length; option_index++) {
                                            var optionset = product.optionsets[option_index];
                                            item.options[optionset.id] = (item_old.options[optionset.id] && item_old.options[optionset.id].id) ? this.getOptionById(optionset, item_old.options[optionset.id].id) : null;
                                        }

                                        if (product.prices.length == 1) {
                                            item.price = product.prices[0];
                                        } else {
                                            // try to read (todo)
                                            item.price = (item_old.price && item_old.price.id) ? this.getProductPriceById(product, item_old.price.id) : null;
                                        }

                                        // Push item to the cart
                                        this.cart.items[product.id].push(item);
                                    }
                                }
                            }

                            if (data.user && !this.user.id) {
                                this.user.firstname = data.user.firstname;
                                this.user.lastname = data.user.lastname;
                                this.user.mail = data.user.mail;
                                this.user.phone = data.user.phone;

                                this.user.address = data.user.address;
                                this.user.zipcode = data.user.zipcode;
                                this.user.city = data.user.city;
                            }

                        } catch (exception) {
                            // Invald: don't load
                        }

                        // Add default items for non personlizeable items
                        this.order_sheet.products.forEach(function(product) {
                            if (!this.isPersonalizeableProduct(product) && this.cart.items[product.id].length == 0) {
                                this.addItemForProduct(product);
                            }
                        }.bind(this));

                    },

                    deleteCartItem: function(product, index) {
                        this.cart.items[product.id].splice(index, 1);
                    },

                    getItemPrice: function(item, total) {
                        if (!item.price) {
                            return NaN;
                        }

                        var price = item.price.price;

                        for (var optionset_id in item.options) {
                            var option = item.options[optionset_id];
                            if (option && option.price_change) {
                                price += option.price_change;
                            }
                            if (!option) {
                                return NaN;
                            }
                        }
                        

                        if (total) {
                            var amount = parseInt(item.amount);
                            if (isNaN(amount)) {
                                return NaN;
                            }

                            if (amount < 1) {
                                return NaN;
                            }

                            price *= amount;
                        }

                        return price;         
                    },

                    getItemPriceString: function(item, total) {
                        var price = this.getItemPrice(item, total);

                        if (!total && item.product.type == "unit") {
                            return formatPrice(price) + " / stuk";
                        }

                        if (!total && item.product.type == "person") {
                            return formatPrice(price) + " / persoon";
                        }
                        return formatPrice(price);
                    },

                    getTotal: function() {
                        var price = 0;

                        for (var product_id in this.cart.items) {
                            for (var index = 0; index < this.cart.items[product_id].length; index++) {
                                var item = this.cart.items[product_id][index];
                                price += this.getItemPrice(item, true);
                            }
                        }

                        price += this.getDeliveryCost();

                        return price;
                    },

                    getDeliveryCost: function() {
                        if (!order_sheet.delivery) {
                            return 0;
                        }
                        if (!user.zipcode || user.zipcode.length != 4) {
                            return 0;
                        }
                        if (parseInt(user.zipcode) < 9000) {
                            return 200;
                        }
                        return 0;
                    },

                    getTotalDescription: function() {
                        var persons = 0;
                        var amount = 0;

                        for (var product_id in this.cart.items) {
                            for (var index = 0; index < this.cart.items[product_id].length; index++) {
                                var item = this.cart.items[product_id][index];

                                if (item.product.type == 'name') {
                                    persons += 1;
                                }

                                if (isNaN(parseInt(item.amount))) {
                                    continue;
                                }

                                if (item.product.type == 'person') {
                                    persons += parseInt(item.amount);
                                }

                                if (item.product.type == 'unit') {
                                    amount += parseInt(item.amount);
                                }
                            }
                        }

                        var delivery = this.getDeliveryCost();
                        var extra = "";
                        if (delivery > 0) {
                            extra = " + leveringskost";
                        }

                        if (persons > 0) {
                            if (persons == 1) {
                                return "Voor één persoon"+extra;
                            }
                            return "Voor "+persons+" personen" + extra;
                        }

                        if (amount == 0) {
                            return "";
                        }

                        if (amount == 1) {
                            return "Voor één item" + extra;
                        }

                        return "Voor "+amount+" items" + extra;
                    },

                    getTotalString: function() {
                        return formatPrice(this.getTotal());
                    },

                    isValid: function(step, showErrors) {
                        if (step >= 1) {
                            var items = 0;

                            for (var product_id in this.cart.items) {
                                items += this.cart.items[product_id].length;

                                for (var index = 0; index < this.cart.items[product_id].length; index++) {
                                    var item = this.cart.items[product_id][index];
                                    if (item.product.type == 'name' && item.person_name.length < 2) {
                                        if (showErrors) {
                                            this.errors.step1 = [
                                                {
                                                    message: "Vul eerst overal een naam in voordat je verder gaat.",
                                                }
                                            ];
                                            this.step = 1;
                                        }
                                        
                                        return false;
                                    }

                                }
                                
                            }
                            
                            if (items == 0) {
                                if (showErrors) {
                                    this.errors.step1 = [
                                        {
                                            message: "Je moet minimum één product bestellen",
                                        }
                                    ];
                                    this.step = 1;
                                }
                                return false;
                            }

                            if (isNaN(this.getTotal())) {
                                if (showErrors) {
                                    this.errors.step1 = [
                                        {
                                            message: "Vul alle keuzemenu's en informatie in voor je verder gaat.",
                                        }
                                    ];
                                    this.step = 1;
                                }
                                return false;
                            }
                        }

                        if (showErrors) {
                            this.errors.step1 = [];
                        }

                        if (step >= 2) {
                            if (user.firstname.length < 2) {
                                if (showErrors) {
                                    this.errors.step2 = [
                                        {
                                            message: "De ingevulde voornaam is te kort",
                                        }
                                    ];
                                    this.step = 2;
                                }
                                return false;
                            }

                            if (user.lastname.length < 3) {
                                if (showErrors) {
                                    this.errors.step2 = [
                                        {
                                            message: "De ingevulde achternaam is te kort",
                                        }
                                    ];
                                    this.step = 2;
                                }
                                return false;
                            }

                            if (user.mail.length < 3 || !isValidEmail(user.mail)) {
                                if (showErrors) {
                                    this.errors.step2 = [
                                        {
                                            message: "Je hebt een ongeldig e-mailadres ingevuld",
                                        }
                                    ];
                                    this.step = 2;
                                }
                                return false;
                            }

                            if (user.phone.length < 3) {
                                if (showErrors) {
                                    this.errors.step2 = [
                                        {
                                            message: "Je hebt een ongeldig telefoonnummer ingevuld",
                                        }
                                    ];
                                    this.step = 2;
                                }
                                return false;
                            }

                            if(this.order_sheet.delivery) {
                                if (user.address.length < 3 || user.address.split(" ").length <= 1) {
                                    if (showErrors) {
                                        this.errors.step2 = [
                                            {
                                                message: "Je hebt een ongeldige straat of huisnummer ingevuld",
                                            }
                                        ];
                                        this.step = 2;
                                    }
                                    return false;
                                }

                                if (user.zipcode.length != 4) {
                                    if (showErrors) {
                                        this.errors.step2 = [
                                            {
                                                message: "Je hebt een ongeldige postcode ingevuld",
                                            }
                                        ];
                                        this.step = 2;
                                    }
                                    return false;
                                }

                                if (user.city.length < 3) {
                                    if (showErrors) {
                                        this.errors.step2 = [
                                            {
                                                message: "Je hebt een ongeldige gemeente ingevuld",
                                            }
                                        ];
                                        this.step = 2;
                                    }
                                    return false;
                                }
                            }
                            
                        }

                        if (showErrors) {
                            this.errors.step2 = [];
                        }

                        if (step >= 3) {
                            // no validation
                        }


                        return true;
                    },

                    nextStep: function(current) {
                        this.saveToLocalstorage();

                        if (current != this.step) {
                            return;
                        }
                        if (!this.isValid(current, true)) {
                            return;
                        }
                        this.step = current + 1;

                        // Scroll back to the top
                        window.scrollTo(0, 0);
                    },
                    
                    getItems: function() {
                        var items = [];
                        for (var product_id in this.cart.items) {
                            for (var index = 0; index < this.cart.items[product_id].length; index++) {
                                var item = this.cart.items[product_id][index];
                                items.push(item);
                            }
                        }
                        return items;
                    },

                    submit: function() {
                        if (this.isSubmitting) {
                            return;
                        }
                        this.isSubmitting = true;

                        if (this.payment_method.type == "stripe" && this.payment_method.data.method == "card") {
                            this.cardError = null;

                            // If we chose card method: create token and send it to the server
                            // to be able to create a charge
                            stripe.createToken(card).then(function(result) {
                                if (result.error) {
                                    // Inform the customer that there was an error.
                                    this.cardError = result.error.message;
                                    this.isSubmitting = false;
                                } else {
                                    console.log("got token: "+result.token.id);
                                    this.payment_method.data.token = result.token.id;
                                    this.createOrder();
                                }
                            }.bind(this));
                            return;
                        }

                        this.createOrder();
                    },

                    createOrder: function() {
                        var total = this.getTotal();
                        var data = {
                            price: total,
                            user: this.user,
                            items: this.getItems(),
                            payment_method: this.payment_method,
                        };

                        console.log(JSON.stringify(data, null, "\t"));


                        // Place order
                        Ajax.post("/api/webshop/place-order/{{ order_sheet.id }}", data, function(response) {
                            /// Success
                            console.log(JSON.stringify(response, null, "\t"));
                            console.log("Succeeded placing order");
                            if (response.redirect) {
                                window.location.href = response.redirect;
                            }
                        }, function(response) {
                            this.isSubmitting = false;
                            this.errors.step3 = response;
                            /// failure
                            console.log(JSON.stringify(response, null, "\t"));
                            console.log("Failed placing order");
                        }.bind(this));
                    }
                }
            });
        </script>
    {% endif %}
{% endblock %}