{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block main %}
    <main>
        <section class="white block">
            <div class="text">
                {% if order.isFailed() %}
                    <header>
                        <h1>Betaling is mislukt</h1>
                    </header>

                    {% if order.payment_method == 'transfer' %}
                        <ul class="error">
                            <li>De overschrijving is niet ontvangen of de inschrijving werd geannuleerd.</li>
                        </ul>
                    {% else %}
                        <ul class="error">
                            <li>De betaling werd geannuleerd of geweigerd door de bank. Kijk het saldo op uw bankkaart na en probeer het opnieuw.</li>
                        </ul>
                    {% endif %}
                    

                    {% if order.order_sheet is defined %}
                    <footer>
                        <a href="{{ order.order_sheet.getUrl() }}" class="button main fill">Opnieuw proberen</a>
                    </footer>
                    {% endif %}
                
                {% else %}
                    {% if not order.isValid() %}
                        {% if order.payment_method == 'transfer' %}
                            <header>
                                <h1>Betalen via overschrijven</h1>
                            </header>

                            <ul class="warning">
                                <li>Gelieve de inschrijving te bevestigen met de onderstaande knop.</li>
                            </ul>

                            {% include 'pages/webshop/transfer.html' with {'payment': order.payment} %}

                            <footer>
                                <a href="{{ order.payment.getConfirmUrl() }}" class="button fill main">Inschrijving bevestigen</a>
                                <a href="{{ order.payment.getCancelUrl() }}" class="button main">Annuleren</a>
                            </footer>
                        {% else %}
                            <header>
                                <h1>Wachten op betaling...</h1>
                                <h2>Zodra we van de bank het signaal krijgen dat de betaling is gelukt wordt je bestelling geplaatst. Als dit langer duurt dan 15 minuten is de betaling waarschijnlijk mislukt. Neem contact op met {{ environment.development_mail.mail }} in geval van problemen.</h2>
                            </header>
                        {% endif %}
                    {% else %}
                        <header>
                            {% if environment.theme == "sint-jan" %}
                                <div class="h1-prefix">Geplaatst op {{ order.created_at | date ('d/m/Y') }} om {{ order.created_at | date ('H:i') }} door {{ order.user.firstname }} {{ order.user.lastname }}</div>
                            {% endif %}

                            {% if order.isRegistration() %}
                                <h1>Jouw inschrijving is geplaatst!</h1>
                            {% else %}
                                <h1>Jouw bestelling is geplaatst!</h1>
                            {% endif %}

                            {% if environment.theme != "sint-jan" %}
                                <h2>Geplaatst op {{ order.created_at | date ('d/m/Y') }} om {{ order.created_at | date ('H:i') }} door {{ order.user.firstname }} {{ order.user.lastname }}</h2>
                            {% endif %}
                        </header>

                        {% if order.payment_method == 'transfer' %}
                            <h2>Overschrijven</h2>
                            {% include 'pages/webshop/transfer.html' with {'payment': order.payment} %}

                            <h2>Overzicht</h2>
                        {% endif %}

                        <div class="list-bundle">
                            {% for item in order.items %}
                                <article class="list">
                                    <div class="medium merlot column">
                                            {{ item.product.name }}
                                    </div>
                                    <div class="max column">
                                        <p>
                                            {% if item.product.type == 'unit' %}
                                                <strong>Aantal:</strong> {{ item.amount }}<br>
                                            {% endif %}

                                            {% if item.product.type == 'name' %}
                                                <strong>Naam:</strong> {{ item.person_name }}<br>
                                            {% endif %}
        
                                            {% if item.product.type == 'person' %}
                                                <strong>Aantal personen:</strong> {{ item.amount }}<br>
                                            {% endif %}
        
                                            <strong>{{ item.product.price_name }}:</strong> {{ item.product_price.name }}<br>
        
                                            {% for option in item.options %}
                                                <strong>{{ option.optionset.name }}:</strong> {{ option.name }}<br>
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="last column right">
                                        {{ item.getPrice() }}
                                    </div>
                                </article>
                            {% endfor %}
                        </div>

                        <footer>
                            <div class="price-floater">
                                <div>
                                    Totaal
                                    {% if not order.isPaid() %}
                                        <span>Nog niet betaald ({{ order.getPaymentName() }})</span>
                                    {% else %}
                                        <span>Betaald via {{ order.getPaymentName() }}</span>
                                    {% endif%}
                                </div>
                                <div>{{ order.getPrice() }}</div>
                            </div>
                            <div style="clear: both;"></div>
                        </footer>
                    {% endif %}
                {% endif %}
            </div>
        </section>
    </main>

{% endblock %}

{% block javascript %}
    {% if order.isValid() and order.order_sheet_id is not empty %}
        <script type="text/javascript">
            var data = {};
            try {
                data = localStorage.getItem('order-sheet.{{ order.order_sheet_id }}.orders');
                data = JSON.parse(data);
            } catch (exc) {
                // nothing
                data = {};
            }

            if (!data) {
                data = {};
            }
            data[{{ order.id }}] = {{ (order.getSummary()|json_encode|raw) }};
            localStorage.setItem('order-sheet.{{ order.order_sheet_id }}.orders', JSON.stringify(data));
            localStorage.removeItem('order-sheet.{{ order.order_sheet_id }}');
        </script>
    {% else %}
        {% if not order.isValid() and not order.isFailed() and order.payment_method != 'transfer' %}
            <script type="text/javascript">
                window.setTimeout(function() {
                    console.log("reload");
                    window.location.reload(true);
                }, 5000);
            </script>
        {% endif %}
    {% endif %}
{% endblock %}