{% set description = "Maak een account aan zodat je jouw kinderen kan inschrijven voor de scouts in Wetteren."%}
{% set title = "Account aanmaken" %}

{% extends "base.html" %}

{% block main %}
    <main>
        <div class="white block">
                <form method="post">
                    <div class="text">
                        {% if success %}
                            <h2>Gelukt!</h2>


                         {% else %}
                            <a href="/gebruikers/login" class="button noborder arrow-left aubergine">Inloggen</a>
                            <header>
                                <h1>Maak een account aan</h1>
                                <p>Hieronder kan je als ouder een account aanmaken waarmee je jouw kinderen kan inschrijven voor de scouts. Indien van toepassing kan je hierna ook nog de andere ouders in het gezin toevoegen.</p>
                                <p>We detecteren automatisch of er al kinderen van jou ingeschreven zijn zodat je deze inschrijvingen meteen kan beheren.</p>
                            </header>

                            <label>Voornaam ouder</label>
                            <input type="text" value="{{ data.firstname | e('html_attr') }}" name="firstname" placeholder="Vul je voornaam hier in">

                            <label>Achternaam ouder</label>
                            <input type="text" value="{{ data.lastname | e('html_attr') }}" name="lastname" placeholder="Vul je achternaam hier in">
                        
                            <label>Jouw e-mailadres</label>
                            <input type="text" value="{{ data.mail | e('html_attr') }}" name="mail" placeholder="Vul je persoonlijk e-mailadres hier in">

                            <label>Jouw GSM-nummer</label>
                            <input type="text" value="{{ data.phone | e('html_attr') }}" name="phone" placeholder="Typ je GSM-nummer in">
    
                            <footer>
                                <input type="submit" class="aubergine fill" value="Volgende">
                            </footer>

                            {% if errors|length > 0 %}
                                <ul class="error">
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}  
                        {% endif %}

                    </div>
                </form>
        </div>
    </main>
{% endblock %}