// A block contains main content. If it is placed directly as a child of main, it will have specify width etc.
// Other blocks only maintain color characteristics

@mixin block-underlay {
    z-index: 0;

    &::before {
        position: absolute;
        left: 0px;
        right: 0px;
        content: '';
        z-index: -1;
    }
}

main > .block, main > .block.with-menu .block {
    position: relative;
    overflow-wrap: break-word;

    &.white, &:first-child {
        @include block-underlay();

        &::before {
            top: 0;
            height: 100%;
            max-height: 350px;
            background: linear-gradient(rgba(black, 0.03), rgba(black, 0));
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }
    }

    &.blue {
        @include block-underlay();
        @include text-styles($color-main-alternative-dark, $color-main-alternative, $color-main-alternative-gradient-destination);

        &::before {
            top: 0;
            bottom: 0;
            background: $color-main-alternative-shade;
            border-radius: $border-radius;
        }
    }
}

main > .block {
    max-width: $page-width;
    margin: 40px auto;
    padding: 0px 40px;
    position: relative;

    @media (max-width: $page-width - ($page-width - $page-width-reduce-padding) /2 ) {
        padding: 0 20px;
        margin: 30px auto;
    }

    @media (max-width: $page-width-reduce-padding) {
        padding: 0 15px;
        margin: 30px auto;
    }

    &.blue {
       
    }

    &.white, &:first-child , &.blue {
        @media (min-width: $page-width + 160px) {
            &::before {
                left: calc(-50vw + #{$page-width/2 + 80px} );
                right: calc(-50vw + #{$page-width/2 + 80px} );
            }
        }

        padding: 40px;

        @media (max-width: $page-width - ($page-width - $page-width-reduce-padding) /2 ) {
            padding: 30px 20px;
        }
    
        @media (max-width: $page-width-reduce-padding) {
            padding: 30px 15px;
        }

    }

    &.white, &:first-child  {
        margin-top: 0px;
        padding-bottom: 0;
    }


    &> .text {
        max-width: 800px;
        margin: 0 auto;
    }

    &.with-menu {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        @media (max-width: 800px), print {
            flex-direction: column-reverse;
            align-items: stretch;
        }

        &> nav {
            flex-basis: 220px;
            padding-right: 20px;
            padding-top: 0;
            position: -webkit-sticky;
            position: sticky;
            top: $menu-height*2 + 20px;
            flex-grow: 0;
            flex-shrink: 0;

            @media (max-height: 400px), (max-width: 250px) {
                top: $menu-height + 50px;
                padding-top: 0px;
            }

            @media (max-width: 800px), print {
                border-top: $border-width solid $color-main-shade;
                position: static;
                flex-basis: auto;
                padding-top: 20px;
            }

            &> a, .box > a {
                text-transform: uppercase;
                font-weight: bold;
                font-size: $size-button;
                color: $color-main-dark;
                border-radius: $border-radius;

                display: block;
                padding: 12px 15px;
                margin: 0;
                border-radius: $border-radius;
                transition: background-color 0.2s;
                background-color: transparent;
                position: relative;
                left: -15px;

                @media (max-width: 800px) {
                    left: 0;
                }
                opacity: 1;
                
                &:hover {
                    opacity: 1;
                    background-color: $color-main-shade;
                }

                &.selected {
                    color: $color-main;
                }
            }
        }
        &> div {
            flex-grow: 1;

            @media screen and (min-width: 801px) {
                max-width: calc(100% - 240px);
            }

            &> img, &> * > img {
                margin: 20px -30px;
                width: 100%;
                width: calc(100% + 60px);
                display: block;
                border-radius: $border-radius;

                @media (max-width: $page-width - ($page-width - $page-width-reduce-padding) /2 ) {
                    margin: 20px -20px;
                    width: calc(100% + 40px);
                }
            
                @media (max-width: $page-width-reduce-padding) {
                    margin: 20px -15px;
                    width: calc(100% + 30px);
                }
            }
        }
    }
}

main > .block.with-menu .block {
    margin: 40px 0;
    padding: 0px;

    &.blue {
        padding: 30px;
        margin: 40px -30px;

        @media (max-width: $page-width - ($page-width - $page-width-reduce-padding) /2 ) {
            padding: 20px;
            margin: 30px -20px;
        }
    
        @media (max-width: $page-width-reduce-padding) {
            padding: 20px 15px;
            margin: 30px -15px;
        }
    }
}

.list-bundle {
    margin: 20px 0;
    overflow-x: auto;
}