main {
    .block {
        max-width: $page-width;
        margin: 40px auto;

        @media (max-width: $page-width-reduce-padding) {
            margin: 20px auto;
        }

        &.white {
            background: white;
            box-shadow: 0px 8px 15px rgba($color-main-dark, 0.05);
        }

        &.transparent {
            margin-top: 50px;

            @media screen and (max-width: $page-width-reduce-padding) {
                padding: 0 10px;
            }
        }

    }
}

.block {
    position: relative;
    
    &.album_block {
        header {
            h1 {
                padding: 0;
                margin: 0;
                text-align: center;
                color: $color-main-dark;
            }
            h2 {
                padding: 0;
                margin: 0;
                color: $color-main;
                text-align: center;
            }
            margin-bottom: 30px;

            @media (max-width: $page-width-reduce-padding) {
                margin-bottom: 10px;
            }
        }
       .button-bar {
            text-align: left;
            margin: 0;
        }
    }

    > .map {
        height: 600px;
        height: 60vh;
        position: relative;

        @media (max-width: $page-width-reduce-padding) {
            display: none;
        }
    }
    .text {
        padding: 70px 30px 70px 50px;
        
        .list-bundle {
            margin: 0 -30px 20px -50px;
        }

        @media (max-width: $page-width-stop-splitted) {
          padding: 60px 20px;

          .list-bundle { 
            margin: 0 -20px 20px -20px;
          }
        }
    }

    .subtext {
        &.part {
            vertical-align: middle;
        }

        padding: 60px 60px;
        color: $color-text;

        @media (max-width: $page-width-stop-splitted) {
          padding: 80px $smartphone-padding;

          &.part {
              padding-top: 0;
          }
        }

        h1, h2 {
            color: $color-main-dark;
        }

        h2 {
            font-size: $size-question;
            
            span {
                font-size: $size-text;
                display: inline-block;
                color: $gray;
                margin-left: 10px;
            }
        }

        p {
            color: $color-main;
        }
    }

    // Small height screens: make boxes less long
    @media (max-width: $page-width-reduce-padding) {
        .text {
            padding: 40px $smartphone-padding;

            &> header {
                margin-bottom: 20px;
            }

            footer {
                margin-top: 30px;
            }

            .list-bundle {
                margin: 0 (-$smartphone-padding) 60px (-$smartphone-padding);
            }
        }

    }
}