// Voor sticky footer
#container {
    min-height: 100vh;

    display: block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    &> main {
        flex-grow: 1;
    }
}