{% set description = "Bekijk hier de foto\'s van het album " ~ album.name %}
{% set title = album.name ~ " - Foto's" %}
{% set social_image = album.cover.getBiggestSource().file.getPublicPath() %}
{% extends "base.html" %}

{% block javascript %}
    <link rel="stylesheet" href="/css/photoswipe.css"> 
    <script src="/js/photoswipe.min.js"></script> 
    <script src="/js/photos.js"></script>
    <script type="text/javascript">
        var grid = new photos.Grid({});
        grid.trackWidth(document.getElementById('album_container'));
        grid.margin = 8;
        grid.max_height = 400;

        var is_admin = {% if general.logged_in_leiding %}true{% else %}false{% endif %};

        {% for image in images %}
            var photo = new photos.Photo({{image.getSource().width | e('js')}}, {{image.getSource().height | e('js')}}, {{image.id  | e('js')}});
            photo.title = "{{image.title | e('js')}}";
            photo.sources = {{ image.getSourcesJSON | raw }};
            grid.add(photo);
        {% endfor %}
        
        var element = grid.toDOM();
        document.getElementById('album_container').appendChild(element);
        grid.updateVisiblePhotos();

        grid.enablePhotoSwipe();
    </script>
{% endblock %}

{% block main %}
    <main class="keep-padding">
        <section class="block album_block">
            <header><h1>{{ album.name }}</h1></header>
            <div class="button-bar">
                <a class="button main noborder" href="/fotos">
                    <svg width="12px" height="19px" viewBox="853 21 12 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <polyline id="back" stroke="#470A14" stroke-width="2" stroke-linecap="round" fill="none" transform="translate(859.000000, 30.500000) scale(-1, 1) translate(-859.000000, -30.500000) " points="855 23 863 30.5 855 38"></polyline>
                    </svg>Alle albums</a>

            </div>

            <div id="album_container"></div>
            <noscript>Je moet javascript aanzetten om de foto's te kunnen zien, herlaad daarna de pagina.</noscript>
            <div class="button-bar">
                <a class="button main noborder" href="/fotos">
                    <svg width="12px" height="19px" viewBox="853 21 12 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <polyline id="back" stroke="#470A14" stroke-width="2" stroke-linecap="round" fill="none" transform="translate(859.000000, 30.500000) scale(-1, 1) translate(-859.000000, -30.500000) " points="855 23 863 30.5 855 38"></polyline>
                    </svg>Alle albums</a>
                    {% if album.canDownload() %}
                        <a href="/fotos/download/{{ album.getUrlSuffix() }}" class="button main noborder" rel="nofollow">Download</a>
                    {% endif %}
                    
                    <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{http}}{{ album.getUrl }}','{{album.name}}','width=600,height=400'); return false;" class="button main noborder">Deel op facebook</a>
                    {% if general.logged_in_leiding %}
                    <a href="/admin/photos/edit/{{ album.id }}" class="button main noborder">Foto's toevoegen</a>
                    {% endif %}
            </div>

            {% if not album.canDownload() %}
                <p>Je kan dit album binnen enkele minuten downloaden.</p>
            {% endif %}
        </section>
    </main>

    {% include 'libs/photoswipe.html' %}
{% endblock %}