{% set description = 'Al onze foto\'s van onze activiteiten doorheen het jaar vind je op deze pagina.' %}
{% set title = "Foto's" %}

 {% if albums | length > 0 %}
     {% if albums | first | length > 0 %}
        {% set social_image = (albums | first | first).cover.getBiggestSource().file.getPublicPath() %}
    {% endif %}
{% endif %}

{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        {% for data in albums %}
            {% for album in data %}
                #album_{{album.id}} {
                    background-image: url("{{ album.cover.getBestfit(384, 384).file.getPublicPath() }}");
                }
            {% endfor %}
        {% endfor %}

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
             {% for data in albums %}
                {% for album in data %}
                    #album_{{album.id}} {
                        background-image: url("{{ album.cover.getBestfit(768, 768).file.getPublicPath() }}");
                    }
                {% endfor %}
            {% endfor %}
        }
    </style>
{% endblock %}

{% block main %}
    <main class="keep-padding">
        <nav class="buttons">
            <a href="/fotos/" class="{% if tak is null %}selected {% endif %}button">Alles</a>
            <a href="/fotos/kapoenen" class="{% if tak == 'kapoenen' %}selected {% endif %}button">Kapoenen</a>
            <a href="/fotos/wouters" class="{% if tak == 'wouters' %}selected {% endif %}button">Wouters</a>
            <a href="/fotos/jonggivers" class="{% if tak == 'jonggivers' %}selected {% endif %}button">Jonggivers</a>
            <a href="/fotos/givers" class="{% if tak == 'givers' %}selected {% endif %}button">Givers</a>
            <a href="/fotos/jin" class="{% if tak == 'jin' %}selected {% endif %}button">Jin</a>
            <a href="/fotos/algemeen" class="{% if tak == 'algemeen' %}selected {% endif %}button">Algemeen</a>
        </nav>
        <section class="block withButtons">
            <div class="albums">
                {% for y, data in albums %}
                    <h1>{{ y }} - {{ y+1 }}</h1>
                    {% for album in data %}
                        <a href="{{ album.getUrl }}"><figure class="album">
                            <div class="image" id="album_{{album.id}}"></div>
                            <figcaption>
                                <h2>{{ album.formatted_date }}{% if tak != album.group %}<span>•</span> {{ album.group | capitalize}}{% endif %}</h2>
                                <h1>{{ album.name }}</h1>
                            </figcaption>
                        </figure></a>
                    {% endfor %}
                {% else %}
                    <p>Jammer! We hebben nog geen albums toegevoegd in deze categorie.</p>
                {% endfor %}
                <div class="clear"></div>
            </div>

        </section>
    </main>
    <script type="text/javascript">
        document.addEventListener("touchstart", function(){}, true);
    </script>
{% endblock %}