
.show-on-file-selected {
    display: none;
}

form {
    blockquote {
        border-left: $border-width solid $color-main;
        color: $color-main;
        padding: 0 20px;
        width: 800px;
        max-height: 400px;
        margin: 20px 0;
        overflow-y: scroll;
    }

    .slider {
        height: 65px;
        margin: 0px 0 5px 0;
        position: relative;
        max-width: 500px;
        cursor: pointer;

        .bar {
            position: absolute;
            background: $gray;
            left: 0;
            right: 0;
            top: $slider-top;
            height: $border-width;
            border-radius: $border-width;
            overflow: hidden;

            .progress {
                width: 0%;
                left: 0;
                top: 0;
                bottom: 0;
                position: absolute;
                background: $color-main;
            }
        }
        .slide {
            .circle {
                position: absolute;
                top: $slider-top - ($slider-circle - $border-width)/2;
                left: ($slider-box - $slider-circle)/2;
                right: ($slider-box - $slider-circle)/2;
                height: $slider-circle;
                border-radius: $slider-circle/2;
                background: $color-main;
            }
            left: 0%;
            margin-left: - $slider-box/2;

            position: absolute;
            top: 0;
            padding-top: $slider-top + 7 + $slider-circle/2;
            width: $slider-box;
            text-align: center;
        }
    }

    aside.source {
        color: $gray;
    }

    label {
        color: $color-main-dark;
        font-size: $size-text-bigger;
        display: block;
    }

    input, textarea, select, .StripeElement {
        font-size: $size-text-bigger;
    }

    input[type=file] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    input[type=file] + label {
        cursor: pointer;
        padding: 10px 30px;
        border: $border-width solid $color-main-dark;
        border-radius: 40px;
        text-transform: uppercase;
        font-size: $size-text-bigger;
        margin: 20px 7px;
        display: inline-block;
        margin-left: 0;
        color: white;
        background: $color-main-dark;

        svg {
            margin-right: 5px;
        }
    }

    input[type=text], input[type=password], input[type=email], input[type=tel], .input-box, .select-box, textarea, .StripeElement {
        display: block;
        box-sizing: border-box;
        width: 100%;
        max-width: 500px;
        background: none;
        border: 0;
        overflow: none;
        padding: 10px 0;
        margin: 0 0 20px 0;
        color: $color-main;

        &::-webkit-input-placeholder {
            color: $gray;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: $gray;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
            color: $gray;
        }

        &:-ms-input-placeholder {  
            color: $gray;
        }

        &:focus, &.selected {
            border-color: $color-main;
            color: $color-main;
        }

        &.error {
            border-color: $color-error;
            color: $color-error; 
        }

        border-bottom: $border-width solid $gray;
    }

    textarea { 
        resize: none; 
        min-height: 90px;
        height: auto;
        overflow: auto;
        -ms-overflow-style: none;

        &.big {
            max-width: 800px;
        }
    }

    input[type=checkbox], input[type=radio] {
      display: none;
    }

    input[type=checkbox] + label {
        margin: 30px 0;
        cursor: pointer;
    }

    input[type=radio] + label {
        margin: 15px 20px 20px 0;
        display: block;
        cursor: pointer;
    }

    input[type=checkbox] + label:before, 
    input[type=radio] + label:before,
    input[type=checkbox] + .checkbox-controllable label.checkbox-label-inside:before,
    input[type=radio] + .checkbox-controllable label.checkbox-label-inside:before
    {
      content: "";
      display: inline-block;
      vertical-align: text-bottom;
     
      width: 26px - $border-width*2;
      height: 26px - $border-width*2;
     
      margin-right: 20px;
      background-color: white;
      border: $border-width solid $gray;
      border-radius: $checkbox-border-radius;
    }

    input[type=checkbox]:checked + label:before, 
    input[type=radio]:checked + label:before,
    input[type=checkbox]:checked + .checkbox-controllable label.checkbox-label-inside:before,
    input[type=radio]:checked + .checkbox-controllable label.checkbox-label-inside:before
    {
        border: 0;
        padding: $border-width;
        background: $color-main url('../'+$theme+'/icons/white/checkbox.svg') no-repeat center center;
        cursor: pointer;
    }


    input[type=checkbox] + label + .checkbox-controllable,
    input[type=radio] + label + .checkbox-controllable {
        &> .visible-when-checked {
            display: none;
        }
    }

    input[type=checkbox]:checked + label + .checkbox-controllable,
    input[type=radio]:checked + label + .checkbox-controllable {
        &> .visible-when-checked {
            display: block;
        }
        &> .hidden-when-checked {
            display: none;
        }
    }

    input[type=checkbox] + .checkbox-controllable,
    input[type=radio] + .checkbox-controllable {
        .visible-when-checked {
            display: none;
        }
    }

    input[type=checkbox]:checked + .checkbox-controllable,
    input[type=radio]:checked + .checkbox-controllable {
        .visible-when-checked {
            display: block;
        }
        .hidden-when-checked {
            display: none;
        }
    }


    .dropdown-list {
        display: none;
        position: absolute;
        width: 300px;
        max-height: 400px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
        border-radius: 4px;
        overflow: scroll;
        margin-top: -20px;

        .option {
            cursor: pointer;
            padding: 20px 30px;
            border-bottom: 1px solid $color-border;
            color: $color-main;

            &:hover {
                background: $color-background-shade-darker;
            }
        }
    }

    input.dropdown:focus + .dropdown-list {
        display: block;
    }

    .select-box {
        overflow: hidden;
        padding: 0;

        select::-ms-expand {
            display: none;
        }  

        select {
            padding: 10px 0;
            font-size: inherit;
            outline: none;
            color: $color-main;

            width: 130%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;

            option {
                color: $color-main;
            }

            &.empty {
                color: $gray;
            }
        }
    }

    .input-box {
        padding: 0;

        input[type=text] {
            display: inline-block;
            width: 80px;
            box-sizing: border-box;
            padding: 5px 10px;
            border: 0;
            margin: 0;
        }

        .select-box {
            width: 30%;
            box-sizing: border-box;
            display: inline-block;
            border: 0;
            margin: 0;

            select {
                padding-left: 20px;
            }
            &:first-child select{
                padding-left: 0;
            }
            &:first-child {
                width: 29%;
            }
            float: left;
        }

        .max {
            width: auto;
            float: none;
            overflow: hidden;
            display: block;
        }

        .right {
            float: right;
        }

        &:after {
            clear: both;
            display: block;
            height: 0;
            content: '';
        }
    }

    input[type=text].datepicker {
        background: url(../prins-boudewijn/images/input-arrow.png) no-repeat right center;
    }

    .select-box, input[type=text].dropdown {
        background: url(../prins-boudewijn/images/input-arrow.png) no-repeat right center;
    }

    &.error {
        input[type=text], input[type=password], input[type=email], input[type=tel] {
            border-color: $color-error;
        }
        label {
            color: $color-error;
        }
    }
}
