body, html {
    color: $color-text;
    font-family: $font-family, sans-serif;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $size-text;
    position: static;
}

[v-cloak] {
    display: none;
}

.ie-only {
    display: none;
    position: absolute;
    font-weight: bold;
    left: 0;
    right: 0;
    top: 60px;
    background: $color-main;
    padding: 20px;
    text-align: center;
    color: white;
}
noscript .ie-only {
    display: block;
}

mark {
    background: rgba($color-warning, 0.2);
}

.image-container {
    margin: 15px 0;

    img {
        border-radius: 5px;
        display: block;
        max-width: 100%;
        height: auto;
    }

    &.with-background {
        padding: 15px;
        background: $color-background-shade;
        border-radius: 5px;
        overflow: hidden;

        img {
            border-radius: 5px;
            display: block;
            max-width: 60%;
            height: auto;
            margin: 0 auto;
        }
    }
    &.with-border {
        border: $border-width solid $color-border;
    }
    
}

#editor .ce-delimiter {
    &::before {
        margin: 15px 0;
        display: block;
        border-radius: $border-width/2;
        background: $color-border;
        height: $border-width;
        content: '';
    }
}