
<footer id="footer">
    <div>
        <div>
            © 2016 - {{ "now"|date("Y") }} - Powered by <a href="https://www.stamhoofd.be/?utm_source=scoutssintjan&utm_medium=referral&utm_campaign=Footer">Stamhoofd</a> - <a href="/privacy">Privacyverklaring</a>
        </div>
        <div>
            <a href="https://www.instagram.com/scoutssintjan/" class="instagram" target="_blank">Instagram</a>
            <a href="https://www.facebook.com/scoutssintjan/" class="facebook" target="_blank">Facebook</a>
        </div>
    </div>
</footer>