<header id="header">
    <div class="horizontal gradient">
        <div class="vertical gradient">
            <div class="center">
                {{ include('pages/slideshows/slideshow.html', {slide: slideshows[0]}) }}
            </div>
        </div>
    </div>
    <button class="back" type="button">
        Vorige
    </button>
    <div class="navigation">
        {% for slide in slideshows %}
            <div class="{% if loop.first %}selected {% endif %}item">
                {{ include('pages/slideshows/slideshow.html', {slide: slide}) }}
            </div>
        {% endfor %}
    </div>
    <button class="next" type="button">
        Volgende
    </button>
</header>
