<div class="dropdown-group">
    <button class="dropdown">Info</button>
    <div class="dropdown-menu">
        <a href="/info">Algemeen</a>
        <a href="/info/oudercomite">Oudercomite</a>
        <a href="/info/vzw">VZW</a>
        <hr>
        <a href="https://files.scoutssintjan.be/download/jaarfeniks-2023-2024.pdf" target="_blank">Jaarfeniks</a>
    </div>
</div>

<div class="dropdown-group">
    <button class="dropdown">Takken</button>
    <div class="dropdown-menu">
        <a href="/takken/akabe">Akabe</a>
        <a href="/takken/kapoenen">Kapoenen</a>
        <a href="/takken/kabouters">Kabouters</a>
        <a href="/takken/welpen">Welpen</a>
        <a href="/takken/jonggidsen">Jonggidsen</a>
        <a href="/takken/jongverkenners">Jongverkenners</a>
        <a href="/takken/gidsen">Gidsen</a>
        <a href="/takken/verkenners">Verkenners</a>
        <a href="/takken/jin">Jin</a>
        <hr>
        <a href="/takken/stam">Stam</a>
    </div>
</div>

<a href="/fotos">Foto's</a>
<a href="/verhuur">Verhuur</a>
<a href="/sponsors">Sponsors</a>
<a href="https://shop.scoutssintjan.be">Shop</a>
<a href="/contact">Contact</a>

<div class="group">
    <a href="https://www.instagram.com/scoutssintjan/" class="instagram"></a>
    <a href="https://www.facebook.com/scoutssintjan/" class="facebook"></a>
</div>


{% if not general.logged_in_leiding and not general.logged_in_ouders %}
    <a href="/inschrijven" class="call-to-action">Aanmelden</a>
{% else %}
    <div class="dropdown-group">
        <button class="call-to-action dropdown user">
            {{ logged_in_user.firstname }}
        </button>
        <div class="dropdown-menu">
            {% include '_user_menu.html' %}
        </div>
    </div>
{% endif %}