<button class="dropdown">Info<div class="dropdown-menu">
    <a href="/info">Algemeen</a>
    <a href="/info/oudercomite">Oudercomite</a>
    <a href="/info/vzw">VZW</a>
    <a href="/info/geschiedenis">Geschiedenis</a>
</div></button>
<button class="dropdown">Takken<div class="dropdown-menu">
    <a href="/takken/kapoenen">Kapoenen</a>
    <a href="/takken/kabouters">Kabouters</a>
    <a href="/takken/welpen">Welpen</a>
    <a href="/takken/jonggidsen">Jonggidsen</a>
    <a href="/takken/jongverkenners">Jongverkenners</a>
    <a href="/takken/gidsen">Gidsen</a>
    <a href="/takken/verkenners">Verkenners</a>
    <a href="/takken/jin">Jin</a>
    <a href="/takken/akabe">Akabe</a>
    <a href="/takken/oud-leiding">Oud-leiding</a>
</div></button>
<a href="/fotos">Foto's</a>
<a href="/verhuur">Verhuur</a>
<a href="/contact">Contact</a>
{% if not general.logged_in %}
    <a href="/inschrijven" class="call-to-action">Inschrijven</a>
{% endif %}