<div class="dropdown-group">
    <button class="dropdown">Info</button>
    <div class="dropdown-menu">
        <a href="/info">Algemeen</a>
        <a href="/info/oudercomite">Oudercomite</a>
        <a href="/info/vzw">VZW</a>
    </div>
</div>

<div class="dropdown-group">
    <button class="dropdown">Takken</button>
    <div class="dropdown-menu">
        <a href="/takken/akabe">Akabe</a>
        <a href="/takken/kapoenen">Kapoenen</a>
        <a href="/takken/kabouters">Kabouters</a>
        <a href="/takken/welpen">Welpen</a>
        <a href="/takken/jonggidsen">Jonggidsen</a>
        <a href="/takken/jongverkenners">Jongverkenners</a>
        <a href="/takken/gidsen">Gidsen</a>
        <a href="/takken/verkenners">Verkenners</a>
        <a href="/takken/jin">Jin</a>
        <hr>
        <a href="/takken/stam">Stam</a>
    </div>
</div>

<a href="/fotos">Foto's</a>
<a href="/verhuur">Verhuur</a>
<a href="/contact">Contact</a>
{% if not general.logged_in_leiding and not general.logged_in_ouders %}
    <a href="/inschrijven" class="call-to-action">Inschrijven</a>
{% else %}
    <div class="dropdown-group">
        <button class="call-to-action dropdown user">
            {{ logged_in_user.firstname }}
        </button>
        <div class="dropdown-menu">
            {% include '_user_menu.html' %}
        </div>
    </div>
{% endif %}