{% set title = 'Contact' %}
{% set description = 'Wie geeft er leiding? Met onze contactpagina kan je ons ook contacteren via een handig formulier.' %}
{% extends "base.html" %}

{% block main %}
    <main>
         <section class="block">
            <div class="cta">
                <h1>We werken nog aan deze pagina</h1>
                <h2>Je kan ons voorlopig contacteren op één van onderstaande e-mailadressen. </h2>
                <p>groepsleiding@scoutswetteren.be</p>
                <p>kapoenen@scoutswetteren.be</p>
                <p>wouters@scoutswetteren.be</p>
                <p>jonggivers@scoutswetteren.be</p>
                <p>givers@scoutswetteren.be</p>
                <p>website@scoutswetteren.be</p>
                <a href="/" class="big button merlot">Startpagina</a>
            </div>
        </section>
    </main>
{% endblock %}