{% set description = 'Wij zijn Scouts Prins Boudewijn uit Wetteren. Elke zondag organiseren wij geweldige activiteiten voor groot en klein.' %}
{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        #over-image {
            background-image: url(/images/over-flat.jpg);
        }
    </style>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ http }}/js/homepage.js?v=2"></script>
    <script type="text/javascript">
         $( document ).ready(function() {
            $('#header .navigation .item').click(function() {
                goToItem($(this));
            });
            $('#header button.next').on('click',function(evt) {
                evt.preventDefault();
                var next = $('#header .item.selected').next();
                if (next.length == 0) {
                    next = $('#header .item:first');
                }

                goToItem(next);
            });
            $('#header button.back').on('click',function(evt) {
                evt.preventDefault();
                var next = $('#header .item.selected').prev();
                if (next.length == 0) {
                    next = $('#header .item:last');
                }

                goToItem(next);
            });
        });

        function goToItem(next) {
            var content = next.html();
            animateTo(content);
            $('#header .item.selected').removeClass('selected');
            next.addClass('selected');
        }
        function animateTo(html) {
            var current = $('#header .center');
            var current_article = $('#header .center article');
            var width = current_article.width();
            current_article.css({ 'width': width});
            current_article.animate({ 'margin-left': -150, 'margin-right': 150}, 200);
            current.fadeOut(200, function() {
                current.html(html);
                current_article = $('#header .center article');
                current_article.css({ 'width': width});

                current_article.css({'margin-left': 150, 'margin-right': -150});
                current_article.animate({ 'margin-left': 0, 'margin-right': 0}, 200, function() {
                    current_article.css({ 'width': ''});
                });
                current.fadeIn(200);
            });
        }
    </script>
{% endblock %}

{% block main %}
    <header id="header">
        <div class="horizontal gradient">
            <div class="vertical gradient">
                <div class="center">
                    <article>
                        <h1>{{ slideshows[0].title }}</h1>
                        <p>{{ slideshows[0].text }}</p>
                        {% if slideshows[0].button is defined %}
                            <a href="{{ slideshows[0].button.url | e('html_attr') }}" class="button">{{ slideshows[0].button.text }}</a>
                            {% if slideshows[0].extra_button is defined %}
                                <a href="{{ slideshows[0].extra_button.url | e('html_attr') }}" class="button noborder">{{ slideshows[0].extra_button.text }}</a>
                            {% endif %}
                        {% endif %}
                    </article>
                </div>
            </div>
        </div>
        <button class="back" type="button">
            Vorige
        </button>
        <div class="navigation">
            {% for slide in slideshows %}
                <div class="{% if loop.first %}selected {% endif %}item">
                    <article>
                        <h1>{{ slide.title }}</h1>
                        <p>{{ slide.text }}</p>
                        {% if slide.button is defined %}
                            <a href="{{ slide.button.url | e('html_attr') }}" class="button">{{ slide.button.text }}</a>
                            {% if slide.extra_button is defined %}
                                <a href="{{ slide.extra_button.url | e('html_attr') }}" class="button noborder">{{ slide.extra_button.text }}</a>
                            {% endif %}
                        {% endif %}
                    </article>
                </div>
            {% endfor %}
        </div>
        <button class="next" type="button">
            Volgende
        </button>
    </header>

    <main class="transparent">
        {{ maandplanning | raw }}

        <article class="white block">
            <div class="splitted">
                <figure class="part image" id="over-image">
                    <figcaption>Groepskamp 2015</figcaption>
                </figure>
                <div class="part text">
                    <header>
                        <h1>Over onze scouts</h1>
                    </header>

                    <p>Op de scouts maak je plezier, maar leer je ook op je eigen benen staan, samenwerken en je in te zetten voor de groep en anderen. Bovendien leer je vrienden voor het leven kennen.</p>

                    <p>Elke zondag staat onze leiding paraat om activiteiten te organiseren voor onze leden. Welke dat zijn hangt af van de tak (leeftijdsgroep): spelletjes, een tocht, wafels verkopen, leren sjorren... Alles over de takverdeling vind je op onze info pagina.</p>

                    <p>Alle kinderen vanaf 6 jaar (eerste leerjaar) tot 18 jaar zijn welkom op de scouts. Nieuwe leden ontvangen we met open armen op onze activiteiten, zij kunnen 2 keer langs komen zonder zich te moeten inschrijven. Op de maandplanning hierboven kan je zien wanneer de volgende activiteiten plaatsvinden.</p>
                    
                    <footer>
                        <a href="/info" class="button fill aubergine">Meer info</a>
                        <a href="/inschrijven" class="button aubergine">Inschrijven</a>
                    </footer>
                </div>
            </div>
        </article>

        {{ blog | raw }}

        {{ include('call_to_action.html') }}

    </main>
{% endblock %}