{% set title = 'Pagina niet gevonden' %}
{% set description = 'Deze pagina bestaat niet (meer)' %}
{% extends "base.html" %}

{% block main %}
    <main>
        <section class="block">
            <div class="cta">
                <h1>Onze sponsors</h1>
                <h2>Bedankt om onze werking mogelijk te maken!</h2>
            </div>
            <div id="sponsors">{% for sponsor in sponsors %}{% if sponsor.url is defined %}<a href="{{sponsor.url}}" rel="nofollow">{% else %}<div>{%endif%}<img src="/images/sponsors/{{sponsor.src}}">{% if sponsor.url is defined%}</a>{% else %}</div>{%endif%}{% endfor %}</section>
        </section>
    </main>
{% endblock %}