.price-floater {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    &> div {
        font-size: 24px;
        font-weight: bold;
        padding-right: 15px;
        color: $aubergine;

        &:last-child {
            padding-right: 0;
        }

        span {
            font-weight: normal;
            padding-top: 5px;
            font-size: $size-text;
            display: block;
        }
    }
} 