{% set title = 'Sponsors' %}
{% set description = 'Dit zijn onze sponsors.' %}
{% extends "base.html" %}

{% block main %}
    <main>
        <section class="block">
            <div class="cta" style="text-align: left;">
                <h1>Onze sponsors</h1>
                <h2>Bedankt om onze werking mogelijk te maken!</h2>

                <p>We doen ons best om inschrijvingen, kampen en weekends zo betaalbaar mogelijk te houden voor iedereen. Daarom organiseren we tijdens het jaar verschillende financiële activiteiten, zoals het jaarlijkse eetfestijn (winterfeest), onze wafelbak, onze scoutsfuif Tabula Rasa...</p>
                <p>Tijdens die activiteiten zamelen we ook geld in dat we goed kunnen gebruiken om onze lokalen, terreinen en materiaal te onderhouden en te vernieuwen. Maar daarmee hebben we nog niet voldoende en kunnen we lang niet alles verwezenlijken.</p>
                <p>Daarom willen we via onze website graag alle sponsors van het jaar 2020 enorm bedanken voor hun steun. Je vindt ze hieronder in willekeurige volgorde.</p>
                <p>Heb jij ook interesse om onze scouts te sponsoren? Neem dan zeker contact met ons op via sponsors@scoutswetteren.be</p>
            </div>
            <div id="sponsors">{% for sponsor in sponsors %}{% if sponsor.url is defined %}<a href="{{ sponsor.url }}" rel="nofollow" title="{{sponsor.name}}" target="_blank">{% else %}<div>{%endif%}<img src="{{sponsor.src}}">{% if sponsor.url is defined%}</a>{% else %}</div>{%endif%}{% endfor %}</section>
        </section>
    </main>
{% endblock %}