<form method="post">
    <div class="text">
        <header>
            <h1>Activiteit {% if new %}aanmaken{% else %}aanpassen{% endif %}</h1>
            {% if success %}<h2>Opgeslagen!</h2>{% endif %}
        </header>

        <div class="splitted">
            <div class="part column first">
                <label>Naam</label>
                <input type="text" name="name" value="{{ event.name }}" placeholder="Korte beschrijving van de activiteit">

                <label>Datum</label>
                <input type="text" class="datepicker" name="startdate" value="{{ event.startdate }}" placeholder="Startdatum van de activiteit">

                <label>Tijdstip</label>
                <div class="input-box">
                    Vanaf <input type="text" name="starttime" value="{{ event.starttime }}" placeholder="{{ default_start_hour }}">
                </div>

                <input id="overnachting" type="checkbox" name="overnachting" value="1" {% if event.overnachting %} checked{% endif %}>
                <label for="overnachting">Activiteit met overnachting</label>

                <div class="checkbox-controllable">
                    <div class="visible-when-checked">
                        <label>Einddatum</label>
                        <input type="text" class="datepicker" name="enddate" value="{{ event.enddate }}" placeholder="Einddatum van de activiteit">
                    </div>

                    <label>Tijdstip waarop activiteit stopt</label>
                    <div class="input-box">
                        Om <input type="text" name="endtime" value="{{ event.endtime }}" placeholder="{{ default_end_hour }}">
                    </div>

                    <div class="visible-when-checked">
                        <label>Locatie waar de activiteit stopt</label>
                        <input type="text" class="dropdown" name="endlocation" value="{{ event.endlocation }}" placeholder="{{ default_locatie }}">
                        <div class="dropdown-list">
                            <div class="option">{{ default_locatie }}</div>
                            <div class="option">Station Wetteren</div>
                            <div class="option">Bib Wetteren</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="part column last">
                
                <label>Locatie</label>
                <input type="text" class="dropdown" name="location" value="{{ event.location }}" placeholder="Scoutsterrein">
                <div class="dropdown-list">
                    <div class="option">Scoutsterrein</div>
                    <div class="option">Station Wetteren</div>
                    <div class="option">Bib Wetteren</div>
                </div>
                
                <label>Voor wie?</label>
                <label class="select-box">
                    <select name="group">
                        <option>Maak een keuze</option>
                        {% for group in groups %}
                            <option value="{{ group }}"{% if group == event.group %} selected{% endif %}>{{ group }}</option>
                        {% endfor %}
                    </select>
                </label>

            </div>

        </div>

        <input id="order_sheet" type="checkbox" name="order_sheet" value="1" {% if event.order_sheet %} checked{% endif %}>
        <label for="order_sheet">Formulier toevoegen</label>

        <div class="checkbox-controllable">
            <div class="visible-when-checked">

                <div class="splitted">
                    <div class="part column first">
                        <label>Soort formulier</label>
                        <label class="select-box">
                            <select name="order_sheet_type">
                                <option>Maak een keuze</option>
                                {% for key, type in ordersheet_types %}
                                    <option value="{{ key }}"{% if key == event.order_sheet_type %} selected{% endif %}>
                                        {{ type }}
                                    </option>
                                {% endfor %}
                            </select>
                        </label>
                        
                        <label>Beschrijving</label>
                        <textarea placeholder="Uitleg bovenaan het formulier zichtbaar" name="order_sheet_description">{{ event.order_sheet_description }}</textarea>

                        <label>Beschikbaar tot en met (optioneel)</label>
                        <input type="text" class="datepicker" name="order_sheet_due_date" value="{{ event.order_sheet_due_date }}" placeholder="Tot dag voor begin activiteit">


                        <input id="order_sheet_delivery" type="checkbox" name="order_sheet_delivery" value="1"
                            {% if event.order_sheet_delivery %} checked{% endif %}>
                        <label for="order_sheet_delivery">Leveringen</label>
                        <div class="checkbox-controllable">
                            <div class="visible-when-checked">
                                <p>Leveringskost van 2 euro buiten Oost-Vlaanderen.</p>
                            </div>
                        </div>
                       
                    </div>
                    <div class="part column last">
                        <label>Betalen op bankrekening</label>
                        <label class="select-box">
                            <select name="order_sheet_account">
                                <option>Maak een keuze</option>
                                {% for account in accounts %}
                                    <option value="{{ account.id }}"{% if account.id == event.order_sheet_account %} selected{% endif %}>
                                        {{ account.name }} {% if account.iban is not empty %}({{ account.iban }}){% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </label>

                        <label>GSM-nummer (optioneel)</label>
                        <input type="tel" name="order_sheet_phone" value="{{ event.order_sheet_phone }}" placeholder="GSM-nummer voor meer info">

                        <label>E-mailadres (optioneel)</label>
                        <input type="email" name="order_sheet_mail" value="{{ event.order_sheet_mail }}" placeholder="E-mailadres voor meer info">
                    </div>
                </div>
            </div>
        </div>

        {% if errors|length > 0 %}
            <ul class="error">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <footer>
            <input type="submit" class="main fill" value="Opslaan">
            <a href="/admin/maandplanning" class="button main">Annuleren</a>
            {% if new == false %}
            <a href="/admin/maandplanning/delete/{{ event.id }}" class="button main">Verwijderen</a>
            {% endif %}
        </footer>

    </div>
</form>