<div class="text">

    <h1>Maandplanning</h1>
    <p>Voeg voor elke week in de komende maand een activiteit toe, ook als het geen scouts is. Doe dit consequent en zeker een week op voorhand, zodat ouders op de website kunnen vertrouwen. Voeg belangrijke activiteiten zoals leefweek, weekend en kamp op tijd toe. Je kan ook activiteiten voor ouders aanmaken.</p>

    <a href="/admin/maandplanning/edit/" class="icon-button plus">Activiteit toevoegen</a>

    {% for month in months %}
        <h1>{{ month.month }}</h1>
        <div class="list-bundle">
        {% for event in month.events %}
            <article class="list">
                <div class="medium merlot column">{{ event.date }}</div>
                {% if event.type == 'event' %}
                    <div class="max column">{{ event.description }}</div>
                    <div class="last column">
                        {% if event.event.order_sheet_id is not null %}
                            <a href="/admin/order-sheets/{{ event.event.order_sheet_id }}" class="button noborder">{{ event.event.order_sheet.getButtonName() }}</a>
                        {% endif %}
                        <a href="/admin/maandplanning/edit/{{ event.id }}" class="main button noborder">Aanpassen</a>
                    </div>
                {% else %}
                    <div class="max column bold">Nog geen activiteit toegevoegd</div>
                    <div class="last column">
                        <a href="/admin/maandplanning/edit?name=Geen+scouts+deze+week&amp;date={{ event.full_date | e('html_attr') }}" class="button noborder">Geen scouts</a><a href="/admin/maandplanning/edit?date={{ event.full_date | e('html_attr') }}" class="button noborder">Nieuw</a>
                    </div>
                {% endif %}
            </article>
        {% endfor %}
        </div>
    {% endfor %}

    <div>
        <a href="/admin/maandplanning?all" class="main fill button">Toon alle activiteiten</a>
    </div>

</div>

