<header>
    <h1>Gegevens van ouders</h1>
    <p>Elke ouder kan inloggen met zijn/haar e-mailadres en de inschrijvingen beheren. Deze gegevens worden gebruikt voor de algemene communicatie en voor in noodgevallen.</p>
</header>

<div class="list-bundle">
{% for ouder in ouders %}
    <article class="list">
        <div class="medium merlot column"><a href="/ouders/ouder-aanpassen/{{ ouder.id }}">{{ouder.user.firstname}} {{ouder.user.lastname}}</a></div>
        <div class="small merlot column">{{ouder.titel}}</div>
        <div class="max column">
            {% if ouder.user.mail is not empty %}
                {{ouder.user.mail}}
            {% else %}
                <strong>Geen e-mailadres ingesteld</strong>
            {% endif %}
            {% if not ouder.user.hasPassword() %}
                <br><strong>Heeft nog geen wachtwoord ingesteld</strong>
            {% endif %}
            <br>
            {{ouder.user.phone}}
            <br>
            {{ouder.getAdres}}
            
        </div>
        <div class="last column right">
            <a href="/ouders/ouder-aanpassen/{{ ouder.id | e('html_attr')}}" class="icon-button">
            Wijzigen
            </a>
            {% if not ouder.user.hasPassword() %}
                <a href="/ouders/wachtwoord-instellen/{{ ouder.id | e('html_attr')}}" class="icon-button">
                    Wachtwoord instellen
                </a>
            {% endif %}
        </div>
    </article>
{% endfor %}
</div>


<footer>
    <a href="/ouders/ouder-toevoegen" class="main fill button">Ouder toevoegen</a>
    <a href="/ouders/gezin-nakijken" class="main button">Gezinsituatie aanpassen</a>
</footer>
