.login {

    header {
        text-align: center;
        h1 {
            color: $color-main-dark;
        }
        h2 {
            color: $color-main;
        }
        padding-bottom: 40px;
    }

    footer {
        text-align: center;
        padding-top: 20px;

        .button {
            padding-top: 0;
            margin-top: 0;
        }
    }
}