<section class="block">
    <div class="articles smaller">
        {% include 'blog/articles.html' %}
        <div class="button-bar">
            <div class="inline search-box">
                <input type="text" name="" class="aubergine search" placeholder="Zoeken" data-sail="blog">
                <div class="results-anchor">
                    <div class="results"></div>
                </div>
            </div>


            {% if has_more %}<a class="button aubergine noborder" href="/blog">Meer nieuws</a>{% endif %}
        </div>
    </div>
</section>