{% set title = 'Pagina niet gevonden' %}
{% set description = 'Deze pagina bestaat niet (meer)' %}
{% extends "base.html" %}

{% block main %}
    <main>
         <section class="block">
            <div class="cta">
                <h1>Oeps! Pagina niet gevonden</h1>
                <p>De pagina waar je naar zoekt is mogelijk verplaatst of verwijderd.</p>
                <div><a href="/" class="button main fill">Startpagina</a></div>
            </div>
        </section>
    </main>
{% endblock %}