h1 {
    font-weight: bold;
    font-size: $size-title;
    margin: 30px 0 20px 0;
}

h2 {
    font-weight: normal;
    font-size: $size-subtitle;
    margin: 30px 0 20px 0;
}

header {
    h2 {
        font-size: $size-text-bigger;
    }
}

p {
    margin: 10px 0;
    font-weight: normal;
    font-size: $size-text;
    line-height: 170%;
}

ul {
    padding-left: 20px;
}

li {
    font-size: $size-text;
    font-weight: normal;
    font-size: $size-text;
    line-height: 170%;
    margin: 5px 0;
    padding: 0;
}

pre {
    text-align: left;
}

.smaller {
    h1 {
        font-size: $size-smaller-title;
    }
}

figcaption {
    font-size: $size-text-bigger;
}

a {
    &, &:hover, &:visited, &:active, &:link {
        color: inherit;
        text-decoration: none;
        outline: none;
        border: 0;
    }

    img {
        border: 0;
    }
}

p a, li a {
    &, &:hover, &:visited, &:active, &:link {
        text-decoration: underline;
    }
    
    &:hover {
        color: $color-main;
    }
}

blockquote {
    padding: 0;
    margin: 0;
}

// Resize font sizes on small screens
@media screen and (max-width: 480px), print {

    body, html, p {
        font-size: $size-smartphone-text;
    }

    h1 {
        font-size: $size-smartphone-title;
        margin: 15px 0;
    }

    h2 {
        font-size: $size-smartphone-subtitle;
    }

    .smaller {
        h1 {
            font-size: $size-smaller-smartphone-title;
        }
    }
}

// Resize font sizes on tiny screens
@media screen and (max-width: 320px) {
    h1 {
        font-size: $size-smaller-smartphone-title;
        margin: 15px 0;
    }
}

ul.error {
    padding: 15px 20px;
    margin: 20px 0;
    background: $color-error-shade;

    @media screen and (max-width: 550px) {
        margin: 15px 0;
        padding: 10px 15px;
    }

    li {
        color: $color-error;
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: $size-text-bigger;
        background: url('../'+$theme+'/icons/error.svg') no-repeat left center;
        padding-left: 30px;

        @media screen and (max-width: 550px) {
            font-size: $size-text;
        }

        @media screen and (max-width: 480px), print {
            font-size: $size-smartphone-text;
        }
    }
}
ul.warning {
    padding: 15px 20px;
    margin: 20px 0;
    background: rgba($color-warning, 0.1);

    @media screen and (max-width: 550px) {
        margin: 15px 0;
        padding: 10px 15px;
    }

    li {
        color: $color-warning-text;
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: $size-text-bigger;
        background: url('../'+$theme+'/icons/warning.svg') no-repeat left center;
        padding-left: 30px;

        @media screen and (max-width: 550px) {
            font-size: $size-text;
        }

        @media screen and (max-width: 480px), print {
            font-size: $size-smartphone-text;
        }
    }
}


.text {
    color: $color-text;

    h1, h2 {
        color: $color-main-dark;
    }
    h2 {
        color: $color-main;
    }

    &> header {
        h1 {
            padding: 0;
            margin: 0;
        }
        h2 {
            padding: 0;
            margin: 0;
            color: $color-main;
            margin-top: 15px;
        }
        margin-bottom: 25px
    }

    footer {
        margin-top: 20px;

        a, input[type=submit] {
            margin: 7px;
        }
        a:first-child, input[type=submit]:first-child {
            margin-left: 0;
        }
    }
}
