
{% if leiding_verborgen %}
    <ul class="warning"><li>De leidingsverdeling is nog niet bekend gemaakt en blijft nog even geheim.</li></ul>
{% endif %}

{% if not leiding_verborgen or general.logged_in_leiding %}

    {% if leiding | length > 0 %}

        <article class="block blue">
            <h1>De leiding</h1>
            <p>Deze enthousiaste leidingsploeg staat elke week in voor de {{ taknaam }}</p>
            
            <div class="splitted blocked auto">
                {% for leider in leiding %}
                    <article class="person">
                        {% if leider.getPhoto %}
                            <figure style="background-image: url({{ leider.getPhoto.getBestFit(80, 80).file.getPublicPath }})"></figure>
                        {% endif %}
                        <div>
                            <h1 class="prefix">{% if leider.roepnaam is not empty %}{{ leider.roepnaam }}{% else %}{{ leider.user.firstname }} {{ leider.user.lastname }}{% endif %}</h1>
                            <p>{{ leider.totem }}</p>
                            {% if leider.user.phone and (general.logged_in_leiding or general.logged_in_ouders) %}
                                <p class="suffix">{{ leider.user.phone }}</p>
                            {% endif %}
                        </div>
                    </article>
                {% endfor %}
            </div>
        </article>
    {% else %}
        <ul class="warning"><li>De leiding is nog niet bekend</li></ul>
    {% endif %}
{% endif %}
