

{% if events.0 is defined %}
    <article class="block">
        <div class="splitted blocked bigger">
            <div class="part column first">
        
                {% include 'pages/takken/_maandplanning.maand.html' with {events: events.0 } %}
            </div>
            <div class="part column last">
                {% if events.1 is defined %}
                    {% include 'pages/takken/_maandplanning.maand.html' with {events: events.1 } %}
                {% endif %}
            </div>
        </div>
    </article>

    {% if events.2 is defined %}
        <article class="block">
            <div class="splitted blocked bigger">
                <div class="part column first">
                    {% include 'pages/takken/_maandplanning.maand.html' with {events: events.2 } %}
                </div>
                <div class="part column last">
                    {% if events.3 is defined %}
                    {% include 'pages/takken/_maandplanning.maand.html' with {events: events.3 } %}
                    {% endif %}
                </div>
            </div>
        </article>
    {% endif %}
{% else %}
    <ul class="warning"><li>De maandplanning is nog niet beschikbaar</li></ul>
{% endif %}

