<h1>{{ events.0.getMonthString() | capitalize }}</h1>
{% for event in events %}
    <article>
        {% if event.button_title is not null %}
            <div class="buttons column">
                <a href="{{ event.button_url }}" style="float:right; margin: 0;" class="small main fill button">{{ event.button_title }}</a>
            </div>
        {% else %}
            {% if event.order_sheet_id is not null %}
                <a href="{{ event.order_sheet.getUrl() }}" style="float:right; margin: 0;" class="small main fill button">{{ event.order_sheet.getButtonName() }}</a>
            {% endif %}
        {% endif %}

        <h1 class="prefix">{{ event.getStartDate() | capitalize }}<span>{{ event.getTimeString }}{% if event.location is not empty and not event.isSingleDay %}
                ({{ event.location }})
            {% endif %}</span></h1>
        <p>{{ event.name }}</p>
        {% if not event.isSingleDay %}
            <p class="suffix">Tot {{ event.getEndDate() }} om {{ event.enddate |date ('H:i') }}
                {% if event.endlocation is not empty %}
                    ({{ event.endlocation }})
                {% endif %}
            </p>
        {% else %}
            <p class="suffix">{% if event.location is not empty %}
                    {{ event.location }}
                {% endif %} </p>
        {% endif %}
    </article>
{% endfor %}