{% set title = 'Kapoenen' %}
{% set description = '' %}
{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block main %}
    <main>
        <section class="block white with-menu">
            <nav>
                {% include 'pages/takken/_menu.html' %}
            </nav>
            <div>
                <a class="h1-prefix" href="mailto:kapoenen@scoutssintjan.be">kapoenen@scoutssintjan.be</a>
                <h1>Kapoenen</h1>
                <img src="/sint-jan/images/leiding.jpg">
                <p>Hier een kort tekstje over wat de kapoenen zijn, wat ze doen etc. We komen elke zondag van 14u tot 17u -of 17u30 voor de oudere groepen- samen en spelen allerlei leuke spelletjes waarbij plezier, vriendschap en veiligheid centraal staan! Soms spelen we eens een avondspel op vrijdag of zaterdag en we gaan ook elk jaar twee keer op weekend en in de zomervakantie (juli) op kamp!</p>
    

                <article class="block blue">
                    <h1>De leiding</h1>
                    <p>Deze enthausiaste leidingsploeg staat elke week in voor de kapoenen</p>
                    
                    <div class="splitted blocked">
                        <div class="part column first">
                            <article class="person">
                                <figure style="background-image: url(/sint-jan/images/originelen/leiding/portretten/Aline.JPG)"></figure>
                                <div>
                                    <h1 class="prefix">Joana doe</h1>
                                    <p>Voorzichtige leeuw</p>
                                    <p class="suffix">+32 479 44 52 34</p>
                                </div>
                            </article>
                            <article class="person">
                                <figure style="background-image: url(/sint-jan/images/originelen/leiding/portretten/Arne.JPG)"></figure>
                                <div>
                                    <h1 class="prefix">Joana doe</h1>
                                    <p>Voorzichtige leeuw</p>
                                </div>
                            </article>
                            <article class="person">
                                <figure style="background-image: url(/sint-jan/images/originelen/leiding/portretten/Bavo.JPG)"></figure>
                                <div>
                                    <h1 class="prefix">Joana doe</h1>
                                    <p>Voorzichtige leeuw</p>
                                </div>
                            </article>
                        </div>

                        <div class="part column last">
                            <article class="person">
                                <figure style="background-image: url(/sint-jan/images/originelen/leiding/portretten/Emma.JPG)"></figure>
                                <div>
                                    <h1 class="prefix">Joana doe</h1>
                                    <p>Voorzichtige leeuw</p>
                                </div>
                            </article>
                            <article class="person">
                                <figure style="background-image: url(/sint-jan/images/originelen/leiding/portretten/Eva.JPG)"></figure>
                                <div>
                                    <h1 class="prefix">Joana doe</h1>
                                    <p>Voorzichtige leeuw</p>
                                </div>
                            </article>
                        </div>
                    </div>

                    <footer>
                        <a href="" class="button main">Inloggen</a><span>Log in om de contactgegevens van de leiding te bekijken.</span>
                    </footer>
                </article>

                <article class="block">
                    <div class="splitted blocked">
                        <div class="part column first">
                            <h1>September</h1>
                            <article>
                                <h1 class="prefix">Vrijdag, <span>12 september van 14:00 tot 17:30</span></h1>
                                <p>Startdag</p>
                            </article>
                            <article>
                                <h1 class="prefix">Vrijdag, <span>12 september van 14:00 tot 17:30</span></h1>
                                <p>Startdag</p>
                            </article>
                            <article>
                                <h1 class="prefix">Vrijdag, <span>12 september van 14:00 tot 17:30</span></h1>
                                <p>Startdag</p>
                            </article>
                            <article>
                                <h1 class="prefix">Vrijdag, <span>12 september van 14:00 tot 17:30</span></h1>
                                <p>Startdag</p>
                            </article>
                        </div>
                        <div class="part column last">
                            <h1>Oktober</h1>
                            <article>
                                <h1 class="prefix">Vrijdag, <span>12 september van 14:00 tot 17:30</span></h1>
                                <p>Startdag</p>
                            </article>
                            <article>
                                <h1 class="prefix">Vrijdag, <span>12 september van 14:00 tot 17:30</span></h1>
                                <p>Startdag</p>
                            </article>
                            <article>
                                <h1 class="prefix">Vrijdag, <span>12 september van 14:00 tot 17:30</span></h1>
                                <p>Startdag</p>
                            </article>
                            <article>
                                <h1 class="prefix">Vrijdag, <span>12 september van 14:00 tot 17:30</span></h1>
                                <p>Startdag</p>
                            </article>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
{% endblock %}