@mixin main-gradient() {
    @include main-alternative-gradient($color-main, $color-main-gradient-destination);
}

@mixin main-alternative-gradient($color-main, $color-main-gradient-destination) {
    background: $color-main;
    background: linear-gradient(to right, $color-main, $color-main-gradient-destination);
    position: relative;
    z-index: 0;
}
