$font-family: 'Ubuntu';
$menu-height: 80px;
$border-radius: 4px;
$checkbox-border-radius: $border-radius;
$border-width: 3px;
$menu-margin: 60px;
$theme: 'sint-jan';

// Color variables
$color-main-dark: #3E0007;
$color-main: #FF3333;
$color-main-shade: #FFECEC;
$color-main-gray: rgba($color-main-dark, 0.4);
$color-main-gradient-destination: #FF3370;


$color-main-alternative: #0062F4;
$color-main-alternative-shade: #ECF4FF;
$color-main-alternative-dark: #001640;
$color-main-alternative-gray: rgba($color-main-alternative-dark, 0.4);
$color-main-alternative-gradient-destination: #1400F4;

$color-background-shade: rgba(black, 0.03);

// Not used outside admin (default to other colors)
$color-text: $color-main-dark;
$gray: $color-main-gray;

$color-error: $color-main;
$color-error-shade: $color-main-shade;
$color-warning: #FFC633;
$color-warning-text: #947320;

// Should get moved to scoutswetteren
$color-background-shade-darker: #F8F8F8;

// Should get moved to scoutswetteren
$color-border: rgba($color-main-dark, 0.15);//#EAEAEA;
$form-border-color: rgba($color-main-dark, 0.2);
$form-placeholder-color: $color-main-gray;

// Sizes
$page-width: 1200px;

$size-title: 30pt;
$size-title-bigger: 50px;

$size-smartphone-title: 22pt;
$size-smaller-title: 24pt;
$size-smaller-smartphone-title: 18pt;

$size-prefix: 14px;
$size-text: 16px;
$size-smartphone-text: 10pt;
$size-smartphone-prefix: 11px;

$size-text-bigger: 14pt;
$size-question: 16pt;

$size-subtitle: 20pt;
$size-smartphone-subtitle: 14pt;

$size-button: 15px;
$size-button-big: 15px;
$size-button-mini: 11px;

$page-width-stop-splitted: 1000px;

$page-width-reduce-padding: 500px;
$smartphone-padding: 15px;


// Overrides
$color-menu-background: $color-main-alternative-dark;
