<section class="block">
    <div class="articles smaller">
        {% for article in articles %}
            <div class="article-container">
                <article>
                    <header>
                        <h1>{{ article.title }}</h1>
                        <h2>{{ article.date }}</h2>
                    </header>
                    <blockquote cite="{{ article.url |e('html_attr') }}">
                        <p>{{ article.short }}</p>
                    </blockquote>
                    
                    <div class="gradient"></div>
                    <div class="overlay">
                        <a href="{{ article.url |e('html_attr') }}" class="button merlot">Verder lezen</a>
                    </div>
                </article>
            </div>
        {% else %}
            <h1>Geen artikels gevonden</h1>
        {% endfor %}

        <div class="button-bar">
            <input type="text" name="" class="aubergine search" placeholder="Zoeken">

            {% if has_more %}<button class="button aubergine noborder">Meer nieuws</button>{% endif %}
        </div>
    </div>
</section>