<div>
    <div>
        <button class="button noborder arrow-left main" onclick="previousWeek();">Vorige</button>
        <button class="button noborder arrow-right main" onclick="nextWeek();">Volgende week</button>
    </div>

    {% for day in days %}
        {% for activity in day.activities %}
            <script type="application/ld+json">
                {
                    "@context": "http://www.schema.org",
                    "@type": "Event",
                    "name": {{ activity.name_js | raw}},
                    "url": "{{ http }}",
                    "organizer": {
                        "@type": "Organization",
                        "name": "{{ environment.name }}",
                        "url": "{{ http }}"
                    },
                    "startDate": "{{ activity.time_start_js }}",
                    "endDate": "{{ activity.time_start_js }}",
                    "location": {
                        "@type": "Place",
                        "name": {{ activity.location_js | raw }}
                    }
                }
            </script>
        {% endfor %}
    {% endfor %}

    {% for day in days %}
        <h1>{{ day.weekday }}<time datetime="{{ day.date_raw }}">{{ day.date }}</time></h1>
        {% for activity in day.activities %}

            <article>
                <header>
                    <div>
                        <span class="group">{{ activity.group }}</span>
                        <span class="time" datetime="{{ activity.time_raw }}">{{ activity.time }}</span>
                    </div>
                    <h1>{{ activity.description }}</h1>
                </header>

                {% if activity.event.button_title is not null %}
                    <div class="buttons column">
                        <a href="{{ activity.event.button_url }}" class="small main button noborder">{{ activity.event.button_title }}</a>
                    </div>
                {% else %}
                    {% if activity.event.order_sheet_id is not null %}
                        <div class="buttons column">
                            <a href="{{ activity.event.order_sheet.getUrl() }}" class="small main button noborder">{{ activity.event.order_sheet.getButtonName() }}</a>
                        </div>
                    {% endif %}
                {% endif %}
            </article>
        {% endfor %}
    {% else %}
        <h1>Geen activiteiten deze week</h1>
    {% endfor %}
    
</div>